workflows/adzuna_auto_job_search_v2_0_WcgJ0avUv7u9pjLN.json
{
  "updatedAt": "2026-03-27T23:27:50.930Z",
  "createdAt": "2026-03-27T23:09:36.758Z",
  "id": "WcgJ0avUv7u9pjLN",
  "name": "Adzuna_auto_job_search v2.0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [ items[0] ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        928
      ],
      "id": "c07a4b47-36c3-4c59-8927-7219d704022c",
      "name": "Trigger Searches"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4032,
        800
      ],
      "id": "f860bcc4-d7ec-4f32-85bb-22c18c153b8b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  min_salary_perm: 65000,\n  min_salary_contract: 70000,\n  results_per_page: 50\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        928
      ],
      "id": "8680c490-82a7-4a9a-bb42-d416454804e1",
      "name": "Global Configuration"
    },
    {
      "parameters": {
        "jsCode": "// Input is already one job per item\nconst jobs = items.map(i => i.json);\n\nconst blacklist = [\n  'software developer',\n  'software engineer',\n  'frontend',\n  'backend',\n  'full stack',\n  'trainee',\n  'coding'\n];\n\nconst whitelist = [\n  'database administrator',\n  'dba',\n  'sql server',\n  'mysql',\n  'sybase',\n  'ase',\n  'replication',\n  'performance tuning'\n];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  const body  = (job.description || '').toLowerCase();\n  const fullText = `${title} ${body}`;\n\n  const hasDBA = whitelist.some(w => fullText.includes(w));\n\n  // 🔒 Only kill if title CLEARLY indicates dev role\n  const isDevTitle = blacklist.some(b => title.includes(b));\n\n  return hasDBA && !isDevTitle;\n});\n\n// Return as n8n items\nreturn filtered.map(job => ({ json: job }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5744,
        944
      ],
      "id": "db79bae5-6f3c-42a5-a453-9b3f537dc312",
      "name": "Filter – Exclude Programming Jobs"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const job = item.json;\n\n  // Detect contract from text (critical fix)\n  const desc = (job.description || '').toLowerCase();\n  const title = (job.title || '').toLowerCase();\n\n  const isDailyRate =\n    /per day|\\/day|daily rate|inside ir35|outside ir35/i.test(desc);\n\n  const isContract =\n    job.contract_type === 'contract' ||\n    job.contract_time === 'contract' ||\n    isDailyRate;\n\n  const isPermanent =\n    !isContract &&\n    (job.contract_time === 'full_time' || job.contract_type === 'permanent');\n\n  return {\n    json: {\n      // Stable identifiers\n      job_id: job.id || null,\n      source: 'Adzuna',\n\n      // Core job info\n      title: job.title || '',\n      company: job.company?.display_name || '',\n      location: job.location?.display_name || '',\n\n      // DBA-critical content\n      job_description: job.description || '',\n\n      // Apply path\n      apply_url: job.redirect_url || '',\n\n      // Compensation\n      salary_min: job.salary_min || null,\n      salary_max: job.salary_max || null,\n      salary_is_estimated: job.salary_is_predicted || false,\n\n      // Job metadata (preserve raw values)\n      contract_type: job.contract_type || job.contract_time || null,\n      employment_type: job.contract_time || null,\n      posted_at: job.created || null,\n      category: job.category?.tag || null,\n\n      // ✅ Derived helpers (FIXED)\n      is_contract: isContract,\n      is_permanent: isPermanent,\n\n      // Text block for LLM (DO NOT CHANGE STRUCTURE)\n      llm_input: `\nJob Title:\n${job.title || 'N/A'}\n\nCompany:\n${job.company?.display_name || 'N/A'}\n\nLocation:\n${job.location?.display_name || 'N/A'}\n\nContract Type:\n${job.contract_type || job.contract_time || 'N/A'}\n\nSalary:\n${job.salary_min || 'N/A'} – ${job.salary_max || 'N/A'}\n\nJob Description:\n${job.description || 'N/A'}\n`.trim()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        944
      ],
      "id": "9a74a1f4-22b1-4a0c-8925-4cd99cfc3bbc",
      "name": "Normalize – DBA Job for LLM"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6704,
        976
      ],
      "id": "3bb0bf95-3bd3-4c58-8703-6d925baea77b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the following job for this candidate.\n\nCANDIDATE ANCHOR:\n- Senior Database Administrator with 25+ years experience.\n- Background: High-stakes Finance and Healthcare sectors.\n- This candidate is an EXPERT.\n- Treat \"Associate\" or \"Junior\" responsibilities as a mismatch.\n- Role preference: Hands-on operational / production DBA\n  (NOT application development, NOT BI, NOT reporting).\n\nCORE TECH STACK (Each is a PRIMARY skill):\n- Microsoft SQL Server (Expert: AlwaysOn, FCI, HA/DR, migrations)\n- Sybase ASE / Replication Server (Expert)\n- MySQL (Production replication & administration)\n\nEVALUATION RULES:\n1. SINGLE-SKILL RULE (OR logic, not AND):\n   A role that is 100% SQL Server OR 100% Sybase OR 100% MySQL can still be a 100% technical match.\n2. OPERATIONAL INFERENCE:\n   If the role mentions maintenance, upgrades, HA/DR, incidents, or ownership,\n   assume on-call and production responsibility even if not explicitly stated.\n3. SENIORITY MISMATCH:\n   If the role emphasises learning, training, mentoring-only, or entry-level growth,\n   score MUST be capped at 15 and recommendation MUST be SKIP.\n4. IGNORE COMPENSATION:\n   Salary, rate, benefits, or contract value MUST NOT affect scoring or recommendation.\n\nTASK:\n1. Assign a technical suitability score from 0–100 (ignore compensation).\n2. Decide: APPLY | MAYBE | SKIP based purely on role fit and seniority.\n3. Classify the role type.\n\nROLE TYPES:\n- DBA_ADMIN        (Production / Operations / Support)\n- DBA_ENGINEER     (Build / Automation / Platform)\n- DATA_ENGINEER    (ETL / Pipelines / Analytics)\n- DEVOPS           (Cloud / Infra-first)\n- MANAGEMENT       (People / Strategy Mgt)\n- NOT_DBA          (Dev / BI / Integration)\n\nOUTPUT FORMAT EXAMPLE:\n{\n  \"score\": 85,\n  \"role_type\": \"DBA_ADMIN\",\n  \"recommendation\": \"APPLY\",\n  \"reason\": \"Expert SQL Server HA/DR matches candidate seniority and mission-critical background.\"\n}\n\nJOB DATA:\n{{ $json.llm_input }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are an IT headhunter evaluating senior Database Administrator roles for a highly experienced, 25+ year hands-on DBA.  Judge REAL suitability. Do not be optimistic.  IMPORTANT SCOPE RULE: - Ignore all compensation, salary, rate, or benefits information. - Do NOT make decisions based on pay, rate, or contract value. - Salary filtering is handled externally and must NOT influence scoring or recommendation.  EVALUATION FOCUS: - Hands-on production DBA work (Provisioning, HA/DR, Replication, Performance Tuning). - Mission-critical operational ownership (On-call, Incident response, Upgrades). - Regulated / high-stakes environments (Finance, Banking, Healthcare).  CRITICAL EXCLUSIONS: - JUNIOR/TRAINEE: Score 15, SKIP. - INTEGRATION-ONLY: Score 15, SKIP. - NON-PRODUCTION: Score 15, SKIP.  ROLE INTERPRETATION RULES: - Senior/Lead/Principal = Hands-on unless proven otherwise. - SINGLE-PLATFORM = 100% MATCH if in core stack.  OUTPUT FORMAT (STRICT): Return ONLY valid JSON. No markdown. No conversational filler."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        6528,
        832
      ],
      "id": "9410a8c1-a5ed-47fe-a992-856b9c8ac1fc",
      "name": "LLM – DBA Job Scoring",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = (item.json.text || '').trim();\nconst originalJob = $('Wait – Rate Limit').item.json;\n\nlet parsed;\ntry {\n  // Handle potential markdown code blocks return by some LLMs\n  const cleanJson = raw.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  // Robust Fallback: Log error and mark for manual review/skip\n  return {\n    json: {\n      ...originalJob,\n      score: 0,\n      role_type: 'NOT_DBA',\n      recommendation: 'SKIP',\n      reason: 'LLM Error: Failed to parse response JSON.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...originalJob,\n    score: parsed.score || 0,\n    role_type: parsed.role_type || 'NOT_DBA',\n    recommendation: parsed.recommendation || 'SKIP',\n    reason: parsed.reason || 'Missing reason in LLM response.'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7024,
        1152
      ],
      "id": "a67d6155-8322-431e-8573-fa97d1bcfb7b",
      "name": "Parse LLM Result"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4464,
        928
      ],
      "id": "96ee7717-8baf-48e6-bbca-d1b6b4635302",
      "name": "Load Sent Job History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newJobs = $(\"Normalize – DBA Job for LLM\").all();\nconst sentHistory = $(\"Load Sent Job History\").all();\n\nconst sentIds = new Set(sentHistory.map(item => item.json.job_id));\n\n// Return only items NOT in the sent history\nreturn newJobs.filter(item => !sentIds.has(item.json.job_id));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        944
      ],
      "id": "43211028-3156-4ee5-bf21-3b2674c9ab5d",
      "name": "Filter Out Sent Jobs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7888,
        1152
      ],
      "id": "e367a63a-fcca-463a-8526-60aa4429b1d4",
      "name": "For each match job"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8288,
        1152
      ],
      "id": "c49a6c3f-cd7f-4e22-a4a1-594072e8e36b",
      "name": "Send Job to GMAIL",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Current job item \nconst job = $('Parse LLM Result').item.json;\n\n// Safe helper\nconst safe = (v) => (v === undefined || v === null || v === '' ? 'N/A' : v);\n\n// Description handling\nconst desc = job.job_description || '';\nconst shortDesc =\n  desc.length > 2000\n    ? desc.slice(0, 2000).replace(/\\n/g, '<br>') +\n      '<br><br><em>[Description truncated]</em>'\n    : desc.replace(/\\n/g, '<br>');\n\n// Subject\nconst subject = `[DBA Job Match – ${safe(job.score)}] ${safe(job.title)} – ${safe(job.company)}`;\n\nreturn {\n  json: {\n    to: 'edwardtong@gmail.com',\n    subject,\n    html: `\n<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #222;\">\n\n  <h2 style=\"margin-bottom: 4px;\">${safe(job.title)}</h2>\n\n  <p style=\"margin-top: 0; color: #555;\">\n    <strong>${safe(job.company)}</strong> · ${safe(job.location)}\n  </p>\n\n  <hr>\n\n  <table cellpadding=\"6\" cellspacing=\"0\">\n    <tr><td><strong>Score</strong></td><td>${safe(job.score)}</td></tr>\n    <tr><td><strong>Recommendation</strong></td><td>${safe(job.recommendation)}</td></tr>\n    <tr><td><strong>Reason</strong></td><td>${safe(job.reason)}</td></tr>\n    <tr><td><strong>Salary</strong></td>\n        <td>£${safe(job.salary_min)} – £${safe(job.salary_max)}</td></tr>\n    <tr><td><strong>Contract</strong></td><td>${safe(job.contract_type)}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0;\">\n    <a href=\"${safe(job.apply_url)}\"\n       style=\"background:#1a73e8;color:#fff;padding:10px 16px;\n              text-decoration:none;border-radius:4px;font-weight:bold;\">\n      Apply for this job →\n    </a>\n  </p>\n\n  <hr>\n\n  <h3>Job Description</h3>\n  <p style=\"line-height:1.5;\">${shortDesc || '<em>No description provided</em>'}</p>\n\n  <hr>\n\n  <p style=\"font-size:12px;color:#777;\">\n    Sent automatically by n8n · Source: ${safe(job.source)}\n  </p>\n\n</div>\n`.trim()\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8112,
        1152
      ],
      "id": "02948969-fa7e-4d10-9443-7c996411a36c",
      "name": "Prepare Gmail HTTP Format"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 14 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        4032,
        1072
      ],
      "id": "e0b68419-216e-4080-ac5d-68699cb5cafa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of items) {\n  const job = item.json;\n\n  // Primary key: Adzuna job ID\n  let key = job.id;\n\n  // Fallback if ID is missing (rare)\n  if (!key) {\n    key = [\n      job.title || '',\n      job.company?.display_name || '',\n      job.location?.display_name || ''\n    ].join('|').toLowerCase();\n  }\n\n  // Deduplicate\n  if (!seen.has(key)) {\n    seen.add(key);\n    output.push({ json: job });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        944
      ],
      "id": "ddd401e4-baae-4548-9d40-e6b0f51af0d1",
      "name": "Deduplication"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "Berkshire"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4848,
        848
      ],
      "id": "7cd479a3-0805-4885-b6de-4430b68048d1",
      "name": "Adzuna – Search IT Jobs in Berkshire"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "London"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4848,
        1040
      ],
      "id": "92c52139-60f2-4dcb-91b0-8b70cb6cb2dd",
      "name": "Adzuna – Search IT Jobs in London"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5296,
        944
      ],
      "id": "d3d7e857-a9f2-4079-8465-2dc5a091a464",
      "name": "Merge Jobs"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        848
      ],
      "id": "4cc7fbb3-06f6-42a7-92a1-07d355a75be6",
      "name": "Convert Jobs - Berkshire"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        1040
      ],
      "id": "aebf59a5-df79-4496-87fe-64ce227ac0e4",
      "name": "Convert Jobs - London"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c895134-c02f-4827-9cb0-74f9152d697e",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "APPLY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6d8d97b8-fb43-4f1c-893e-f59b72834b2a",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "=MAYBE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7424,
        1152
      ],
      "id": "36710a3f-aa17-4b1e-a8e4-9b058b1021a4",
      "name": "Job Descripton Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bed7d60a-2182-46b3-b848-f7f434803e47",
              "leftValue": "={{\n  (\n    ($('Parse LLM Result').item.json.is_contract === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_contract) ||\n    ($('Parse LLM Result').item.json.is_permanent === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_perm)\n  )\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7664,
        1152
      ],
      "id": "3b8b7cdd-54da-4682-9ab5-5a29da338db0",
      "name": "Meet Salary Filter?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6288,
        944
      ],
      "id": "6f6dd7ca-fc28-49a0-ac2e-2a08e5f8e827",
      "name": "Split – LLM Throttle"
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        944
      ],
      "id": "45cfce10-62ab-403e-adb3-0fd52e7483b1",
      "name": "Wait – Rate Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        4624,
        608
      ],
      "id": "85dcc9c5-64a1-48f5-93da-78d417883417",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "score": "={{ $json.score }}",
            "sent_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        1152
      ],
      "id": "a91ed9f8-08e7-400f-83fd-54fd7d9cf3b4",
      "name": "Record Seen Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "edwardtong@gmail.com",
        "subject": "=Workflow Failure: Adzuna Job Search ({{ $json.node.name }})",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ffcccc; background: #fff5f5; color: #900;\">\n  <h2 style=\"margin-top: 0;\">❌ Workflow Failure</h2>\n  <p><strong>Workflow:</strong> Adzuna_auto_job_search</p>\n  <p><strong>Failed Node:</strong> {{ $json.node.name }} ({{ $json.node.type }})</p>\n  <p><strong>Error Message:</strong><br><code style=\"background: #eee; padding: 4px; display: block; margin: 10px 0; border: 1px solid #ddd;\">{{ $json.error.message }}</code></p>\n  <p><strong>Execution ID:</strong> {{ $json.execution.id }}</p>\n  <hr style=\"border: 0; border-top: 1px solid #ffcccc; margin: 20px 0;\">\n  <p style=\"margin-bottom: 0;\">\n    <a href=\"{{ $json.execution.url }}\" style=\"background: #d93025; color: white; padding: 10px 15px; text-decoration: none; border-radius: 4px; font-weight: bold;\">\n      View Execution in n8n\n    </a>\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4832,
        608
      ],
      "id": "6b41a7b0-220a-44b0-ad2c-a8327dc3de39",
      "name": "Gmail for Job Failure",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Configuration": {
      "main": [
        [
          {
            "node": "Load Sent Job History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter – Exclude Programming Jobs": {
      "main": [
        [
          {
            "node": "Normalize – DBA Job for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize – DBA Job for LLM": {
      "main": [
        [
          {
            "node": "Filter Out Sent Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sent Job History": {
      "main": [
        [
          {
            "node": "Trigger Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Searches": {
      "main": [
        [
          {
            "node": "Adzuna – Search IT Jobs in Berkshire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Adzuna – Search IT Jobs in London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Sent Jobs": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split – LLM Throttle": {
      "main": [
        [],
        [
          {
            "node": "Wait – Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Rate Limit": {
      "main": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Seen Jobs": {
      "main": [
        [
          {
            "node": "Job Descripton Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM – DBA Job Scoring": {
      "main": [
        [
          {
            "node": "Parse LLM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Result": {
      "main": [
        [
          {
            "node": "Record Seen Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For each match job": {
      "main": [
        [],
        [
          {
            "node": "Prepare Gmail HTTP Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Job to GMAIL": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gmail HTTP Format": {
      "main": [
        [
          {
            "node": "Send Job to GMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication": {
      "main": [
        [
          {
            "node": "Filter – Exclude Programming Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in Berkshire": {
      "main": [
        [
          {
            "node": "Convert Jobs - Berkshire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in London": {
      "main": [
        [
          {
            "node": "Convert Jobs - London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Jobs": {
      "main": [
        [
          {
            "node": "Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - Berkshire": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - London": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Job Descripton Filter": {
      "main": [
        [
          {
            "node": "Meet Salary Filter?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meet Salary Filter?": {
      "main": [
        [
          {
            "node": "Prepare Gmail HTTP Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail for Job Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-18T16:18:01.803+00:00",
          "Readable date": "February 18th 2026, 4:18:01 pm",
          "Readable time": "4:18:01 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "18",
          "Hour": "16",
          "Minute": "18",
          "Second": "01",
          "Timezone": "Europe/London (UTC+00:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "750629a0-f604-4527-b0f1-08f40d9bef29",
  "activeVersionId": "750629a0-f604-4527-b0f1-08f40d9bef29",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T23:09:36.761Z",
      "createdAt": "2026-03-27T23:09:36.761Z",
      "role": "workflow:owner",
      "workflowId": "WcgJ0avUv7u9pjLN",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-27T23:32:33.000Z",
    "createdAt": "2026-03-27T23:27:50.932Z",
    "versionId": "750629a0-f604-4527-b0f1-08f40d9bef29",
    "workflowId": "WcgJ0avUv7u9pjLN",
    "nodes": [
      {
        "parameters": {
          "jsCode": "return [ items[0] ];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4624,
          928
        ],
        "id": "c07a4b47-36c3-4c59-8927-7219d704022c",
        "name": "Trigger Searches"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          4032,
          800
        ],
        "id": "f860bcc4-d7ec-4f32-85bb-22c18c153b8b",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "jsCode": "return {\n  min_salary_perm: 65000,\n  min_salary_contract: 70000,\n  results_per_page: 50\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4272,
          928
        ],
        "id": "8680c490-82a7-4a9a-bb42-d416454804e1",
        "name": "Global Configuration"
      },
      {
        "parameters": {
          "jsCode": "// Input is already one job per item\nconst jobs = items.map(i => i.json);\n\nconst blacklist = [\n  'software developer',\n  'software engineer',\n  'frontend',\n  'backend',\n  'full stack',\n  'trainee',\n  'coding'\n];\n\nconst whitelist = [\n  'database administrator',\n  'dba',\n  'sql server',\n  'mysql',\n  'sybase',\n  'ase',\n  'replication',\n  'performance tuning'\n];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  const body  = (job.description || '').toLowerCase();\n  const fullText = `${title} ${body}`;\n\n  const hasDBA = whitelist.some(w => fullText.includes(w));\n\n  // 🔒 Only kill if title CLEARLY indicates dev role\n  const isDevTitle = blacklist.some(b => title.includes(b));\n\n  return hasDBA && !isDevTitle;\n});\n\n// Return as n8n items\nreturn filtered.map(job => ({ json: job }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5744,
          944
        ],
        "id": "db79bae5-6f3c-42a5-a453-9b3f537dc312",
        "name": "Filter – Exclude Programming Jobs"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const job = item.json;\n\n  // Detect contract from text (critical fix)\n  const desc = (job.description || '').toLowerCase();\n  const title = (job.title || '').toLowerCase();\n\n  const isDailyRate =\n    /per day|\\/day|daily rate|inside ir35|outside ir35/i.test(desc);\n\n  const isContract =\n    job.contract_type === 'contract' ||\n    job.contract_time === 'contract' ||\n    isDailyRate;\n\n  const isPermanent =\n    !isContract &&\n    (job.contract_time === 'full_time' || job.contract_type === 'permanent');\n\n  return {\n    json: {\n      // Stable identifiers\n      job_id: job.id || null,\n      source: 'Adzuna',\n\n      // Core job info\n      title: job.title || '',\n      company: job.company?.display_name || '',\n      location: job.location?.display_name || '',\n\n      // DBA-critical content\n      job_description: job.description || '',\n\n      // Apply path\n      apply_url: job.redirect_url || '',\n\n      // Compensation\n      salary_min: job.salary_min || null,\n      salary_max: job.salary_max || null,\n      salary_is_estimated: job.salary_is_predicted || false,\n\n      // Job metadata (preserve raw values)\n      contract_type: job.contract_type || job.contract_time || null,\n      employment_type: job.contract_time || null,\n      posted_at: job.created || null,\n      category: job.category?.tag || null,\n\n      // ✅ Derived helpers (FIXED)\n      is_contract: isContract,\n      is_permanent: isPermanent,\n\n      // Text block for LLM (DO NOT CHANGE STRUCTURE)\n      llm_input: `\nJob Title:\n${job.title || 'N/A'}\n\nCompany:\n${job.company?.display_name || 'N/A'}\n\nLocation:\n${job.location?.display_name || 'N/A'}\n\nContract Type:\n${job.contract_type || job.contract_time || 'N/A'}\n\nSalary:\n${job.salary_min || 'N/A'} – ${job.salary_max || 'N/A'}\n\nJob Description:\n${job.description || 'N/A'}\n`.trim()\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5920,
          944
        ],
        "id": "9a74a1f4-22b1-4a0c-8925-4cd99cfc3bbc",
        "name": "Normalize – DBA Job for LLM"
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          6704,
          976
        ],
        "id": "3bb0bf95-3bd3-4c58-8703-6d925baea77b",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Evaluate the following job for this candidate.\n\nCANDIDATE ANCHOR:\n- Senior Database Administrator with 25+ years experience.\n- Background: High-stakes Finance and Healthcare sectors.\n- This candidate is an EXPERT.\n- Treat \"Associate\" or \"Junior\" responsibilities as a mismatch.\n- Role preference: Hands-on operational / production DBA\n  (NOT application development, NOT BI, NOT reporting).\n\nCORE TECH STACK (Each is a PRIMARY skill):\n- Microsoft SQL Server (Expert: AlwaysOn, FCI, HA/DR, migrations)\n- Sybase ASE / Replication Server (Expert)\n- MySQL (Production replication & administration)\n\nEVALUATION RULES:\n1. SINGLE-SKILL RULE (OR logic, not AND):\n   A role that is 100% SQL Server OR 100% Sybase OR 100% MySQL can still be a 100% technical match.\n2. OPERATIONAL INFERENCE:\n   If the role mentions maintenance, upgrades, HA/DR, incidents, or ownership,\n   assume on-call and production responsibility even if not explicitly stated.\n3. SENIORITY MISMATCH:\n   If the role emphasises learning, training, mentoring-only, or entry-level growth,\n   score MUST be capped at 15 and recommendation MUST be SKIP.\n4. IGNORE COMPENSATION:\n   Salary, rate, benefits, or contract value MUST NOT affect scoring or recommendation.\n\nTASK:\n1. Assign a technical suitability score from 0–100 (ignore compensation).\n2. Decide: APPLY | MAYBE | SKIP based purely on role fit and seniority.\n3. Classify the role type.\n\nROLE TYPES:\n- DBA_ADMIN        (Production / Operations / Support)\n- DBA_ENGINEER     (Build / Automation / Platform)\n- DATA_ENGINEER    (ETL / Pipelines / Analytics)\n- DEVOPS           (Cloud / Infra-first)\n- MANAGEMENT       (People / Strategy Mgt)\n- NOT_DBA          (Dev / BI / Integration)\n\nOUTPUT FORMAT EXAMPLE:\n{\n  \"score\": 85,\n  \"role_type\": \"DBA_ADMIN\",\n  \"recommendation\": \"APPLY\",\n  \"reason\": \"Expert SQL Server HA/DR matches candidate seniority and mission-critical background.\"\n}\n\nJOB DATA:\n{{ $json.llm_input }}\n",
          "messages": {
            "messageValues": [
              {
                "message": "You are an IT headhunter evaluating senior Database Administrator roles for a highly experienced, 25+ year hands-on DBA.  Judge REAL suitability. Do not be optimistic.  IMPORTANT SCOPE RULE: - Ignore all compensation, salary, rate, or benefits information. - Do NOT make decisions based on pay, rate, or contract value. - Salary filtering is handled externally and must NOT influence scoring or recommendation.  EVALUATION FOCUS: - Hands-on production DBA work (Provisioning, HA/DR, Replication, Performance Tuning). - Mission-critical operational ownership (On-call, Incident response, Upgrades). - Regulated / high-stakes environments (Finance, Banking, Healthcare).  CRITICAL EXCLUSIONS: - JUNIOR/TRAINEE: Score 15, SKIP. - INTEGRATION-ONLY: Score 15, SKIP. - NON-PRODUCTION: Score 15, SKIP.  ROLE INTERPRETATION RULES: - Senior/Lead/Principal = Hands-on unless proven otherwise. - SINGLE-PLATFORM = 100% MATCH if in core stack.  OUTPUT FORMAT (STRICT): Return ONLY valid JSON. No markdown. No conversational filler."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          6528,
          832
        ],
        "id": "9410a8c1-a5ed-47fe-a992-856b9c8ac1fc",
        "name": "LLM – DBA Job Scoring",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = (item.json.text || '').trim();\nconst originalJob = $('Wait – Rate Limit').item.json;\n\nlet parsed;\ntry {\n  // Handle potential markdown code blocks return by some LLMs\n  const cleanJson = raw.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  // Robust Fallback: Log error and mark for manual review/skip\n  return {\n    json: {\n      ...originalJob,\n      score: 0,\n      role_type: 'NOT_DBA',\n      recommendation: 'SKIP',\n      reason: 'LLM Error: Failed to parse response JSON.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...originalJob,\n    score: parsed.score || 0,\n    role_type: parsed.role_type || 'NOT_DBA',\n    recommendation: parsed.recommendation || 'SKIP',\n    reason: parsed.reason || 'Missing reason in LLM response.'\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7024,
          1152
        ],
        "id": "a67d6155-8322-431e-8573-fa97d1bcfb7b",
        "name": "Parse LLM Result"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
            "mode": "list",
            "cachedResultName": "n8n_sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4464,
          928
        ],
        "id": "96ee7717-8baf-48e6-bbca-d1b6b4635302",
        "name": "Load Sent Job History",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const newJobs = $(\"Normalize – DBA Job for LLM\").all();\nconst sentHistory = $(\"Load Sent Job History\").all();\n\nconst sentIds = new Set(sentHistory.map(item => item.json.job_id));\n\n// Return only items NOT in the sent history\nreturn newJobs.filter(item => !sentIds.has(item.json.job_id));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6096,
          944
        ],
        "id": "43211028-3156-4ee5-bf21-3b2674c9ab5d",
        "name": "Filter Out Sent Jobs"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          7888,
          1152
        ],
        "id": "e367a63a-fcca-463a-8526-60aa4429b1d4",
        "name": "For each match job"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          8288,
          1152
        ],
        "id": "c49a6c3f-cd7f-4e22-a4a1-594072e8e36b",
        "name": "Send Job to GMAIL",
        "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
        "credentials": {
          "gmailOAuth2": {
            "id": "ON4cMVnRGPKgOQl0",
            "name": "Job.Automation Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Current job item \nconst job = $('Parse LLM Result').item.json;\n\n// Safe helper\nconst safe = (v) => (v === undefined || v === null || v === '' ? 'N/A' : v);\n\n// Description handling\nconst desc = job.job_description || '';\nconst shortDesc =\n  desc.length > 2000\n    ? desc.slice(0, 2000).replace(/\\n/g, '<br>') +\n      '<br><br><em>[Description truncated]</em>'\n    : desc.replace(/\\n/g, '<br>');\n\n// Subject\nconst subject = `[DBA Job Match – ${safe(job.score)}] ${safe(job.title)} – ${safe(job.company)}`;\n\nreturn {\n  json: {\n    to: 'edwardtong@gmail.com',\n    subject,\n    html: `\n<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #222;\">\n\n  <h2 style=\"margin-bottom: 4px;\">${safe(job.title)}</h2>\n\n  <p style=\"margin-top: 0; color: #555;\">\n    <strong>${safe(job.company)}</strong> · ${safe(job.location)}\n  </p>\n\n  <hr>\n\n  <table cellpadding=\"6\" cellspacing=\"0\">\n    <tr><td><strong>Score</strong></td><td>${safe(job.score)}</td></tr>\n    <tr><td><strong>Recommendation</strong></td><td>${safe(job.recommendation)}</td></tr>\n    <tr><td><strong>Reason</strong></td><td>${safe(job.reason)}</td></tr>\n    <tr><td><strong>Salary</strong></td>\n        <td>£${safe(job.salary_min)} – £${safe(job.salary_max)}</td></tr>\n    <tr><td><strong>Contract</strong></td><td>${safe(job.contract_type)}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0;\">\n    <a href=\"${safe(job.apply_url)}\"\n       style=\"background:#1a73e8;color:#fff;padding:10px 16px;\n              text-decoration:none;border-radius:4px;font-weight:bold;\">\n      Apply for this job →\n    </a>\n  </p>\n\n  <hr>\n\n  <h3>Job Description</h3>\n  <p style=\"line-height:1.5;\">${shortDesc || '<em>No description provided</em>'}</p>\n\n  <hr>\n\n  <p style=\"font-size:12px;color:#777;\">\n    Sent automatically by n8n · Source: ${safe(job.source)}\n  </p>\n\n</div>\n`.trim()\n  }\n};\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8112,
          1152
        ],
        "id": "02948969-fa7e-4d10-9443-7c996411a36c",
        "name": "Prepare Gmail HTTP Format"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * 1-5"
              },
              {
                "field": "cronExpression",
                "expression": "30 14 * * 1-5"
              },
              {
                "field": "cronExpression",
                "expression": "0 16 * * 1-5"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          4032,
          1072
        ],
        "id": "e0b68419-216e-4080-ac5d-68699cb5cafa",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of items) {\n  const job = item.json;\n\n  // Primary key: Adzuna job ID\n  let key = job.id;\n\n  // Fallback if ID is missing (rare)\n  if (!key) {\n    key = [\n      job.title || '',\n      job.company?.display_name || '',\n      job.location?.display_name || ''\n    ].join('|').toLowerCase();\n  }\n\n  // Deduplicate\n  if (!seen.has(key)) {\n    seen.add(key);\n    output.push({ json: job });\n  }\n}\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5520,
          944
        ],
        "id": "ddd401e4-baae-4548-9d40-e6b0f51af0d1",
        "name": "Deduplication"
      },
      {
        "parameters": {
          "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "app_id",
                "value": "={{$env.ADZUNA_APP_ID}}"
              },
              {
                "name": "app_key",
                "value": "={{$env.ADZUNA_APP_KEY}}"
              },
              {
                "name": "what",
                "value": "database administrator"
              },
              {
                "name": "where",
                "value": "Berkshire"
              },
              {
                "name": "results_per_page",
                "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
              },
              {
                "name": "sort_by",
                "value": "date"
              },
              {
                "name": "category",
                "value": "it-jobs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4848,
          848
        ],
        "id": "7cd479a3-0805-4885-b6de-4430b68048d1",
        "name": "Adzuna – Search IT Jobs in Berkshire"
      },
      {
        "parameters": {
          "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "app_id",
                "value": "={{$env.ADZUNA_APP_ID}}"
              },
              {
                "name": "app_key",
                "value": "={{$env.ADZUNA_APP_KEY}}"
              },
              {
                "name": "what",
                "value": "database administrator"
              },
              {
                "name": "where",
                "value": "London"
              },
              {
                "name": "results_per_page",
                "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
              },
              {
                "name": "sort_by",
                "value": "date"
              },
              {
                "name": "category",
                "value": "it-jobs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4848,
          1040
        ],
        "id": "92c52139-60f2-4dcb-91b0-8b70cb6cb2dd",
        "name": "Adzuna – Search IT Jobs in London"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          5296,
          944
        ],
        "id": "d3d7e857-a9f2-4079-8465-2dc5a091a464",
        "name": "Merge Jobs"
      },
      {
        "parameters": {
          "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5072,
          848
        ],
        "id": "4cc7fbb3-06f6-42a7-92a1-07d355a75be6",
        "name": "Convert Jobs - Berkshire"
      },
      {
        "parameters": {
          "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5072,
          1040
        ],
        "id": "aebf59a5-df79-4496-87fe-64ce227ac0e4",
        "name": "Convert Jobs - London"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6c895134-c02f-4827-9cb0-74f9152d697e",
                "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
                "rightValue": "APPLY",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "6d8d97b8-fb43-4f1c-893e-f59b72834b2a",
                "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
                "rightValue": "=MAYBE",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          7424,
          1152
        ],
        "id": "36710a3f-aa17-4b1e-a8e4-9b058b1021a4",
        "name": "Job Descripton Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "bed7d60a-2182-46b3-b848-f7f434803e47",
                "leftValue": "={{\n  (\n    ($('Parse LLM Result').item.json.is_contract === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_contract) ||\n    ($('Parse LLM Result').item.json.is_permanent === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_perm)\n  )\n}}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          7664,
          1152
        ],
        "id": "3b8b7cdd-54da-4682-9ab5-5a29da338db0",
        "name": "Meet Salary Filter?"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          6288,
          944
        ],
        "id": "6f6dd7ca-fc28-49a0-ac2e-2a08e5f8e827",
        "name": "Split – LLM Throttle"
      },
      {
        "parameters": {
          "jsCode": "return items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6544,
          944
        ],
        "id": "45cfce10-62ab-403e-adb3-0fd52e7483b1",
        "name": "Wait – Rate Limit"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          4624,
          608
        ],
        "id": "85dcc9c5-64a1-48f5-93da-78d417883417",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
            "mode": "list",
            "cachedResultName": "n8n_sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "job_id": "={{ $json.job_id }}",
              "source": "={{ $json.source }}",
              "title": "={{ $json.title }}",
              "company": "={{ $json.company }}",
              "score": "={{ $json.score }}",
              "sent_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "job_id",
                "displayName": "job_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sent_at",
                "displayName": "sent_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          7216,
          1152
        ],
        "id": "a91ed9f8-08e7-400f-83fd-54fd7d9cf3b4",
        "name": "Record Seen Jobs",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "edwardtong@gmail.com",
          "subject": "=Workflow Failure: Adzuna Job Search ({{ $json.node.name }})",
          "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ffcccc; background: #fff5f5; color: #900;\">\n  <h2 style=\"margin-top: 0;\">❌ Workflow Failure</h2>\n  <p><strong>Workflow:</strong> Adzuna_auto_job_search</p>\n  <p><strong>Failed Node:</strong> {{ $json.node.name }} ({{ $json.node.type }})</p>\n  <p><strong>Error Message:</strong><br><code style=\"background: #eee; padding: 4px; display: block; margin: 10px 0; border: 1px solid #ddd;\">{{ $json.error.message }}</code></p>\n  <p><strong>Execution ID:</strong> {{ $json.execution.id }}</p>\n  <hr style=\"border: 0; border-top: 1px solid #ffcccc; margin: 20px 0;\">\n  <p style=\"margin-bottom: 0;\">\n    <a href=\"{{ $json.execution.url }}\" style=\"background: #d93025; color: white; padding: 10px 15px; text-decoration: none; border-radius: 4px; font-weight: bold;\">\n      View Execution in n8n\n    </a>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          4832,
          608
        ],
        "id": "6b41a7b0-220a-44b0-ad2c-a8327dc3de39",
        "name": "Gmail for Job Failure",
        "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
        "credentials": {
          "gmailOAuth2": {
            "id": "ON4cMVnRGPKgOQl0",
            "name": "Job.Automation Gmail account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Global Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Global Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Global Configuration": {
        "main": [
          [
            {
              "node": "Load Sent Job History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter – Exclude Programming Jobs": {
        "main": [
          [
            {
              "node": "Normalize – DBA Job for LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "LLM – DBA Job Scoring",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Normalize – DBA Job for LLM": {
        "main": [
          [
            {
              "node": "Filter Out Sent Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Sent Job History": {
        "main": [
          [
            {
              "node": "Trigger Searches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Searches": {
        "main": [
          [
            {
              "node": "Adzuna – Search IT Jobs in Berkshire",
              "type": "main",
              "index": 0
            },
            {
              "node": "Adzuna – Search IT Jobs in London",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Out Sent Jobs": {
        "main": [
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split – LLM Throttle": {
        "main": [
          [],
          [
            {
              "node": "Wait – Rate Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait – Rate Limit": {
        "main": [
          [
            {
              "node": "LLM – DBA Job Scoring",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record Seen Jobs": {
        "main": [
          [
            {
              "node": "Job Descripton Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM – DBA Job Scoring": {
        "main": [
          [
            {
              "node": "Parse LLM Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM Result": {
        "main": [
          [
            {
              "node": "Record Seen Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "For each match job": {
        "main": [
          [],
          [
            {
              "node": "Prepare Gmail HTTP Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Job to GMAIL": {
        "main": [
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gmail HTTP Format": {
        "main": [
          [
            {
              "node": "Send Job to GMAIL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplication": {
        "main": [
          [
            {
              "node": "Filter – Exclude Programming Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adzuna – Search IT Jobs in Berkshire": {
        "main": [
          [
            {
              "node": "Convert Jobs - Berkshire",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adzuna – Search IT Jobs in London": {
        "main": [
          [
            {
              "node": "Convert Jobs - London",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Jobs": {
        "main": [
          [
            {
              "node": "Deduplication",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Jobs - Berkshire": {
        "main": [
          [
            {
              "node": "Merge Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Jobs - London": {
        "main": [
          [
            {
              "node": "Merge Jobs",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Job Descripton Filter": {
        "main": [
          [
            {
              "node": "Meet Salary Filter?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Meet Salary Filter?": {
        "main": [
          [
            {
              "node": "Prepare Gmail HTTP Format",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Gmail for Job Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 750629a0",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-03-28T02:00:51.120Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}