workflows/adzuna_auto_job_search_v3_2_A6UoupVp1QavE3Xa.json
{
  "updatedAt": "2026-04-03T11:33:32.482Z",
  "createdAt": "2026-03-28T12:42:48.748Z",
  "id": "A6UoupVp1QavE3Xa",
  "name": "Adzuna_auto_job_search v3.2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [ items[0] ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17200,
        2240
      ],
      "id": "38d04f3c-14ed-4fb5-afdb-c13b63c49165",
      "name": "Trigger Searches"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16608,
        2112
      ],
      "id": "11589e7a-d442-431b-ad38-987c4b7529b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  min_salary_perm: 50000,\n  min_salary_contract: 60000,\n  results_per_page: 50\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16848,
        2240
      ],
      "id": "dca7c73d-b557-4aad-abd3-198d450c34f9",
      "name": "Global Configuration"
    },
    {
      "parameters": {
        "jsCode": "// Input is already one job per item\nconst jobs = items.map(i => i.json);\n\nconst blacklist = [\n  'software developer',\n  'software engineer',\n  'frontend',\n  'backend',\n  'full stack',\n  'trainee',\n  'coding'\n];\n\nconst whitelist = [\n  'database administrator',\n  'dba',\n  'sql server',\n  'mysql',\n  'sybase',\n  'ase',\n  'replication',\n  'performance tuning'\n];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  const body  = (job.description || '').toLowerCase();\n  const fullText = `${title} ${body}`;\n\n  const hasDBA = whitelist.some(w => fullText.includes(w));\n\n  // 🔒 Only kill if title CLEARLY indicates dev role\n  const isDevTitle = blacklist.some(b => title.includes(b));\n\n  return hasDBA && !isDevTitle;\n});\n\n// Return as n8n items\nreturn filtered.map(job => ({ json: job }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18320,
        2256
      ],
      "id": "46fbb104-ebf3-4051-b106-c0dff6f1c0f7",
      "name": "Filter – Exclude Programming Jobs"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const job = item.json;\n\n  // Detect contract from text (critical fix)\n  const desc = (job.description || '').toLowerCase();\n  const title = (job.title || '').toLowerCase();\n\n  const isDailyRate =\n    /per day|\\/day|daily rate|inside ir35|outside ir35/i.test(desc);\n\n  const isContract =\n    job.contract_type === 'contract' ||\n    job.contract_time === 'contract' ||\n    isDailyRate;\n\n  const isPermanent =\n    !isContract &&\n    (job.contract_time === 'full_time' || job.contract_type === 'permanent');\n\n  return {\n    json: {\n      // Stable identifiers\n      job_id: job.id || null,\n      source: 'Adzuna',\n\n      // Core job info\n      title: job.title || '',\n      company: job.company?.display_name || '',\n      location: job.location?.display_name || '',\n\n      // DBA-critical content\n      job_description: job.description || '',\n\n      // Apply path\n      apply_url: job.redirect_url || '',\n\n      // Compensation\n      salary_min: job.salary_min || null,\n      salary_max: job.salary_max || null,\n      salary_is_estimated: job.salary_is_predicted || false,\n\n      // Job metadata (preserve raw values)\n      contract_type: job.contract_type || job.contract_time || null,\n      employment_type: job.contract_time || null,\n      posted_at: job.created || null,\n      category: job.category?.tag || null,\n\n      // ✅ Derived helpers (FIXED)\n      is_contract: isContract,\n      is_permanent: isPermanent,\n\n      // Text block for LLM (DO NOT CHANGE STRUCTURE)\n      llm_input: `\nJob Title:\n${job.title || 'N/A'}\n\nCompany:\n${job.company?.display_name || 'N/A'}\n\nLocation:\n${job.location?.display_name || 'N/A'}\n\nContract Type:\n${job.contract_type || job.contract_time || 'N/A'}\n\nSalary:\n${job.salary_min || 'N/A'} – ${job.salary_max || 'N/A'}\n\nJob Description:\n${job.description || 'N/A'}\n`.trim()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18496,
        2256
      ],
      "id": "012e46e2-eb42-4eeb-acb1-612ccc16fe8d",
      "name": "Normalize – DBA Job for LLM"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        19216,
        2288
      ],
      "id": "ab7a2c1c-fd37-4ed4-8dde-6b0913f65cd6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are evaluating a job posting for a specific candidate. Your job is to reason about how well this role fits this person — not to do keyword matching.\n\nCANDIDATE PROFILE:\n- Senior Database Platform Engineer, 25+ years hands-on experience.\n- Sectors: Investment banking (Nomura, 2023–2025) and Healthcare (Hospital Authority HK, 2002–2022) — mission-critical, regulated, 24x7 production environments.\n- Core database expertise:\n  - Microsoft SQL Server (Always On AG, patching, performance tuning, migrations — up to 1TB workloads, ~150 servers)\n  - Sybase ASE / Adaptive Server Enterprise (HA architecture, Replication Server, multi-site availability — ~100 servers at Nomura)\n  - MySQL (GTID-based replication, critical patching, production administration)\n  - MongoDB (sharded clusters, replica sets, Ops Manager, Community→Enterprise upgrades, ~3TB EHR platform; MongoDB Certified DBA Associate)\n- Secondary/supporting skills: Elasticsearch/ELK Stack (9-node cluster, ~50GB/day log ingestion), Oracle Database\n- DevOps & automation: Terraform (IaC), Git-driven CI/CD pipelines, Ansible/Ansible Tower, Bash scripting, PowerShell, Broadcom Autosys\n- Scale: delivered across environments of 100–1200+ database servers; multi-terabyte migrations\n- Preference: Hands-on production DBA work — provisioning, HA/DR, incident response, upgrades, performance tuning, on-call ownership. Not interested in application development, BI, reporting, or pure data engineering roles.\n- Seniority: Senior/Lead/Principal level. Junior, trainee, or associate-level roles are a poor fit.\n\nTECHNOLOGY NOTES (to aid your reasoning, not as hard rules):\n- \"SQL Server\", \"MSSQL\", \"MS SQL\", \"Microsoft SQL Server\", and \"SQL Server 20xx\" (e.g. SQL Server 2019) all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase ASE\", \"SAP ASE\", \"SAP Adaptive Server Enterprise\", \"Adaptive Server Enterprise\", \"ASE 15.x\", and \"ASE 16.x\" all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase\" alone in a job may refer to Sybase ASE (a strong match) OR Sybase IQ/SAP IQ (a columnar analytics DB — very different product the candidate is not experienced in). Read the JD carefully to determine which product is actually required.\n- A role focused on a single platform from the core stack (SQL Server, Sybase ASE, MySQL, or MongoDB) is a STRONG match — the candidate is an expert in each platform individually. Do NOT penalise for lack of breadth. The role only needs to use one of these platforms to be a strong fit.\n- Do NOT treat the candidate's multi-platform background as a mismatch for a single-platform role. A pure MongoDB DBA role, a pure Sybase ASE role, or a pure SQL Server role are all individually strong fits.\n- MongoDB roles: the candidate holds a MongoDB Certified DBA Associate credential and has delivered a 3TB production sharded cluster. Score MongoDB DBA/admin roles highly.\n- DevOps-adjacent DBA roles (e.g. Database Reliability Engineer, Database Platform Engineer) that combine production DBA ownership with IaC/automation are a strong fit given the candidate's Terraform and CI/CD experience. Do not score these lower simply because they mention DevOps tooling.\n- Transferable skills matter: a candidate with deep SQL Server HA/DR experience can adapt to similar operational patterns on related platforms.\n\nYOUR EVALUATION TASK:\nRead the full job description and reason about:\n1. What does this role actually require day-to-day?\n2. How much of that overlaps with the candidate's expertise and preferences?\n3. Are there gaps? How significant are they — dealbreakers, or learnable?\n4. Does the seniority level and work style match?\n5. Would this candidate be competitive and genuinely interested?\n\nIMPORTANT SCORING GUIDANCE:\n- A role requiring only ONE of the candidate's core platforms (SQL Server, Sybase ASE, MySQL, or MongoDB) is a high-scoring match — not a partial match. Only score lower if the role requires technologies outside the candidate's stack, or if the work type (e.g. development, BI) does not match their preference.\n- Database Platform Engineer / Database Reliability Engineer titles: score as DBA_ENGINEER. These are strong fits if they involve production ownership, HA/DR, and automation — which aligns with the candidate's most recent role title and experience.\n- Roles requiring primarily Oracle, PostgreSQL, Cassandra, or cloud-native managed DB services (RDS, Azure SQL, etc.) are outside the core stack. Score as MAYBE only if SQL Server or another core platform is also required; otherwise SKIP.\n- Elasticsearch/ELK roles: candidate has operational experience managing a large-scale ELK cluster, but this is not a primary interest. Score as MAYBE at best unless it is combined with DBA work.\n\nBased on your reasoning, produce:\n- score: 0–100 representing overall fit (technical match + seniority + work style). Ignore compensation entirely.\n- recommendation: APPLY (strong fit, worth pursuing), MAYBE (partial fit, worth considering), or SKIP (poor fit or clear mismatch).\n- role_type: one of DBA_ADMIN, DBA_ENGINEER, DATA_ENGINEER, DEVOPS, MANAGEMENT, NOT_DBA.\n- reason: 1–2 sentences explaining the key factors behind your score and recommendation.\n\nOUTPUT FORMAT (strict — return only valid JSON, no markdown, no extra text):\n{\n  \"score\": 85,\n  \"role_type\": \"DBA_ADMIN\",\n  \"recommendation\": \"APPLY\",\n  \"reason\": \"Hands-on SQL Server HA/DR and production ownership aligns closely with candidate's background; seniority level matches.\"\n}\n\nJOB DATA:\n{{ $json.llm_input }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are an experienced technical recruiter specialising in senior Database Administrator placements. You have deep knowledge of database technologies and can distinguish between similar-sounding but different products (e.g. Sybase ASE vs Sybase IQ, SQL Server DBA vs SQL Server developer). Your goal is to evaluate genuine fit — not surface-level keyword matching. Be honest and realistic: a partial match with transferable skills may still be worth pursuing; a role that only superficially mentions a familiar technology may not be. Compensation and salary are irrelevant to your evaluation — that is handled separately. Return only valid JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        19104,
        2144
      ],
      "id": "e00d4f1a-8cd2-47cc-8a37-f3fae77a47b7",
      "name": "LLM – DBA Job Scoring",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = (item.json.text || '').trim();\nconst originalJob = $('Wait – Rate Limit').item.json;\n\nlet parsed;\ntry {\n  const cleanJson = raw.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  return {\n    json: {\n      ...originalJob,\n      score: 0,\n      role_type: 'NOT_DBA',\n      recommendation: 'SKIP',\n      reason: 'LLM Error: Failed to parse response JSON.'\n    }\n  };\n}\n\nconst score = parsed.score || 0;\n\n// Enforce recommendation based on score thresholds — overrides LLM decision\nlet recommendation;\nif (score >= 70) {\n  recommendation = 'APPLY';\n} else if (score >= 50) {\n  recommendation = 'MAYBE';\n} else {\n  recommendation = 'SKIP';\n}\n\nreturn {\n  json: {\n    ...originalJob,\n    score,\n    role_type: parsed.role_type || 'NOT_DBA',\n    recommendation,\n    reason: parsed.reason || 'Missing reason in LLM response.'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19424,
        2144
      ],
      "id": "0188abda-0fc2-4027-8929-3a2d3d7292ea",
      "name": "Parse LLM Result"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        17040,
        2240
      ],
      "id": "9cfd8cc8-c62a-4821-9ee0-aef7c375ae97",
      "name": "Load Sent Job History",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newJobs = $(\"Normalize – DBA Job for LLM\").all();\n\n// Safely load history — empty sheet returns 0 items\nlet sentHistory = [];\ntry {\n  sentHistory = $(\"Load Sent Job History\").all();\n  // If the sheet is empty, Google Sheets node may return items without a job_id column\n  // Filter to only items that actually look like history records\n  sentHistory = sentHistory.filter(item => item.json.job_id);\n} catch(e) {\n  sentHistory = [];\n}\n\n// Build sets from history: by job_id AND by normalised company+title (catches re-posts with new IDs)\nconst sentIds = new Set(sentHistory.map(item => String(item.json.job_id).trim()));\nconst sentTitleKeys = new Set(\n  sentHistory.map(item => {\n    const title = (item.json.title || '').toLowerCase().trim();\n    const company = (item.json.company || '').toLowerCase().trim();\n    return `${company}||${title}`;\n  })\n);\n\n// Deduplicate within this run too (Berkshire + London searches may return the same job)\nconst seen = new Set();\nconst result = [];\nfor (const item of newJobs) {\n  const id = String(item.json.job_id || '').trim();\n  const titleKey = `${(item.json.company || '').toLowerCase().trim()}||${(item.json.title || '').toLowerCase().trim()}`;\n\n  if (!sentIds.has(id) && !sentTitleKeys.has(titleKey) && !seen.has(id)) {\n    seen.add(id);\n    result.push(item);\n  }\n}\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18672,
        2256
      ],
      "id": "3b6655b2-2ccd-4f09-b449-6477e84b552a",
      "name": "Filter Out Sent Jobs"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        20384,
        2576
      ],
      "id": "f3936b35-408b-4a17-8108-19cb9d06acfd",
      "name": "Send Job to GMAIL",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Current job item \nconst job = $('Parse LLM Result').item.json;\n\n// Safe helper\nconst safe = (v) => (v === undefined || v === null || v === '' ? 'N/A' : v);\n\n// Description handling\nconst desc = job.job_description || '';\nconst shortDesc =\n  desc.length > 2000\n    ? desc.slice(0, 2000).replace(/\\n/g, '<br>') +\n      '<br><br><em>[Description truncated]</em>'\n    : desc.replace(/\\n/g, '<br>');\n\n// Subject\nconst subject = `[DBA Job Match v3.0 – ${safe(job.score)}] ${safe(job.title)} – ${safe(job.company)}`;\n\nreturn {\n  json: {\n    to: 'edwardtong@gmail.com',\n    subject,\n    html: `\n<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #222;\">\n\n  <h2 style=\"margin-bottom: 4px;\">${safe(job.title)}</h2>\n\n  <p style=\"margin-top: 0; color: #555;\">\n    <strong>${safe(job.company)}</strong> · ${safe(job.location)}\n  </p>\n\n  <hr>\n\n  <table cellpadding=\"6\" cellspacing=\"0\">\n    <tr><td><strong>Score</strong></td><td>${safe(job.score)}</td></tr>\n    <tr><td><strong>Recommendation</strong></td><td>${safe(job.recommendation)}</td></tr>\n    <tr><td><strong>Reason</strong></td><td>${safe(job.reason)}</td></tr>\n    <tr><td><strong>Salary</strong></td>\n        <td>£${safe(job.salary_min)} – £${safe(job.salary_max)}</td></tr>\n    <tr><td><strong>Contract</strong></td><td>${safe(job.contract_type)}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0;\">\n    <a href=\"${safe(job.apply_url)}\"\n       style=\"background:#1a73e8;color:#fff;padding:10px 16px;\n              text-decoration:none;border-radius:4px;font-weight:bold;\">\n      Apply for this job →\n    </a>\n  </p>\n\n  <hr>\n\n  <h3>Job Description</h3>\n  <p style=\"line-height:1.5;\">${shortDesc || '<em>No description provided</em>'}</p>\n\n  <hr>\n\n  <p style=\"font-size:12px;color:#777;\">\n    Sent automatically by n8n · Source: ${safe(job.source)}\n  </p>\n\n</div>\n`.trim()\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20208,
        2560
      ],
      "id": "95f59238-6454-4f0f-aaf2-ea4400cae9c1",
      "name": "Prepare Gmail HTTP Format"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 14 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16608,
        2384
      ],
      "id": "159ac1b1-d1df-413b-abf9-8afef163fab6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of items) {\n  const job = item.json;\n\n  // Primary key: Adzuna job ID\n  let key = job.id;\n\n  // Fallback if ID is missing (rare)\n  if (!key) {\n    key = [\n      job.title || '',\n      job.company?.display_name || '',\n      job.location?.display_name || ''\n    ].join('|').toLowerCase();\n  }\n\n  // Deduplicate\n  if (!seen.has(key)) {\n    seen.add(key);\n    output.push({ json: job });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18096,
        2256
      ],
      "id": "7cbe8f03-929f-4eea-8b3e-b9a892cd876f",
      "name": "Deduplication"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "Berkshire"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17424,
        2160
      ],
      "id": "308c858d-b91a-4f40-996d-817a0d19c01d",
      "name": "Adzuna – Search IT Jobs in Berkshire"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "London"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17424,
        2352
      ],
      "id": "cbb453e2-9618-468b-961a-dc7158694f92",
      "name": "Adzuna – Search IT Jobs in London"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        17872,
        2256
      ],
      "id": "32c617ad-76f0-4613-b898-ebc89580732f",
      "name": "Merge Jobs"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17648,
        2160
      ],
      "id": "02ce5343-4dd5-49ed-aa54-0db3bd796924",
      "name": "Convert Jobs - Berkshire"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17648,
        2352
      ],
      "id": "0aa37832-3aba-4938-b9e4-41bb7028ea47",
      "name": "Convert Jobs - London"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c895134-c02f-4827-9cb0-74f9152d697e",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "APPLY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6d8d97b8-fb43-4f1c-893e-f59b72834b2a",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "=MAYBE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        19760,
        2432
      ],
      "id": "046c7a4a-14b4-4e26-ac44-e80675dd6373",
      "name": "Job Descripton Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bed7d60a-2182-46b3-b848-f7f434803e47",
              "leftValue": "={{\n  (\n    ($('Parse LLM Result').item.json.is_contract === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_contract) ||\n    ($('Parse LLM Result').item.json.is_permanent === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_perm)\n  )\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        19984,
        2496
      ],
      "id": "5d279692-ffc2-414b-a627-97007c6c4691",
      "name": "Meet Salary Filter?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        18864,
        2256
      ],
      "id": "88d1636a-2e8f-496d-b184-7fad1cf6cc45",
      "name": "Split – LLM Throttle"
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19152,
        2400
      ],
      "id": "ca9737bf-a518-47fe-9761-78712f5a65df",
      "name": "Wait – Rate Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        17200,
        1920
      ],
      "id": "04b01049-9ac9-423b-96e1-5f5633b79929",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "score": "={{ $json.score }}",
            "recommendation": "={{ $json.recommendation }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "salary_max": "={{ $json.salary_max }}",
            "employment_type": "={{ $json.employment_type }}",
            "apply_url": "={{ $json.apply_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_max",
              "displayName": "salary_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employment_type",
              "displayName": "employment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        19600,
        2272
      ],
      "id": "3456fdfa-a54d-43f2-8f0c-8708ef9bd261",
      "name": "Record Seen Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "edwardtong@gmail.com",
        "subject": "=&#x274C; Job Search Failed: {{ $json.execution.error.httpCode ? $json.execution.error.httpCode + \" – \" : \"\" }}{{ $json.execution.lastNodeExecuted }} | Exec #{{ $json.execution.id }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 2px solid #d93025; background: #fff5f5; color: #333; max-width: 650px;\">\n  <h2 style=\"margin-top: 0; color: #d93025;\">&#x274C; Workflow Failure Alert</h2>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 16px;\">\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; width: 140px; vertical-align: top;\">Workflow:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.workflow.name }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Failed Node:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.lastNodeExecuted }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Node Type:</td>\n      <td style=\"padding: 6px 0; font-size: 13px; color: #666;\">{{ $json.execution.error.node.type }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">HTTP Status:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.error.httpCode ? $json.execution.error.httpCode : 'N/A' }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Triggered By:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.executionContext.triggerNode.name }} ({{ $json.execution.mode }})</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Timestamp:</td>\n      <td style=\"padding: 6px 0;\">{{ new Date($json.execution.error.timestamp).toUTCString() }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Execution ID:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.id }}</td>\n    </tr>\n  </table>\n\n  <p style=\"font-weight: bold; margin-bottom: 6px;\">Error Message:</p>\n  <pre style=\"background: #f0f0f0; border: 1px solid #ccc; padding: 10px 14px; border-radius: 4px; font-size: 13px; white-space: pre-wrap; word-break: break-word; margin: 0 0 16px 0;\">{{ $json.execution.error.message }}</pre>\n\n  <hr style=\"border: 0; border-top: 1px solid #ffcccc; margin: 20px 0;\">\n  <p style=\"margin: 0;\">\n    <a href=\"{{ $json.execution.url }}\" style=\"background: #d93025; color: white; padding: 10px 18px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;\">\n      &#x1F50D; View Execution in n8n\n    </a>\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        17408,
        1920
      ],
      "id": "39e86941-5d5d-4c74-a9cd-b7e36f431679",
      "name": "Gmail for Job Failure",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Configuration": {
      "main": [
        [
          {
            "node": "Load Sent Job History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter – Exclude Programming Jobs": {
      "main": [
        [
          {
            "node": "Normalize – DBA Job for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize – DBA Job for LLM": {
      "main": [
        [
          {
            "node": "Filter Out Sent Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sent Job History": {
      "main": [
        [
          {
            "node": "Trigger Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Searches": {
      "main": [
        [
          {
            "node": "Adzuna – Search IT Jobs in Berkshire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Adzuna – Search IT Jobs in London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Sent Jobs": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split – LLM Throttle": {
      "main": [
        [],
        [
          {
            "node": "Wait – Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Rate Limit": {
      "main": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Seen Jobs": {
      "main": [
        [
          {
            "node": "Job Descripton Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM – DBA Job Scoring": {
      "main": [
        [
          {
            "node": "Parse LLM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Result": {
      "main": [
        [
          {
            "node": "Record Seen Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Job to GMAIL": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gmail HTTP Format": {
      "main": [
        [
          {
            "node": "Send Job to GMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication": {
      "main": [
        [
          {
            "node": "Filter – Exclude Programming Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in Berkshire": {
      "main": [
        [
          {
            "node": "Convert Jobs - Berkshire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in London": {
      "main": [
        [
          {
            "node": "Convert Jobs - London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Jobs": {
      "main": [
        [
          {
            "node": "Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - Berkshire": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - London": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Job Descripton Filter": {
      "main": [
        [
          {
            "node": "Meet Salary Filter?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meet Salary Filter?": {
      "main": [
        [
          {
            "node": "Prepare Gmail HTTP Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail for Job Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/London",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-18T16:18:01.803+00:00",
          "Readable date": "February 18th 2026, 4:18:01 pm",
          "Readable time": "4:18:01 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "18",
          "Hour": "16",
          "Minute": "18",
          "Second": "01",
          "Timezone": "Europe/London (UTC+00:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "7a784214-fa2e-4928-9ea2-2e1300d5b79e",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T12:42:48.752Z",
      "createdAt": "2026-03-28T12:42:48.752Z",
      "role": "workflow:owner",
      "workflowId": "A6UoupVp1QavE3Xa",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-04-04T01:00:23.706Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "unpublished"
  }
}