workflows/adzuna_auto_job_search_v3_0_A6UoupVp1QavE3Xa.json
{
  "updatedAt": "2026-04-01T10:37:03.057Z",
  "createdAt": "2026-03-28T12:42:48.748Z",
  "id": "A6UoupVp1QavE3Xa",
  "name": "Adzuna_auto_job_search v3.0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [ items[0] ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15392,
        2368
      ],
      "id": "7904f293-6313-49f0-bc47-f6b37e651ab5",
      "name": "Trigger Searches"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        14800,
        2240
      ],
      "id": "58c66430-1ea3-4e98-8105-6a5490508ae6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  min_salary_perm: 50000,\n  min_salary_contract: 60000,\n  results_per_page: 50\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15040,
        2368
      ],
      "id": "bd63f185-774f-45a4-84ac-bab39778f1b8",
      "name": "Global Configuration"
    },
    {
      "parameters": {
        "jsCode": "// Input is already one job per item\nconst jobs = items.map(i => i.json);\n\nconst blacklist = [\n  'software developer',\n  'software engineer',\n  'frontend',\n  'backend',\n  'full stack',\n  'trainee',\n  'coding'\n];\n\nconst whitelist = [\n  'database administrator',\n  'dba',\n  'sql server',\n  'mysql',\n  'sybase',\n  'ase',\n  'replication',\n  'performance tuning'\n];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  const body  = (job.description || '').toLowerCase();\n  const fullText = `${title} ${body}`;\n\n  const hasDBA = whitelist.some(w => fullText.includes(w));\n\n  // 🔒 Only kill if title CLEARLY indicates dev role\n  const isDevTitle = blacklist.some(b => title.includes(b));\n\n  return hasDBA && !isDevTitle;\n});\n\n// Return as n8n items\nreturn filtered.map(job => ({ json: job }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16512,
        2384
      ],
      "id": "b3cf2df1-4a55-443f-8a41-268312b5cb8d",
      "name": "Filter – Exclude Programming Jobs"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const job = item.json;\n\n  // Detect contract from text (critical fix)\n  const desc = (job.description || '').toLowerCase();\n  const title = (job.title || '').toLowerCase();\n\n  const isDailyRate =\n    /per day|\\/day|daily rate|inside ir35|outside ir35/i.test(desc);\n\n  const isContract =\n    job.contract_type === 'contract' ||\n    job.contract_time === 'contract' ||\n    isDailyRate;\n\n  const isPermanent =\n    !isContract &&\n    (job.contract_time === 'full_time' || job.contract_type === 'permanent');\n\n  return {\n    json: {\n      // Stable identifiers\n      job_id: job.id || null,\n      source: 'Adzuna',\n\n      // Core job info\n      title: job.title || '',\n      company: job.company?.display_name || '',\n      location: job.location?.display_name || '',\n\n      // DBA-critical content\n      job_description: job.description || '',\n\n      // Apply path\n      apply_url: job.redirect_url || '',\n\n      // Compensation\n      salary_min: job.salary_min || null,\n      salary_max: job.salary_max || null,\n      salary_is_estimated: job.salary_is_predicted || false,\n\n      // Job metadata (preserve raw values)\n      contract_type: job.contract_type || job.contract_time || null,\n      employment_type: job.contract_time || null,\n      posted_at: job.created || null,\n      category: job.category?.tag || null,\n\n      // ✅ Derived helpers (FIXED)\n      is_contract: isContract,\n      is_permanent: isPermanent,\n\n      // Text block for LLM (DO NOT CHANGE STRUCTURE)\n      llm_input: `\nJob Title:\n${job.title || 'N/A'}\n\nCompany:\n${job.company?.display_name || 'N/A'}\n\nLocation:\n${job.location?.display_name || 'N/A'}\n\nContract Type:\n${job.contract_type || job.contract_time || 'N/A'}\n\nSalary:\n${job.salary_min || 'N/A'} – ${job.salary_max || 'N/A'}\n\nJob Description:\n${job.description || 'N/A'}\n`.trim()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16688,
        2384
      ],
      "id": "596b15e3-95cc-435d-8392-8c8423b331ec",
      "name": "Normalize – DBA Job for LLM"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        17408,
        2416
      ],
      "id": "379aaf3c-592a-4dc1-8224-4a26fe42ad82",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are evaluating a job posting for a specific candidate. Your job is to reason about how well this role fits this person — not to do keyword matching.\n\nCANDIDATE PROFILE:\n- Senior Database Platform Engineer, 25+ years hands-on experience.\n- Sectors: Investment banking (Nomura, 2023–2025) and Healthcare (Hospital Authority HK, 2002–2022) — mission-critical, regulated, 24x7 production environments.\n- Core database expertise:\n  - Microsoft SQL Server (Always On AG, patching, performance tuning, migrations — up to 1TB workloads, ~150 servers)\n  - Sybase ASE / Adaptive Server Enterprise (HA architecture, Replication Server, multi-site availability — ~100 servers at Nomura)\n  - MySQL (GTID-based replication, critical patching, production administration)\n  - MongoDB (sharded clusters, replica sets, Ops Manager, Community→Enterprise upgrades, ~3TB EHR platform; MongoDB Certified DBA Associate)\n- Secondary/supporting skills: Elasticsearch/ELK Stack (9-node cluster, ~50GB/day log ingestion), Oracle Database\n- DevOps & automation: Terraform (IaC), Git-driven CI/CD pipelines, Ansible/Ansible Tower, Bash scripting, PowerShell, Broadcom Autosys\n- Scale: delivered across environments of 100–1200+ database servers; multi-terabyte migrations\n- Preference: Hands-on production DBA work — provisioning, HA/DR, incident response, upgrades, performance tuning, on-call ownership. Not interested in application development, BI, reporting, or pure data engineering roles.\n- Seniority: Senior/Lead/Principal level. Junior, trainee, or associate-level roles are a poor fit.\n\nTECHNOLOGY NOTES (to aid your reasoning, not as hard rules):\n- \"SQL Server\", \"MSSQL\", \"MS SQL\", \"Microsoft SQL Server\", and \"SQL Server 20xx\" (e.g. SQL Server 2019) all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase ASE\", \"SAP ASE\", \"SAP Adaptive Server Enterprise\", \"Adaptive Server Enterprise\", \"ASE 15.x\", and \"ASE 16.x\" all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase\" alone in a job may refer to Sybase ASE (a strong match) OR Sybase IQ/SAP IQ (a columnar analytics DB — very different product the candidate is not experienced in). Read the JD carefully to determine which product is actually required.\n- A role focused on a single platform from the core stack (SQL Server, Sybase ASE, MySQL, or MongoDB) is a STRONG match — the candidate is an expert in each platform individually. Do NOT penalise for lack of breadth. The role only needs to use one of these platforms to be a strong fit.\n- Do NOT treat the candidate's multi-platform background as a mismatch for a single-platform role. A pure MongoDB DBA role, a pure Sybase ASE role, or a pure SQL Server role are all individually strong fits.\n- MongoDB roles: the candidate holds a MongoDB Certified DBA Associate credential and has delivered a 3TB production sharded cluster. Score MongoDB DBA/admin roles highly.\n- DevOps-adjacent DBA roles (e.g. Database Reliability Engineer, Database Platform Engineer) that combine production DBA ownership with IaC/automation are a strong fit given the candidate's Terraform and CI/CD experience. Do not score these lower simply because they mention DevOps tooling.\n- Transferable skills matter: a candidate with deep SQL Server HA/DR experience can adapt to similar operational patterns on related platforms.\n\nYOUR EVALUATION TASK:\nRead the full job description and reason about:\n1. What does this role actually require day-to-day?\n2. How much of that overlaps with the candidate's expertise and preferences?\n3. Are there gaps? How significant are they — dealbreakers, or learnable?\n4. Does the seniority level and work style match?\n5. Would this candidate be competitive and genuinely interested?\n\nIMPORTANT SCORING GUIDANCE:\n- A role requiring only ONE of the candidate's core platforms (SQL Server, Sybase ASE, MySQL, or MongoDB) is a high-scoring match — not a partial match. Only score lower if the role requires technologies outside the candidate's stack, or if the work type (e.g. development, BI) does not match their preference.\n- Database Platform Engineer / Database Reliability Engineer titles: score as DBA_ENGINEER. These are strong fits if they involve production ownership, HA/DR, and automation — which aligns with the candidate's most recent role title and experience.\n- Roles requiring primarily Oracle, PostgreSQL, Cassandra, or cloud-native managed DB services (RDS, Azure SQL, etc.) are outside the core stack. Score as MAYBE only if SQL Server or another core platform is also required; otherwise SKIP.\n- Elasticsearch/ELK roles: candidate has operational experience managing a large-scale ELK cluster, but this is not a primary interest. Score as MAYBE at best unless it is combined with DBA work.\n\nBased on your reasoning, produce:\n- score: 0–100 representing overall fit (technical match + seniority + work style). Ignore compensation entirely.\n- recommendation: APPLY (strong fit, worth pursuing), MAYBE (partial fit, worth considering), or SKIP (poor fit or clear mismatch).\n- role_type: one of DBA_ADMIN, DBA_ENGINEER, DATA_ENGINEER, DEVOPS, MANAGEMENT, NOT_DBA.\n- reason: 1–2 sentences explaining the key factors behind your score and recommendation.\n\nOUTPUT FORMAT (strict — return only valid JSON, no markdown, no extra text):\n{\n  \"score\": 85,\n  \"role_type\": \"DBA_ADMIN\",\n  \"recommendation\": \"APPLY\",\n  \"reason\": \"Hands-on SQL Server HA/DR and production ownership aligns closely with candidate's background; seniority level matches.\"\n}\n\nJOB DATA:\n{{ $json.llm_input }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are an experienced technical recruiter specialising in senior Database Administrator placements. You have deep knowledge of database technologies and can distinguish between similar-sounding but different products (e.g. Sybase ASE vs Sybase IQ, SQL Server DBA vs SQL Server developer). Your goal is to evaluate genuine fit — not surface-level keyword matching. Be honest and realistic: a partial match with transferable skills may still be worth pursuing; a role that only superficially mentions a familiar technology may not be. Compensation and salary are irrelevant to your evaluation — that is handled separately. Return only valid JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        17296,
        2272
      ],
      "id": "73411167-699f-49b1-adcd-28a14f39970b",
      "name": "LLM – DBA Job Scoring",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = (item.json.text || '').trim();\nconst originalJob = $('Wait – Rate Limit').item.json;\n\nlet parsed;\ntry {\n  const cleanJson = raw.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  return {\n    json: {\n      ...originalJob,\n      score: 0,\n      role_type: 'NOT_DBA',\n      recommendation: 'SKIP',\n      reason: 'LLM Error: Failed to parse response JSON.'\n    }\n  };\n}\n\nconst score = parsed.score || 0;\n\n// Enforce recommendation based on score thresholds — overrides LLM decision\nlet recommendation;\nif (score >= 70) {\n  recommendation = 'APPLY';\n} else if (score >= 50) {\n  recommendation = 'MAYBE';\n} else {\n  recommendation = 'SKIP';\n}\n\nreturn {\n  json: {\n    ...originalJob,\n    score,\n    role_type: parsed.role_type || 'NOT_DBA',\n    recommendation,\n    reason: parsed.reason || 'Missing reason in LLM response.'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17616,
        2272
      ],
      "id": "2b86826c-b923-421a-a227-653ccdf456c3",
      "name": "Parse LLM Result"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        15232,
        2368
      ],
      "id": "3c94a8e2-b5de-4021-9ca0-04a6cd90e6f4",
      "name": "Load Sent Job History",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newJobs = $(\"Normalize – DBA Job for LLM\").all();\n\n// Safely load history — empty sheet returns 0 items\nlet sentHistory = [];\ntry {\n  sentHistory = $(\"Load Sent Job History\").all();\n  // If the sheet is empty, Google Sheets node may return items without a job_id column\n  // Filter to only items that actually look like history records\n  sentHistory = sentHistory.filter(item => item.json.job_id);\n} catch(e) {\n  sentHistory = [];\n}\n\n// Build sets from history: by job_id AND by normalised company+title (catches re-posts with new IDs)\nconst sentIds = new Set(sentHistory.map(item => String(item.json.job_id).trim()));\nconst sentTitleKeys = new Set(\n  sentHistory.map(item => {\n    const title = (item.json.title || '').toLowerCase().trim();\n    const company = (item.json.company || '').toLowerCase().trim();\n    return `${company}||${title}`;\n  })\n);\n\n// Deduplicate within this run too (Berkshire + London searches may return the same job)\nconst seen = new Set();\nconst result = [];\nfor (const item of newJobs) {\n  const id = String(item.json.job_id || '').trim();\n  const titleKey = `${(item.json.company || '').toLowerCase().trim()}||${(item.json.title || '').toLowerCase().trim()}`;\n\n  if (!sentIds.has(id) && !sentTitleKeys.has(titleKey) && !seen.has(id)) {\n    seen.add(id);\n    result.push(item);\n  }\n}\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16864,
        2384
      ],
      "id": "88212df5-14f4-4602-a6db-462ae3268a52",
      "name": "Filter Out Sent Jobs"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        18576,
        2704
      ],
      "id": "ff9cadff-fd13-4a6d-b19c-2f5bf4a2f735",
      "name": "Send Job to GMAIL",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Current job item \nconst job = $('Parse LLM Result').item.json;\n\n// Safe helper\nconst safe = (v) => (v === undefined || v === null || v === '' ? 'N/A' : v);\n\n// Description handling\nconst desc = job.job_description || '';\nconst shortDesc =\n  desc.length > 2000\n    ? desc.slice(0, 2000).replace(/\\n/g, '<br>') +\n      '<br><br><em>[Description truncated]</em>'\n    : desc.replace(/\\n/g, '<br>');\n\n// Subject\nconst subject = `[DBA Job Match v3.0 – ${safe(job.score)}] ${safe(job.title)} – ${safe(job.company)}`;\n\nreturn {\n  json: {\n    to: 'edwardtong@gmail.com',\n    subject,\n    html: `\n<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #222;\">\n\n  <h2 style=\"margin-bottom: 4px;\">${safe(job.title)}</h2>\n\n  <p style=\"margin-top: 0; color: #555;\">\n    <strong>${safe(job.company)}</strong> · ${safe(job.location)}\n  </p>\n\n  <hr>\n\n  <table cellpadding=\"6\" cellspacing=\"0\">\n    <tr><td><strong>Score</strong></td><td>${safe(job.score)}</td></tr>\n    <tr><td><strong>Recommendation</strong></td><td>${safe(job.recommendation)}</td></tr>\n    <tr><td><strong>Reason</strong></td><td>${safe(job.reason)}</td></tr>\n    <tr><td><strong>Salary</strong></td>\n        <td>£${safe(job.salary_min)} – £${safe(job.salary_max)}</td></tr>\n    <tr><td><strong>Contract</strong></td><td>${safe(job.contract_type)}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0;\">\n    <a href=\"${safe(job.apply_url)}\"\n       style=\"background:#1a73e8;color:#fff;padding:10px 16px;\n              text-decoration:none;border-radius:4px;font-weight:bold;\">\n      Apply for this job →\n    </a>\n  </p>\n\n  <hr>\n\n  <h3>Job Description</h3>\n  <p style=\"line-height:1.5;\">${shortDesc || '<em>No description provided</em>'}</p>\n\n  <hr>\n\n  <p style=\"font-size:12px;color:#777;\">\n    Sent automatically by n8n · Source: ${safe(job.source)}\n  </p>\n\n</div>\n`.trim()\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18400,
        2688
      ],
      "id": "25e109db-6ca4-498c-84f3-b0db48c647c1",
      "name": "Prepare Gmail HTTP Format"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 14 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        14800,
        2512
      ],
      "id": "570a0379-b1a9-4a81-9d97-4f87270e516b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of items) {\n  const job = item.json;\n\n  // Primary key: Adzuna job ID\n  let key = job.id;\n\n  // Fallback if ID is missing (rare)\n  if (!key) {\n    key = [\n      job.title || '',\n      job.company?.display_name || '',\n      job.location?.display_name || ''\n    ].join('|').toLowerCase();\n  }\n\n  // Deduplicate\n  if (!seen.has(key)) {\n    seen.add(key);\n    output.push({ json: job });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16288,
        2384
      ],
      "id": "2fa79bdd-6e73-4dd9-9b5f-209925d16eff",
      "name": "Deduplication"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "Berkshire"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15616,
        2288
      ],
      "id": "8eba67c2-6de1-42ed-86c0-ea455b999297",
      "name": "Adzuna – Search IT Jobs in Berkshire"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{$env.ADZUNA_APP_ID}}"
            },
            {
              "name": "app_key",
              "value": "={{$env.ADZUNA_APP_KEY}}"
            },
            {
              "name": "what",
              "value": "database administrator"
            },
            {
              "name": "where",
              "value": "London"
            },
            {
              "name": "results_per_page",
              "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
            },
            {
              "name": "sort_by",
              "value": "date"
            },
            {
              "name": "category",
              "value": "it-jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15616,
        2480
      ],
      "id": "9a09955a-1cd8-4e5d-9a9b-cf02ecbbb452",
      "name": "Adzuna – Search IT Jobs in London"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16064,
        2384
      ],
      "id": "1611588b-557c-48ef-b6b4-944627db3854",
      "name": "Merge Jobs"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15840,
        2288
      ],
      "id": "43b67607-e2cb-46f4-9f6a-fbe1f870b51d",
      "name": "Convert Jobs - Berkshire"
    },
    {
      "parameters": {
        "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15840,
        2480
      ],
      "id": "829f8fc7-ddb2-45f9-ba89-36c47d04893b",
      "name": "Convert Jobs - London"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c895134-c02f-4827-9cb0-74f9152d697e",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "APPLY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6d8d97b8-fb43-4f1c-893e-f59b72834b2a",
              "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
              "rightValue": "=MAYBE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        17952,
        2560
      ],
      "id": "4ebce8ad-71da-4410-a35f-b91651093acd",
      "name": "Job Descripton Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bed7d60a-2182-46b3-b848-f7f434803e47",
              "leftValue": "={{\n  (\n    ($('Parse LLM Result').item.json.is_contract === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_contract) ||\n    ($('Parse LLM Result').item.json.is_permanent === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_perm)\n  )\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        18176,
        2624
      ],
      "id": "6f4a4c82-e1db-436e-a7b3-8a6f113d4009",
      "name": "Meet Salary Filter?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        17056,
        2384
      ],
      "id": "67999795-affa-48ec-a345-cfcff5d97224",
      "name": "Split – LLM Throttle"
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17552,
        2544
      ],
      "id": "2421d142-892c-45bf-8ab0-d103b2ad7e24",
      "name": "Wait – Rate Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        15392,
        2048
      ],
      "id": "98d0cfc0-2677-4a81-b720-b0e423e33cb1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
          "mode": "list",
          "cachedResultName": "n8n_sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sent_jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "score": "={{ $json.score }}",
            "recommendation": "={{ $json.recommendation }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "salary_max": "={{ $json.salary_max }}",
            "employment_type": "={{ $json.employment_type }}",
            "apply_url": "={{ $json.apply_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_max",
              "displayName": "salary_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employment_type",
              "displayName": "employment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        17792,
        2400
      ],
      "id": "2f11a275-821f-4043-902d-04c5ed000e42",
      "name": "Record Seen Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "edwardtong@gmail.com",
        "subject": "=&#x274C; Job Search Failed: {{ $json.execution.error.httpCode ? $json.execution.error.httpCode + \" – \" : \"\" }}{{ $json.execution.lastNodeExecuted }} | Exec #{{ $json.execution.id }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 2px solid #d93025; background: #fff5f5; color: #333; max-width: 650px;\">\n  <h2 style=\"margin-top: 0; color: #d93025;\">&#x274C; Workflow Failure Alert</h2>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 16px;\">\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; width: 140px; vertical-align: top;\">Workflow:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.workflow.name }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Failed Node:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.lastNodeExecuted }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Node Type:</td>\n      <td style=\"padding: 6px 0; font-size: 13px; color: #666;\">{{ $json.execution.error.node.type }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">HTTP Status:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.error.httpCode ?? 'N/A' }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Triggered By:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.executionContext.triggerNode.name }} ({{ $json.execution.mode }})</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Timestamp:</td>\n      <td style=\"padding: 6px 0;\">{{ new Date($json.execution.error.timestamp).toUTCString() }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Execution ID:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.id }}</td>\n    </tr>\n  </table>\n\n  <p style=\"font-weight: bold; margin-bottom: 6px;\">Error Message:</p>\n  <pre style=\"background: #f0f0f0; border: 1px solid #ccc; padding: 10px 14px; border-radius: 4px; font-size: 13px; white-space: pre-wrap; word-break: break-word; margin: 0 0 16px 0;\">{{ $json.execution.error.message }}</pre>\n\n  {{ $json.execution.error.context?.request ? '<p style=\"font-weight: bold; margin-bottom: 6px;\">Request Details:</p><pre style=\"background: #f0f0f0; border: 1px solid #ccc; padding: 10px 14px; border-radius: 4px; font-size: 12px; white-space: pre-wrap; word-break: break-word; margin: 0 0 16px 0;\">Method: ' + $json.execution.error.context.request.method + '\nURL: ' + $json.execution.error.context.request.uri + (Object.keys($json.execution.error.context.request.qs ?? {}).length ? '\nQuery: ' + JSON.stringify($json.execution.error.context.request.qs, null, 2) : '') + '</pre>' : '' }}\n\n  <hr style=\"border: 0; border-top: 1px solid #ffcccc; margin: 20px 0;\">\n  <p style=\"margin: 0;\">\n    <a href=\"{{ $json.execution.url }}\" style=\"background: #d93025; color: white; padding: 10px 18px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;\">\n      &#x1F50D; View Execution in n8n\n    </a>\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        15600,
        2048
      ],
      "id": "fa659507-67c0-4efc-9243-5f50113a4b86",
      "name": "Gmail for Job Failure",
      "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Configuration": {
      "main": [
        [
          {
            "node": "Load Sent Job History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter – Exclude Programming Jobs": {
      "main": [
        [
          {
            "node": "Normalize – DBA Job for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize – DBA Job for LLM": {
      "main": [
        [
          {
            "node": "Filter Out Sent Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sent Job History": {
      "main": [
        [
          {
            "node": "Trigger Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Searches": {
      "main": [
        [
          {
            "node": "Adzuna – Search IT Jobs in Berkshire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Adzuna – Search IT Jobs in London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Sent Jobs": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split – LLM Throttle": {
      "main": [
        [],
        [
          {
            "node": "Wait – Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Rate Limit": {
      "main": [
        [
          {
            "node": "LLM – DBA Job Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Seen Jobs": {
      "main": [
        [
          {
            "node": "Job Descripton Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM – DBA Job Scoring": {
      "main": [
        [
          {
            "node": "Parse LLM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Result": {
      "main": [
        [
          {
            "node": "Record Seen Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Job to GMAIL": {
      "main": [
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gmail HTTP Format": {
      "main": [
        [
          {
            "node": "Send Job to GMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication": {
      "main": [
        [
          {
            "node": "Filter – Exclude Programming Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in Berkshire": {
      "main": [
        [
          {
            "node": "Convert Jobs - Berkshire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna – Search IT Jobs in London": {
      "main": [
        [
          {
            "node": "Convert Jobs - London",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Jobs": {
      "main": [
        [
          {
            "node": "Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - Berkshire": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Jobs - London": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Job Descripton Filter": {
      "main": [
        [
          {
            "node": "Meet Salary Filter?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meet Salary Filter?": {
      "main": [
        [
          {
            "node": "Prepare Gmail HTTP Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split – LLM Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail for Job Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/London",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "114ebbe2-3e22-4c5e-af82-afd40b8230e3",
  "activeVersionId": "114ebbe2-3e22-4c5e-af82-afd40b8230e3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T12:42:48.752Z",
      "createdAt": "2026-03-28T12:42:48.752Z",
      "role": "workflow:owner",
      "workflowId": "A6UoupVp1QavE3Xa",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-01T10:36:46.000Z",
    "createdAt": "2026-04-01T10:35:56.368Z",
    "versionId": "114ebbe2-3e22-4c5e-af82-afd40b8230e3",
    "workflowId": "A6UoupVp1QavE3Xa",
    "nodes": [
      {
        "parameters": {
          "jsCode": "return [ items[0] ];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          15392,
          2368
        ],
        "id": "7904f293-6313-49f0-bc47-f6b37e651ab5",
        "name": "Trigger Searches"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          14800,
          2240
        ],
        "id": "58c66430-1ea3-4e98-8105-6a5490508ae6",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "jsCode": "return {\n  min_salary_perm: 50000,\n  min_salary_contract: 60000,\n  results_per_page: 50\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          15040,
          2368
        ],
        "id": "bd63f185-774f-45a4-84ac-bab39778f1b8",
        "name": "Global Configuration"
      },
      {
        "parameters": {
          "jsCode": "// Input is already one job per item\nconst jobs = items.map(i => i.json);\n\nconst blacklist = [\n  'software developer',\n  'software engineer',\n  'frontend',\n  'backend',\n  'full stack',\n  'trainee',\n  'coding'\n];\n\nconst whitelist = [\n  'database administrator',\n  'dba',\n  'sql server',\n  'mysql',\n  'sybase',\n  'ase',\n  'replication',\n  'performance tuning'\n];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  const body  = (job.description || '').toLowerCase();\n  const fullText = `${title} ${body}`;\n\n  const hasDBA = whitelist.some(w => fullText.includes(w));\n\n  // 🔒 Only kill if title CLEARLY indicates dev role\n  const isDevTitle = blacklist.some(b => title.includes(b));\n\n  return hasDBA && !isDevTitle;\n});\n\n// Return as n8n items\nreturn filtered.map(job => ({ json: job }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16512,
          2384
        ],
        "id": "b3cf2df1-4a55-443f-8a41-268312b5cb8d",
        "name": "Filter – Exclude Programming Jobs"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const job = item.json;\n\n  // Detect contract from text (critical fix)\n  const desc = (job.description || '').toLowerCase();\n  const title = (job.title || '').toLowerCase();\n\n  const isDailyRate =\n    /per day|\\/day|daily rate|inside ir35|outside ir35/i.test(desc);\n\n  const isContract =\n    job.contract_type === 'contract' ||\n    job.contract_time === 'contract' ||\n    isDailyRate;\n\n  const isPermanent =\n    !isContract &&\n    (job.contract_time === 'full_time' || job.contract_type === 'permanent');\n\n  return {\n    json: {\n      // Stable identifiers\n      job_id: job.id || null,\n      source: 'Adzuna',\n\n      // Core job info\n      title: job.title || '',\n      company: job.company?.display_name || '',\n      location: job.location?.display_name || '',\n\n      // DBA-critical content\n      job_description: job.description || '',\n\n      // Apply path\n      apply_url: job.redirect_url || '',\n\n      // Compensation\n      salary_min: job.salary_min || null,\n      salary_max: job.salary_max || null,\n      salary_is_estimated: job.salary_is_predicted || false,\n\n      // Job metadata (preserve raw values)\n      contract_type: job.contract_type || job.contract_time || null,\n      employment_type: job.contract_time || null,\n      posted_at: job.created || null,\n      category: job.category?.tag || null,\n\n      // ✅ Derived helpers (FIXED)\n      is_contract: isContract,\n      is_permanent: isPermanent,\n\n      // Text block for LLM (DO NOT CHANGE STRUCTURE)\n      llm_input: `\nJob Title:\n${job.title || 'N/A'}\n\nCompany:\n${job.company?.display_name || 'N/A'}\n\nLocation:\n${job.location?.display_name || 'N/A'}\n\nContract Type:\n${job.contract_type || job.contract_time || 'N/A'}\n\nSalary:\n${job.salary_min || 'N/A'} – ${job.salary_max || 'N/A'}\n\nJob Description:\n${job.description || 'N/A'}\n`.trim()\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16688,
          2384
        ],
        "id": "596b15e3-95cc-435d-8392-8c8423b331ec",
        "name": "Normalize – DBA Job for LLM"
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          17408,
          2416
        ],
        "id": "379aaf3c-592a-4dc1-8224-4a26fe42ad82",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are evaluating a job posting for a specific candidate. Your job is to reason about how well this role fits this person — not to do keyword matching.\n\nCANDIDATE PROFILE:\n- Senior Database Platform Engineer, 25+ years hands-on experience.\n- Sectors: Investment banking (Nomura, 2023–2025) and Healthcare (Hospital Authority HK, 2002–2022) — mission-critical, regulated, 24x7 production environments.\n- Core database expertise:\n  - Microsoft SQL Server (Always On AG, patching, performance tuning, migrations — up to 1TB workloads, ~150 servers)\n  - Sybase ASE / Adaptive Server Enterprise (HA architecture, Replication Server, multi-site availability — ~100 servers at Nomura)\n  - MySQL (GTID-based replication, critical patching, production administration)\n  - MongoDB (sharded clusters, replica sets, Ops Manager, Community→Enterprise upgrades, ~3TB EHR platform; MongoDB Certified DBA Associate)\n- Secondary/supporting skills: Elasticsearch/ELK Stack (9-node cluster, ~50GB/day log ingestion), Oracle Database\n- DevOps & automation: Terraform (IaC), Git-driven CI/CD pipelines, Ansible/Ansible Tower, Bash scripting, PowerShell, Broadcom Autosys\n- Scale: delivered across environments of 100–1200+ database servers; multi-terabyte migrations\n- Preference: Hands-on production DBA work — provisioning, HA/DR, incident response, upgrades, performance tuning, on-call ownership. Not interested in application development, BI, reporting, or pure data engineering roles.\n- Seniority: Senior/Lead/Principal level. Junior, trainee, or associate-level roles are a poor fit.\n\nTECHNOLOGY NOTES (to aid your reasoning, not as hard rules):\n- \"SQL Server\", \"MSSQL\", \"MS SQL\", \"Microsoft SQL Server\", and \"SQL Server 20xx\" (e.g. SQL Server 2019) all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase ASE\", \"SAP ASE\", \"SAP Adaptive Server Enterprise\", \"Adaptive Server Enterprise\", \"ASE 15.x\", and \"ASE 16.x\" all refer to the same product — treat them as identical when assessing fit.\n- \"Sybase\" alone in a job may refer to Sybase ASE (a strong match) OR Sybase IQ/SAP IQ (a columnar analytics DB — very different product the candidate is not experienced in). Read the JD carefully to determine which product is actually required.\n- A role focused on a single platform from the core stack (SQL Server, Sybase ASE, MySQL, or MongoDB) is a STRONG match — the candidate is an expert in each platform individually. Do NOT penalise for lack of breadth. The role only needs to use one of these platforms to be a strong fit.\n- Do NOT treat the candidate's multi-platform background as a mismatch for a single-platform role. A pure MongoDB DBA role, a pure Sybase ASE role, or a pure SQL Server role are all individually strong fits.\n- MongoDB roles: the candidate holds a MongoDB Certified DBA Associate credential and has delivered a 3TB production sharded cluster. Score MongoDB DBA/admin roles highly.\n- DevOps-adjacent DBA roles (e.g. Database Reliability Engineer, Database Platform Engineer) that combine production DBA ownership with IaC/automation are a strong fit given the candidate's Terraform and CI/CD experience. Do not score these lower simply because they mention DevOps tooling.\n- Transferable skills matter: a candidate with deep SQL Server HA/DR experience can adapt to similar operational patterns on related platforms.\n\nYOUR EVALUATION TASK:\nRead the full job description and reason about:\n1. What does this role actually require day-to-day?\n2. How much of that overlaps with the candidate's expertise and preferences?\n3. Are there gaps? How significant are they — dealbreakers, or learnable?\n4. Does the seniority level and work style match?\n5. Would this candidate be competitive and genuinely interested?\n\nIMPORTANT SCORING GUIDANCE:\n- A role requiring only ONE of the candidate's core platforms (SQL Server, Sybase ASE, MySQL, or MongoDB) is a high-scoring match — not a partial match. Only score lower if the role requires technologies outside the candidate's stack, or if the work type (e.g. development, BI) does not match their preference.\n- Database Platform Engineer / Database Reliability Engineer titles: score as DBA_ENGINEER. These are strong fits if they involve production ownership, HA/DR, and automation — which aligns with the candidate's most recent role title and experience.\n- Roles requiring primarily Oracle, PostgreSQL, Cassandra, or cloud-native managed DB services (RDS, Azure SQL, etc.) are outside the core stack. Score as MAYBE only if SQL Server or another core platform is also required; otherwise SKIP.\n- Elasticsearch/ELK roles: candidate has operational experience managing a large-scale ELK cluster, but this is not a primary interest. Score as MAYBE at best unless it is combined with DBA work.\n\nBased on your reasoning, produce:\n- score: 0–100 representing overall fit (technical match + seniority + work style). Ignore compensation entirely.\n- recommendation: APPLY (strong fit, worth pursuing), MAYBE (partial fit, worth considering), or SKIP (poor fit or clear mismatch).\n- role_type: one of DBA_ADMIN, DBA_ENGINEER, DATA_ENGINEER, DEVOPS, MANAGEMENT, NOT_DBA.\n- reason: 1–2 sentences explaining the key factors behind your score and recommendation.\n\nOUTPUT FORMAT (strict — return only valid JSON, no markdown, no extra text):\n{\n  \"score\": 85,\n  \"role_type\": \"DBA_ADMIN\",\n  \"recommendation\": \"APPLY\",\n  \"reason\": \"Hands-on SQL Server HA/DR and production ownership aligns closely with candidate's background; seniority level matches.\"\n}\n\nJOB DATA:\n{{ $json.llm_input }}\n",
          "messages": {
            "messageValues": [
              {
                "message": "You are an experienced technical recruiter specialising in senior Database Administrator placements. You have deep knowledge of database technologies and can distinguish between similar-sounding but different products (e.g. Sybase ASE vs Sybase IQ, SQL Server DBA vs SQL Server developer). Your goal is to evaluate genuine fit — not surface-level keyword matching. Be honest and realistic: a partial match with transferable skills may still be worth pursuing; a role that only superficially mentions a familiar technology may not be. Compensation and salary are irrelevant to your evaluation — that is handled separately. Return only valid JSON."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          17296,
          2272
        ],
        "id": "73411167-699f-49b1-adcd-28a14f39970b",
        "name": "LLM – DBA Job Scoring",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = (item.json.text || '').trim();\nconst originalJob = $('Wait – Rate Limit').item.json;\n\nlet parsed;\ntry {\n  const cleanJson = raw.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  return {\n    json: {\n      ...originalJob,\n      score: 0,\n      role_type: 'NOT_DBA',\n      recommendation: 'SKIP',\n      reason: 'LLM Error: Failed to parse response JSON.'\n    }\n  };\n}\n\nconst score = parsed.score || 0;\n\n// Enforce recommendation based on score thresholds — overrides LLM decision\nlet recommendation;\nif (score >= 70) {\n  recommendation = 'APPLY';\n} else if (score >= 50) {\n  recommendation = 'MAYBE';\n} else {\n  recommendation = 'SKIP';\n}\n\nreturn {\n  json: {\n    ...originalJob,\n    score,\n    role_type: parsed.role_type || 'NOT_DBA',\n    recommendation,\n    reason: parsed.reason || 'Missing reason in LLM response.'\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          17616,
          2272
        ],
        "id": "2b86826c-b923-421a-a227-653ccdf456c3",
        "name": "Parse LLM Result"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
            "mode": "list",
            "cachedResultName": "n8n_sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          15232,
          2368
        ],
        "id": "3c94a8e2-b5de-4021-9ca0-04a6cd90e6f4",
        "name": "Load Sent Job History",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const newJobs = $(\"Normalize – DBA Job for LLM\").all();\n\n// Safely load history — empty sheet returns 0 items\nlet sentHistory = [];\ntry {\n  sentHistory = $(\"Load Sent Job History\").all();\n  // If the sheet is empty, Google Sheets node may return items without a job_id column\n  // Filter to only items that actually look like history records\n  sentHistory = sentHistory.filter(item => item.json.job_id);\n} catch(e) {\n  sentHistory = [];\n}\n\n// Build sets from history: by job_id AND by normalised company+title (catches re-posts with new IDs)\nconst sentIds = new Set(sentHistory.map(item => String(item.json.job_id).trim()));\nconst sentTitleKeys = new Set(\n  sentHistory.map(item => {\n    const title = (item.json.title || '').toLowerCase().trim();\n    const company = (item.json.company || '').toLowerCase().trim();\n    return `${company}||${title}`;\n  })\n);\n\n// Deduplicate within this run too (Berkshire + London searches may return the same job)\nconst seen = new Set();\nconst result = [];\nfor (const item of newJobs) {\n  const id = String(item.json.job_id || '').trim();\n  const titleKey = `${(item.json.company || '').toLowerCase().trim()}||${(item.json.title || '').toLowerCase().trim()}`;\n\n  if (!sentIds.has(id) && !sentTitleKeys.has(titleKey) && !seen.has(id)) {\n    seen.add(id);\n    result.push(item);\n  }\n}\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16864,
          2384
        ],
        "id": "88212df5-14f4-4602-a6db-462ae3268a52",
        "name": "Filter Out Sent Jobs"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          18576,
          2704
        ],
        "id": "ff9cadff-fd13-4a6d-b19c-2f5bf4a2f735",
        "name": "Send Job to GMAIL",
        "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
        "credentials": {
          "gmailOAuth2": {
            "id": "ON4cMVnRGPKgOQl0",
            "name": "Job.Automation Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Current job item \nconst job = $('Parse LLM Result').item.json;\n\n// Safe helper\nconst safe = (v) => (v === undefined || v === null || v === '' ? 'N/A' : v);\n\n// Description handling\nconst desc = job.job_description || '';\nconst shortDesc =\n  desc.length > 2000\n    ? desc.slice(0, 2000).replace(/\\n/g, '<br>') +\n      '<br><br><em>[Description truncated]</em>'\n    : desc.replace(/\\n/g, '<br>');\n\n// Subject\nconst subject = `[DBA Job Match v3.0 – ${safe(job.score)}] ${safe(job.title)} – ${safe(job.company)}`;\n\nreturn {\n  json: {\n    to: 'edwardtong@gmail.com',\n    subject,\n    html: `\n<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #222;\">\n\n  <h2 style=\"margin-bottom: 4px;\">${safe(job.title)}</h2>\n\n  <p style=\"margin-top: 0; color: #555;\">\n    <strong>${safe(job.company)}</strong> · ${safe(job.location)}\n  </p>\n\n  <hr>\n\n  <table cellpadding=\"6\" cellspacing=\"0\">\n    <tr><td><strong>Score</strong></td><td>${safe(job.score)}</td></tr>\n    <tr><td><strong>Recommendation</strong></td><td>${safe(job.recommendation)}</td></tr>\n    <tr><td><strong>Reason</strong></td><td>${safe(job.reason)}</td></tr>\n    <tr><td><strong>Salary</strong></td>\n        <td>£${safe(job.salary_min)} – £${safe(job.salary_max)}</td></tr>\n    <tr><td><strong>Contract</strong></td><td>${safe(job.contract_type)}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0;\">\n    <a href=\"${safe(job.apply_url)}\"\n       style=\"background:#1a73e8;color:#fff;padding:10px 16px;\n              text-decoration:none;border-radius:4px;font-weight:bold;\">\n      Apply for this job →\n    </a>\n  </p>\n\n  <hr>\n\n  <h3>Job Description</h3>\n  <p style=\"line-height:1.5;\">${shortDesc || '<em>No description provided</em>'}</p>\n\n  <hr>\n\n  <p style=\"font-size:12px;color:#777;\">\n    Sent automatically by n8n · Source: ${safe(job.source)}\n  </p>\n\n</div>\n`.trim()\n  }\n};\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          18400,
          2688
        ],
        "id": "25e109db-6ca4-498c-84f3-b0db48c647c1",
        "name": "Prepare Gmail HTTP Format"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * 1-5"
              },
              {
                "field": "cronExpression",
                "expression": "30 14 * * 1-5"
              },
              {
                "field": "cronExpression",
                "expression": "0 16 * * 1-5"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          14800,
          2512
        ],
        "id": "570a0379-b1a9-4a81-9d97-4f87270e516b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of items) {\n  const job = item.json;\n\n  // Primary key: Adzuna job ID\n  let key = job.id;\n\n  // Fallback if ID is missing (rare)\n  if (!key) {\n    key = [\n      job.title || '',\n      job.company?.display_name || '',\n      job.location?.display_name || ''\n    ].join('|').toLowerCase();\n  }\n\n  // Deduplicate\n  if (!seen.has(key)) {\n    seen.add(key);\n    output.push({ json: job });\n  }\n}\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16288,
          2384
        ],
        "id": "2fa79bdd-6e73-4dd9-9b5f-209925d16eff",
        "name": "Deduplication"
      },
      {
        "parameters": {
          "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "app_id",
                "value": "={{$env.ADZUNA_APP_ID}}"
              },
              {
                "name": "app_key",
                "value": "={{$env.ADZUNA_APP_KEY}}"
              },
              {
                "name": "what",
                "value": "database administrator"
              },
              {
                "name": "where",
                "value": "Berkshire"
              },
              {
                "name": "results_per_page",
                "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
              },
              {
                "name": "sort_by",
                "value": "date"
              },
              {
                "name": "category",
                "value": "it-jobs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          15616,
          2288
        ],
        "id": "8eba67c2-6de1-42ed-86c0-ea455b999297",
        "name": "Adzuna – Search IT Jobs in Berkshire"
      },
      {
        "parameters": {
          "url": "https://api.adzuna.com/v1/api/jobs/gb/search/1",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "app_id",
                "value": "={{$env.ADZUNA_APP_ID}}"
              },
              {
                "name": "app_key",
                "value": "={{$env.ADZUNA_APP_KEY}}"
              },
              {
                "name": "what",
                "value": "database administrator"
              },
              {
                "name": "where",
                "value": "London"
              },
              {
                "name": "results_per_page",
                "value": "={{ $node[\"Global Configuration\"].json[\"results_per_page\"] }}"
              },
              {
                "name": "sort_by",
                "value": "date"
              },
              {
                "name": "category",
                "value": "it-jobs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          15616,
          2480
        ],
        "id": "9a09955a-1cd8-4e5d-9a9b-cf02ecbbb452",
        "name": "Adzuna – Search IT Jobs in London"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          16064,
          2384
        ],
        "id": "1611588b-557c-48ef-b6b4-944627db3854",
        "name": "Merge Jobs"
      },
      {
        "parameters": {
          "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          15840,
          2288
        ],
        "id": "43b67607-e2cb-46f4-9f6a-fbe1f870b51d",
        "name": "Convert Jobs - Berkshire"
      },
      {
        "parameters": {
          "jsCode": "return $json.results.map(job => ({\n  json: job\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          15840,
          2480
        ],
        "id": "829f8fc7-ddb2-45f9-ba89-36c47d04893b",
        "name": "Convert Jobs - London"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6c895134-c02f-4827-9cb0-74f9152d697e",
                "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
                "rightValue": "APPLY",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "6d8d97b8-fb43-4f1c-893e-f59b72834b2a",
                "leftValue": "={{ $('Parse LLM Result').item.json.recommendation }}",
                "rightValue": "=MAYBE",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          17952,
          2560
        ],
        "id": "4ebce8ad-71da-4410-a35f-b91651093acd",
        "name": "Job Descripton Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "bed7d60a-2182-46b3-b848-f7f434803e47",
                "leftValue": "={{\n  (\n    ($('Parse LLM Result').item.json.is_contract === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_contract) ||\n    ($('Parse LLM Result').item.json.is_permanent === true && $('Parse LLM Result').item.json.salary_max >= $('Global Configuration').first().json.min_salary_perm)\n  )\n}}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          18176,
          2624
        ],
        "id": "6f4a4c82-e1db-436e-a7b3-8a6f113d4009",
        "name": "Meet Salary Filter?"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          17056,
          2384
        ],
        "id": "67999795-affa-48ec-a345-cfcff5d97224",
        "name": "Split – LLM Throttle"
      },
      {
        "parameters": {
          "jsCode": "return items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          17552,
          2544
        ],
        "id": "2421d142-892c-45bf-8ab0-d103b2ad7e24",
        "name": "Wait – Rate Limit"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          15392,
          2048
        ],
        "id": "98d0cfc0-2677-4a81-b720-b0e423e33cb1",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM",
            "mode": "list",
            "cachedResultName": "n8n_sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "sent_jobs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110sc2VFTAlT5JYy4iRpqVbffN7kRdwM7WMdTWYZMBIM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "job_id": "={{ $json.job_id }}",
              "source": "={{ $json.source }}",
              "title": "={{ $json.title }}",
              "company": "={{ $json.company }}",
              "score": "={{ $json.score }}",
              "recommendation": "={{ $json.recommendation }}",
              "sent_at": "={{ new Date().toISOString() }}",
              "salary_max": "={{ $json.salary_max }}",
              "employment_type": "={{ $json.employment_type }}",
              "apply_url": "={{ $json.apply_url }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "job_id",
                "displayName": "job_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "salary_max",
                "displayName": "salary_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "employment_type",
                "displayName": "employment_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apply_url",
                "displayName": "apply_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "recommendation",
                "displayName": "recommendation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sent_at",
                "displayName": "sent_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          17792,
          2400
        ],
        "id": "2f11a275-821f-4043-902d-04c5ed000e42",
        "name": "Record Seen Jobs",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "edwardtong@gmail.com",
          "subject": "=&#x274C; Job Search Failed: {{ $json.execution.error.httpCode ? $json.execution.error.httpCode + \" – \" : \"\" }}{{ $json.execution.lastNodeExecuted }} | Exec #{{ $json.execution.id }}",
          "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 2px solid #d93025; background: #fff5f5; color: #333; max-width: 650px;\">\n  <h2 style=\"margin-top: 0; color: #d93025;\">&#x274C; Workflow Failure Alert</h2>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 16px;\">\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; width: 140px; vertical-align: top;\">Workflow:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.workflow.name }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Failed Node:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.lastNodeExecuted }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Node Type:</td>\n      <td style=\"padding: 6px 0; font-size: 13px; color: #666;\">{{ $json.execution.error.node.type }}</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">HTTP Status:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.error.httpCode ?? 'N/A' }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Triggered By:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.executionContext.triggerNode.name }} ({{ $json.execution.mode }})</td>\n    </tr>\n    <tr style=\"background: #ffeaea;\">\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Timestamp:</td>\n      <td style=\"padding: 6px 0;\">{{ new Date($json.execution.error.timestamp).toUTCString() }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 12px 6px 0; font-weight: bold; vertical-align: top;\">Execution ID:</td>\n      <td style=\"padding: 6px 0;\">{{ $json.execution.id }}</td>\n    </tr>\n  </table>\n\n  <p style=\"font-weight: bold; margin-bottom: 6px;\">Error Message:</p>\n  <pre style=\"background: #f0f0f0; border: 1px solid #ccc; padding: 10px 14px; border-radius: 4px; font-size: 13px; white-space: pre-wrap; word-break: break-word; margin: 0 0 16px 0;\">{{ $json.execution.error.message }}</pre>\n\n  {{ $json.execution.error.context?.request ? '<p style=\"font-weight: bold; margin-bottom: 6px;\">Request Details:</p><pre style=\"background: #f0f0f0; border: 1px solid #ccc; padding: 10px 14px; border-radius: 4px; font-size: 12px; white-space: pre-wrap; word-break: break-word; margin: 0 0 16px 0;\">Method: ' + $json.execution.error.context.request.method + '\nURL: ' + $json.execution.error.context.request.uri + (Object.keys($json.execution.error.context.request.qs ?? {}).length ? '\nQuery: ' + JSON.stringify($json.execution.error.context.request.qs, null, 2) : '') + '</pre>' : '' }}\n\n  <hr style=\"border: 0; border-top: 1px solid #ffcccc; margin: 20px 0;\">\n  <p style=\"margin: 0;\">\n    <a href=\"{{ $json.execution.url }}\" style=\"background: #d93025; color: white; padding: 10px 18px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;\">\n      &#x1F50D; View Execution in n8n\n    </a>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          15600,
          2048
        ],
        "id": "fa659507-67c0-4efc-9243-5f50113a4b86",
        "name": "Gmail for Job Failure",
        "webhookId": "7ee71364-1b86-4af0-bc1f-e10cee2055f2",
        "credentials": {
          "gmailOAuth2": {
            "id": "ON4cMVnRGPKgOQl0",
            "name": "Job.Automation Gmail account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Global Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Global Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Global Configuration": {
        "main": [
          [
            {
              "node": "Load Sent Job History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter – Exclude Programming Jobs": {
        "main": [
          [
            {
              "node": "Normalize – DBA Job for LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "LLM – DBA Job Scoring",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Normalize – DBA Job for LLM": {
        "main": [
          [
            {
              "node": "Filter Out Sent Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Sent Job History": {
        "main": [
          [
            {
              "node": "Trigger Searches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Searches": {
        "main": [
          [
            {
              "node": "Adzuna – Search IT Jobs in Berkshire",
              "type": "main",
              "index": 0
            },
            {
              "node": "Adzuna – Search IT Jobs in London",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Out Sent Jobs": {
        "main": [
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split – LLM Throttle": {
        "main": [
          [],
          [
            {
              "node": "Wait – Rate Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait – Rate Limit": {
        "main": [
          [
            {
              "node": "LLM – DBA Job Scoring",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record Seen Jobs": {
        "main": [
          [
            {
              "node": "Job Descripton Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM – DBA Job Scoring": {
        "main": [
          [
            {
              "node": "Parse LLM Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM Result": {
        "main": [
          [
            {
              "node": "Record Seen Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Job to GMAIL": {
        "main": [
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gmail HTTP Format": {
        "main": [
          [
            {
              "node": "Send Job to GMAIL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplication": {
        "main": [
          [
            {
              "node": "Filter – Exclude Programming Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adzuna – Search IT Jobs in Berkshire": {
        "main": [
          [
            {
              "node": "Convert Jobs - Berkshire",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adzuna – Search IT Jobs in London": {
        "main": [
          [
            {
              "node": "Convert Jobs - London",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Jobs": {
        "main": [
          [
            {
              "node": "Deduplication",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Jobs - Berkshire": {
        "main": [
          [
            {
              "node": "Merge Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Jobs - London": {
        "main": [
          [
            {
              "node": "Merge Jobs",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Job Descripton Filter": {
        "main": [
          [
            {
              "node": "Meet Salary Filter?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Meet Salary Filter?": {
        "main": [
          [
            {
              "node": "Prepare Gmail HTTP Format",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split – LLM Throttle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Gmail for Job Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 114ebbe2",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-04-02T01:00:51.167Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}