workflows/ai_cv_generator_dYovA2TmARA5H8iT.json
{
  "updatedAt": "2026-03-20T23:19:40.238Z",
  "createdAt": "2026-03-19T19:23:58.870Z",
  "id": "dYovA2TmARA5H8iT",
  "name": "AI_CV_Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "881cc2ee-29ec-4dcc-ab66-bdcb012d9c9d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1952,
        -2016
      ],
      "webhookId": "55e1fb1b-7993-49a2-b496-dd5036834f55"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body?.job_url || $json.body?.job_description || $json.job_url || $json.job_description}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "88ab9abd-2a5d-41da-b14e-0d0dc3b9163c",
      "name": "Has Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1760,
        -2016
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"Missing job_description or job_url\"}",
        "options": {}
      },
      "id": "66aaff22-d068-4afe-9b61-c2ed51f01ece",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1344,
        -2256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.job_url || $json.job_url}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "898c0d01-fc01-4643-bdc0-8a82161b0bf0",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1552,
        -2016
      ]
    },
    {
      "parameters": {
        "url": "={{$json.body?.job_url || $json.job_url}}",
        "options": {}
      },
      "id": "c4180b86-011a-4031-a9d8-13aa4f4c79d8",
      "name": "Fetch Job URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1360,
        -2064
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c3ebc95-dd52-42d1-9cbc-021c61a5c221",
      "name": "Set JD From URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -960,
        -2064
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "02d2ab30-ba7d-4bd7-a264-10d05272b084",
      "name": "Set JD From Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1360,
        -1888
      ]
    },
    {
      "parameters": {},
      "id": "74f6ecfa-1c52-4341-9980-0185cfbdc5a5",
      "name": "Merge JD",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -752,
        -2016
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "command": "find /cvdata/cv_kb -type f -print0 | sort -z | xargs -0 cat"
      },
      "id": "4aac74a5-1912-4b0f-a5b3-7882eb1b1fe4",
      "name": "Load KB",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -64,
        -2000
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  ...$json,\n  clean_job_description_plain: $node[\"Prep JD\"].json.clean_job_description_plain,\n  clean_job_description: $node[\"Prep JD\"].json.clean_job_description\n}];"
      },
      "id": "5ed26b5e-81ca-4412-a40f-26e6fd947968",
      "name": "Attach JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -1792
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.clean_job_description_plain}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "ae2a8c7b-535f-424e-b693-63f5024ccc54",
      "name": "JD Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        -1952
      ]
    },
    {
      "parameters": {
        "jsCode": "const jd = $json.clean_job_description_plain || '';\n\nconst prompt = `\nYou are an expert technical recruiter and ATS optimisation engine.\n\nYour task is to extract structured job requirements from the JOB DESCRIPTION below.\n\nIMPORTANT RULES:\n- Use ONLY the provided job description (no assumptions or hallucination)\n- Normalise similar terms (e.g. \"MSSQL\" → \"SQL Server\")\n- Deduplicate all lists\n- Be concise and structured\n\nReturn STRICT JSON (no markdown, no code fences) with the following schema:\n\n{\n  \"job_title\": \"\",\n  \"company\": \"\",\n  \"industry\": \"\",\n  \"seniority\": \"\",\n  \"years_experience_required\": \"\",\n  \"employment_type\": \"\",\n\n  \"must_have_skills\": [],\n  \"nice_to_have_skills\": [],\n\n  \"technologies\": [],\n  \"tools\": [],\n\n  \"responsibilities\": [],\n\n  \"domain_experience\": [],\n  \"soft_skills\": [],\n\n  \"keywords_core\": [],\n  \"keywords_expanded\": []\n}\n\nDEFINITION GUIDELINES:\n\n- must_have_skills: explicitly required or strongly emphasised\n- nice_to_have_skills: optional / preferred\n- technologies: databases, languages, platforms (e.g. Sybase, SQL Server, AWS)\n- tools: Terraform, Git, Jenkins, ELK, etc.\n- responsibilities: main duties (bullet-style phrases)\n- domain_experience: e.g. banking, trading systems, healthcare\n- keywords_core: exact keywords from JD\n- keywords_expanded: include variations and synonyms for ATS optimisation\n\nJOB DESCRIPTION (verbatim):\n\"\"\"\n${jd}\n\"\"\"\n`;\n\nreturn [{ ...$json, analyse_prompt: prompt }];"
      },
      "id": "8259fbc2-5b87-4636-b56a-49db7af24020",
      "name": "Build Analyse Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -2240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.analyse_prompt }}"
      },
      "id": "dfbe6249-0996-4287-853e-19d175ee0eb6",
      "name": "Analyse JD",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        432,
        -2192
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = ($json.text || $json.output || $json.response || $json.message || $json.data?.text || \"{}\").toString();\n// Find anything that looks like a JSON object\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nconst cleanContent = jsonMatch ? jsonMatch[0] : content;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(cleanContent);\n} catch (e) {\n  // Try to clean markdown fences if first parse failed\n  const deeperClean = cleanContent.replace(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/i, '$1').trim();\n  try { parsed = JSON.parse(deeperClean); } catch (e2) { parsed = {}; }\n}\nreturn [{ json: { ...$json, analysis: parsed } }];"
      },
      "id": "f99889f3-a926-45ed-86da-64a2087bc295",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -1904
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite CV writer and ATS optimisation expert specialising in senior technical contractor roles (£600+/day), particularly in investment banking and enterprise environments.\n\nYour task is to generate a HIGH-IMPACT, ATS-optimised CV in Markdown.\n\nOBJECTIVE:\nMaximise interview success by presenting a senior, impact-driven CV aligned with job requirements.\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. TRUTHFULNESS\n- DO NOT invent any experience, skills, technologies, or metrics\n- ONLY use information from the CANDIDATE KNOWLEDGE BASE\n- You MAY rephrase for clarity and impact\n\n2. PERSONAL DATA SAFETY\n- ONLY use candidate personal info from KNOWLEDGE BASE\n- DO NOT include job-specific info (salary, rate, job location)\n\n---\n\n3. STRUCTURE (MANDATORY — HARD ENFORCEMENT)\n\nThe CV MUST follow EXACTLY this order:\n\n1. Name & Contact  \n2. Professional Summary  \n3. Key Achievements  \n4. Key Skills  \n5. Professional Experience  \n6. Education  \n7. Certifications  \n8. Availability  \n\nMANDATORY HARD RULE:\n- The CV MUST include a section titled \"Key Achievements\"\n- If the \"Key Achievements\" section is missing, you MUST regenerate the CV internally before returning output\n- DO NOT return output without this section\n\n---\n\n4. PROFESSIONAL SUMMARY (CRITICAL)\n- 3–4 lines ONLY\n- MUST include:\n  - years of experience\n  - core specialisation (e.g. Sybase)\n  - domain (investment banking / trading systems)\n  - scale (e.g. 100–1200+ servers)\n  - production-critical nature (24x7)\n\n---\n\n5. KEY ACHIEVEMENTS (MANDATORY SECTION)\n- MUST contain exactly 4–6 bullets of the highest impact.\n- STYLE: Use the following format for inspiration (DO NOT FABRICATE metrics, only use what is in KB):\n  - Managed large-scale Sybase environments of up to 1,200+ servers across enterprise platforms\n  - Delivered ~2.3TB database migration into private cloud using Terraform-driven CI/CD automation\n  - Designed high availability architecture across ~100 Sybase ASE servers supporting trading systems\n  - Implemented ELK platform ingesting ~50GB/day across 2,000+ systems\n  - Developed automation tooling for rapid recovery during data centre outages, improving operational resilience\n- METRICS: Prioritise bullets that include specific numbers (1200+ servers, 2.3TB, 50GB/day, 24x7).\n\nDO NOT duplicate these bullets in Professional Experience\n\n---\n\n6. KEY SKILLS\n\nGroup into:\n- Database Technologies  \n- High Availability / DR  \n- DevOps / Automation  \n- Monitoring / Observability  \n- Platforms / Systems  \n\nPrioritise skills matching JOB REQUIREMENTS JSON\n\n---\n\n7. PROFESSIONAL EXPERIENCE (STRICT RULES)\n\n- 4–6 bullets per role\n- ALL bullets MUST be impact-driven\n\nMANDATORY IMPACT RULE:\nEach bullet MUST include at least ONE of:\n- scale (e.g. 100 servers, 2.3TB)\n- OR environment (trading, 24x7, enterprise)\n- OR business impact (resilience, performance, risk reduction)\n\nMANDATORY LANGUAGE RULE:\n- Use strong verbs: Led, Delivered, Designed, Developed, Optimised\n- DO NOT use weak phrases: \"responsible for\", \"worked on\", \"involved in\"\n\n---\n\n8. ATS OPTIMISATION\n\n- Use keywords from: must_have_skills, technologies, keywords_core\n- Ensure consistent terminology\n\n---\n\n9. REMOVE WEAKNESS\n\n- Remove redundancy\n- Avoid generic statements\n- Avoid vague descriptions\n\n---\n\n10. QUALITY CONTROL (MANDATORY)\n\nBefore final output, ensure:\n- \"Key Achievements\" section EXISTS and is positioned correctly\n- No generic bullets\n- All bullets include impact, scale, or environment\n- CV clearly shows seniority, domain, scale, and 24x7 support coverage\n\n---\n\nOUTPUT RULES:\n- Markdown only\n- No explanations\n- No code fences\n- No placeholders\n- Clean formatting\n\n---\n\nJOB DESCRIPTION:\n{{ $json.clean_job_description_plain }}\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $json.stdout }}"
      },
      "id": "1e635f03-48d1-4fb2-9f3b-e1fdfd9fe912",
      "name": "Generate CV",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        912,
        -2336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict senior CV editor and ATS optimisation expert.\n\nYour task is to REVIEW and IMPROVE the CV to maximise:\n- ATS keyword matching\n- recruiter readability\n- professional impact\n\nCRITICAL RULES:\n\n1. NO FABRICATION\n- DO NOT add new experience, skills, or technologies not already present in the CV\n- You may rephrase and optimise wording only\n\n2. REMOVE INVALID CONTENT\n- Remove any job-specific metadata (Rate, Salary, Contract Duration, Job Location)\n- Remove \"Issuer not specified\" from Certifications\n\n3. STRUCTURE ENFORCEMENT\nEnsure the CV follows this structure:\n- Name (top)\n- Professional Summary (3–4 lines)\n- Key Achievements (MANDATORY SECTION - ensure 4–6 metric-focused bullets)\n- Key Skills (grouped categories)\n- Professional Experience\n- Education\n- Certifications\n\n4. ATS OPTIMISATION\n- Integrate relevant keywords from JOB REQUIREMENTS JSON where they already match the CV content\n- Normalise terminology\n- Avoid keyword stuffing\n\n5. PRIORITISATION\n- Move the most relevant skills and experience (based on JOB REQUIREMENTS JSON) to the top\n- Ensure the \"Key Achievements\" section remains prominent and includes relevant metrics (servers, TB size, etc.)\n\n6. IMPACT IMPROVEMENT\n- Rewrite weak bullets into strong, impact-driven statements\n- Use action verbs: Delivered, Led, Implemented, Optimised, Managed\n- Add scale where already present (e.g. number of servers, data size)\n\n7. CLARITY & CONSISTENCY\n- Fix grammar and wording\n- Ensure consistent tense and formatting\n- Keep bullet points concise (1–2 lines max)\n\n8. PROFESSIONAL TONE\n- Ensure the CV sounds senior, confident, and concise\n- Avoid generic phrases like \"responsible for\"\n\nOUTPUT RULES:\n- Return ONLY the improved CV in Markdown\n- No explanations\n- No code fences\n- No extra text\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCV DRAFT:\n{{ $node[\"Generate CV\"].json.text || $node[\"Generate CV\"].json.output || $node[\"Generate CV\"].json.response || $node[\"Generate CV\"].json.message }}"
      },
      "id": "02b21a3f-b07b-4739-999b-55a02ab5d90d",
      "name": "Review CV",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1200,
        -2336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior career coach and recruiter specialising in technical roles.\n\nWrite a tailored, high-impact cover letter (150–200 words) that maximises alignment with the job requirements and increases interview chances.\n\nCRITICAL RULES:\n\n1. NO FABRICATION\n- Use ONLY information from the FINAL CV and KNOWLEDGE BASE\n- DO NOT invent skills, experience, or achievements\n\n2. TAILORING STRATEGY\n- Prioritise must-have skills, technologies, and domain experience from JOB REQUIREMENTS JSON\n- Align wording with key job keywords naturally (no keyword stuffing)\n\n3. STRONG OPENING\n- Start with a confident, role-specific statement (avoid generic phrases like \"I am excited to apply\")\n- Immediately highlight:\n  - years of experience\n  - specialisation (e.g. Sybase, database platforms)\n  - relevant domain (e.g. banking, trading systems)\n\n4. VALUE DEMONSTRATION\n- Include 1–2 strong, relevant achievements from the CV:\n  - scale (e.g. number of servers, TB size)\n  - impact (e.g. migration, HA/DR, performance)\n- Focus on what value the candidate brings to the employer\n\n5. ALIGNMENT WITH ROLE\n- Clearly connect candidate experience to:\n  - job responsibilities\n  - technical environment\n  - business domain\n\n6. PROFESSIONAL TONE\n- Concise, confident, and direct\n- Avoid generic phrases and repetition\n\n7. CLOSING\n- Use a strong closing statement expressing value and readiness\n- Use the candidate's name from the KNOWLEDGE BASE as the signature\n\nOUTPUT RULES:\n- 150–200 words only\n- Markdown format\n- No placeholders\n- No extra explanations\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $node[\"Merge Analysis KB\"].json.stdout }}\n\nFINAL CV:\n{{ $json.text }}"
      },
      "id": "e733a2c5-fe26-4069-9e14-d2675a050711",
      "name": "Generate Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1520,
        -2336
      ]
    },
    {
      "parameters": {
        "jsCode": "function pad(n){return n.toString().padStart(2,'0');}\nconst now = new Date();\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\n// Redundant access to analysis data for maximum compatibility\nlet analysis = {};\ntry { analysis = $('Parse Analysis').first().json.analysis || {}; } catch (e) {\n  try { analysis = $node[\"Parse Analysis\"].json.analysis || {}; } catch (e2) { analysis = {}; }\n}\n\nconst title = (analysis.job_title || 'job').toString();\nconst company = (analysis.company || 'company').toString();\nconst safe = s => s.replace(/[^a-zA-Z0-9]+/g,'_').replace(/^_+|_+$/g,'').toLowerCase();\nconst base = `${ts}__${safe(title)}__${safe(company)}`;\nconst webhookBase = ($env.WEBHOOK_URL || '').replace(/\\/+$/,'') + '/';\nconst token = $env.CV_DOWNLOAD_TOKEN || '';\nconst finalCv = $node[\"Review CV\"].json.text || $node[\"Review CV\"].json.output || $node[\"Review CV\"].json.response || $node[\"Review CV\"].json.message || '';\nconst cover = $node[\"Generate Cover Letter\"].json.text || $node[\"Generate Cover Letter\"].json.output || $node[\"Generate Cover Letter\"].json.response || $node[\"Generate Cover Letter\"].json.message || '';\nreturn [{\n  ...$json,\n  ts,\n  cv_filename: `${base}.docx`,\n  cover_filename: `${base}_cover.docx`,\n  cv_markdown: finalCv,\n  cover_markdown: cover,\n  cv_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}.docx`)}&token=${token}`,\n  cover_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}_cover.docx`)}&token=${token}`\n}];"
      },
      "id": "41ab3e82-f540-426c-b293-049cdc8957d6",
      "name": "Make Filenames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -2336
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cv_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cv_markdown, 'utf8');\nreturn [$input.item];"
      },
      "id": "f28f7182-fc44-478f-846a-a0d7d0b5726f",
      "name": "Write CV MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -2192
      ]
    },
    {
      "parameters": {
        "command": "={{'pandoc /cvdata/generated_cv/' + $json.cv_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cv_filename}}"
      },
      "id": "85247226-1484-4e58-872f-ad3f8398cab5",
      "name": "CV to DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2416,
        -2160
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cover_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cover_markdown, 'utf8');\nreturn [$input.item];"
      },
      "id": "57d2f176-3cde-4d28-a1b8-6b259677261e",
      "name": "Write Cover MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -2080
      ]
    },
    {
      "parameters": {
        "command": "={{'pandoc /cvdata/generated_cv/' + $json.cover_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cover_filename}}"
      },
      "id": "0a1d62c8-a4e6-49aa-bd39-e89d7f198881",
      "name": "Cover to DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2288,
        -1952
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\":\"success\",\"timestamp\":$json.ts,\"cv_file_path\":\"/cvdata/generated_cv/\" + $json.cv_filename,\"cover_letter_file_path\":\"/cvdata/generated_cv/\" + $json.cover_filename,\"cv_download_url\":$json.cv_download_url,\"cover_download_url\":$json.cover_download_url} }}",
        "options": {}
      },
      "id": "f40c46fb-7af3-4075-a1f0-96f5e97f1a0d",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2048,
        -2400
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "dea969d7-ce85-487a-b376-3cd84d5fce85",
      "name": "OpenRouter Model - CV",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        848,
        -2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "385ae80c-3187-4363-b25e-76e1b60553b1",
      "name": "OpenRouter Model - Review",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1104,
        -2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "455df786-50dc-4d57-808c-0f31dddec7f6",
      "name": "OpenRouter Model - Cover",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        -2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "6b116772-e06c-4509-8521-9b57258b5676",
      "name": "OpenRouter Model - Analyse",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        -1968
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || $json || '';\nconst text = typeof html === 'string' ? html : '';\nlet posting = null;\n\n// 1) Try JSON-LD JobPosting\nconst regex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nwhile ((match = regex.exec(text)) !== null) {\n  const raw = match[1].trim();\n  try {\n    const obj = JSON.parse(raw);\n    if (obj['@type'] === 'JobPosting') { posting = obj; break; }\n  } catch (e) {}\n}\n\n// 2) Fallback: parse Next.js data\nlet description = posting?.description || '';\nif (!description) {\n  const nextMatch = text.match(/<script[^>]*id=[\"']__NEXT_DATA__[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (nextMatch) {\n    try {\n      const nextData = JSON.parse(nextMatch[1]);\n      description = nextData?.props?.pageProps?.consolidatedJobDetails?.jobDetails?.description || '';\n    } catch (e) {}\n  }\n}\n\nreturn [{ clean_job_description: description }];"
      },
      "id": "41ada01b-56ec-48e3-8fc2-592d07da611a",
      "name": "Parse JSON-LD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.clean_job_description || '';\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\nreturn [{...$json, clean_job_description_plain: text}];"
      },
      "id": "8045c6d2-0614-48da-a02e-d96a380bc504",
      "name": "Prep JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -2016
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b5dcfd04-45a6-4112-9675-1bddfe03101e",
      "name": "Merge JD KB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        96,
        -2368
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "49704701-c74a-4c57-82e3-6b0b8cb07931",
      "name": "Merge Analysis KB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        768,
        -2336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite CV strategist specialising in senior technical contractor roles (£600+/day market), particularly in investment banking and enterprise environments.\n\nYour task is to ENHANCE and REPOSITION the CV to maximise:\n- perceived seniority\n- commercial value\n- recruiter impact (first 5–10 seconds)\n- alignment with high-paying roles\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. NO FABRICATION\n- DO NOT add new skills, technologies, certifications, or experience\n- ONLY rephrase, restructure, and elevate existing content\n\n---\n\n2. STRUCTURE PRESERVATION (MANDATORY)\n\nYou MUST preserve ALL existing sections exactly.\n\nThe CV MUST contain:\n- Name & Contact\n- Professional Summary\n- Key Achievements (MANDATORY SECTION - ensure metrics are highlighted)\n- Key Skills\n- Professional Experience\n- Education\n- Certifications\n- Availability\n\nMANDATORY RULE:\n- The \"Key Achievements\" section MUST be preserved\n- DO NOT remove, rename, or merge it into other sections\n- DO NOT change the order of sections\n\nIf the \"Key Achievements\" section is missing:\n→ RETURN THE ORIGINAL CV WITHOUT MODIFICATION\n\n---\n\n3. SENIOR POSITIONING\n\n- Position the candidate as a senior specialist Expert in large-scale high-risk environments (100–1200+ servers).\n- Replace weak phrases: \"responsible for\" → \"led\", \"delivered\", \"owned\", \"managed\"\n\n---\n\n4. IMPACT TRANSFORMATION (MANDATORY)\n\n- Convert ALL bullet points into impact-driven statements\n\nEach bullet MUST include at least ONE of:\n- scale (e.g. 100+ / 1200+ servers, multi-TB data storage/migrations)\n- OR environment (e.g. trading systems, 24x7 high availability production)\n- OR business outcome (e.g. improved resilience, reduced risk, operational efficiency)\n\n---\n\n5. PRIORITISATION (VERY IMPORTANT)\n\n- Ensure the \"Key Achievements\" section clearly showcases the candidate's most impressive metrics first.\n- Ensure the Professional Summary highlights years of experience and domain expertise (Banking / Trading).\n\n---\n\n6. KEY ACHIEVEMENTS OPTIMISATION\n\n- Strengthen wording of each achievement\n- Ensure:\n  - strong action verbs (Delivered, Led, Designed, Developed)\n  - clear impact or scale (e.g., 2.3TB, 1200+ servers, 50GB/day)\n- Keep each bullet concise (1–2 lines max)\n\n---\n\n7. KEY SKILLS OPTIMISATION\n\n- Group into clear categories.\n- Prioritise skills relevant to high-value roles.\n\n---\n\n8. REMOVE WEAKNESS\n\n- Remove redundancy and filler phrases.\n\n---\n\n9. QUALITY CONTROL (MANDATORY)\n\nBefore final output, ensure:\n- \"Key Achievements\" section EXISTS\n- No section is removed or renamed\n- All bullets are impact-driven\n- CV clearly shows seniority, domain, scale, and high-availability expertise.\n\n---\n\nOUTPUT RULES:\n- Return ONLY the enhanced CV in Markdown\n- No explanations\n- No code fences\n- No additional commentary\n\n---\n\nINPUT CV:\n{{ $json.text }}"
      },
      "id": "c435c5ad-5389-425c-88c5-a1cd7bf4a07e",
      "name": "CV Enhance (DBA)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1440,
        -2528
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "557a93f6-98fc-4bf1-9d09-37688a46a02f",
      "name": "OpenRouter Model - CV Enhance",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1264,
        -2112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Input?": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Fetch Job URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set JD From Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job URL": {
      "main": [
        [
          {
            "node": "Parse JSON-LD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON-LD": {
      "main": [
        [
          {
            "node": "Set JD From URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JD From URL": {
      "main": [
        [
          {
            "node": "Merge JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JD From Text": {
      "main": [
        [
          {
            "node": "Merge JD",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JD": {
      "main": [
        [
          {
            "node": "Prep JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JD": {
      "main": [
        [
          {
            "node": "Attach JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach JD": {
      "main": [
        [
          {
            "node": "JD Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD Present?": {
      "main": [
        [
          {
            "node": "Merge JD KB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load KB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load KB": {
      "main": [
        [
          {
            "node": "Merge JD KB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JD KB": {
      "main": [
        [
          {
            "node": "Build Analyse Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Analysis KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analyse Prompt": {
      "main": [
        [
          {
            "node": "Analyse JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse JD": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Merge Analysis KB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analysis KB": {
      "main": [
        [
          {
            "node": "Generate CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CV": {
      "main": [
        [
          {
            "node": "Review CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review CV": {
      "main": [
        [
          {
            "node": "CV Enhance (DBA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Make Filenames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Filenames": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write CV MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Cover MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write CV MD": {
      "main": [
        [
          {
            "node": "CV to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Cover MD": {
      "main": [
        [
          {
            "node": "Cover to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Analyse": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse JD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - CV": {
      "ai_languageModel": [
        [
          {
            "node": "Generate CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Review": {
      "ai_languageModel": [
        [
          {
            "node": "Review CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Cover": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CV Enhance (DBA)": {
      "main": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - CV Enhance": {
      "ai_languageModel": [
        [
          {
            "node": "CV Enhance (DBA)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mywonderful.xyz",
            "user-agent": "curl/8.2.1",
            "content-length": "81",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "145.40.128.228",
            "cf-ipcountry": "GB",
            "cf-ray": "9df686a8fff7bdad-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "198c96cf-83f9-438a-a75d-456f488179f6",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "145.40.128.228",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "job_url": "https://www.reed.co.uk/jobs/sybase-database-administrator/56640273"
          },
          "webhookUrl": "https://n8n.mywonderful.xyz/webhook/cv-generator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "50278bb1-5d15-42bd-b17b-5b04ac89cc05",
  "activeVersionId": "50278bb1-5d15-42bd-b17b-5b04ac89cc05",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-19T19:23:58.874Z",
      "createdAt": "2026-03-19T19:23:58.874Z",
      "role": "workflow:owner",
      "workflowId": "dYovA2TmARA5H8iT",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-20T23:19:44.000Z",
    "createdAt": "2026-03-20T23:19:40.240Z",
    "versionId": "50278bb1-5d15-42bd-b17b-5b04ac89cc05",
    "workflowId": "dYovA2TmARA5H8iT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cv-generator",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "881cc2ee-29ec-4dcc-ab66-bdcb012d9c9d",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1952,
          -2016
        ],
        "webhookId": "55e1fb1b-7993-49a2-b496-dd5036834f55"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.body?.job_url || $json.body?.job_description || $json.job_url || $json.job_description}}",
                "operation": "isTrue"
              }
            ]
          },
          "options": {}
        },
        "id": "88ab9abd-2a5d-41da-b14e-0d0dc3b9163c",
        "name": "Has Input?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1760,
          -2016
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"status\":\"error\",\"message\":\"Missing job_description or job_url\"}",
          "options": {}
        },
        "id": "66aaff22-d068-4afe-9b61-c2ed51f01ece",
        "name": "Respond Missing",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -1344,
          -2256
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.body?.job_url || $json.job_url}}",
                "operation": "isNotEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "898c0d01-fc01-4643-bdc0-8a82161b0bf0",
        "name": "Has URL?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1552,
          -2016
        ]
      },
      {
        "parameters": {
          "url": "={{$json.body?.job_url || $json.job_url}}",
          "options": {}
        },
        "id": "c4180b86-011a-4031-a9d8-13aa4f4c79d8",
        "name": "Fetch Job URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -1360,
          -2064
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "9c3ebc95-dd52-42d1-9cbc-021c61a5c221",
        "name": "Set JD From URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          -960,
          -2064
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "02d2ab30-ba7d-4bd7-a264-10d05272b084",
        "name": "Set JD From Text",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          -1360,
          -1888
        ]
      },
      {
        "parameters": {},
        "id": "74f6ecfa-1c52-4341-9980-0185cfbdc5a5",
        "name": "Merge JD",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          -752,
          -2016
        ],
        "settings": {
          "alwaysOutputData": true
        }
      },
      {
        "parameters": {
          "command": "find /cvdata/cv_kb -type f -print0 | sort -z | xargs -0 cat"
        },
        "id": "4aac74a5-1912-4b0f-a5b3-7882eb1b1fe4",
        "name": "Load KB",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          -64,
          -2000
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{\n  ...$json,\n  clean_job_description_plain: $node[\"Prep JD\"].json.clean_job_description_plain,\n  clean_job_description: $node[\"Prep JD\"].json.clean_job_description\n}];"
        },
        "id": "5ed26b5e-81ca-4412-a40f-26e6fd947968",
        "name": "Attach JD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          -1792
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.clean_job_description_plain}}",
                "operation": "isNotEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "ae2a8c7b-535f-424e-b693-63f5024ccc54",
        "name": "JD Present?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -304,
          -1952
        ]
      },
      {
        "parameters": {
          "jsCode": "const jd = $json.clean_job_description_plain || '';\n\nconst prompt = `\nYou are an expert technical recruiter and ATS optimisation engine.\n\nYour task is to extract structured job requirements from the JOB DESCRIPTION below.\n\nIMPORTANT RULES:\n- Use ONLY the provided job description (no assumptions or hallucination)\n- Normalise similar terms (e.g. \"MSSQL\" → \"SQL Server\")\n- Deduplicate all lists\n- Be concise and structured\n\nReturn STRICT JSON (no markdown, no code fences) with the following schema:\n\n{\n  \"job_title\": \"\",\n  \"company\": \"\",\n  \"industry\": \"\",\n  \"seniority\": \"\",\n  \"years_experience_required\": \"\",\n  \"employment_type\": \"\",\n\n  \"must_have_skills\": [],\n  \"nice_to_have_skills\": [],\n\n  \"technologies\": [],\n  \"tools\": [],\n\n  \"responsibilities\": [],\n\n  \"domain_experience\": [],\n  \"soft_skills\": [],\n\n  \"keywords_core\": [],\n  \"keywords_expanded\": []\n}\n\nDEFINITION GUIDELINES:\n\n- must_have_skills: explicitly required or strongly emphasised\n- nice_to_have_skills: optional / preferred\n- technologies: databases, languages, platforms (e.g. Sybase, SQL Server, AWS)\n- tools: Terraform, Git, Jenkins, ELK, etc.\n- responsibilities: main duties (bullet-style phrases)\n- domain_experience: e.g. banking, trading systems, healthcare\n- keywords_core: exact keywords from JD\n- keywords_expanded: include variations and synonyms for ATS optimisation\n\nJOB DESCRIPTION (verbatim):\n\"\"\"\n${jd}\n\"\"\"\n`;\n\nreturn [{ ...$json, analyse_prompt: prompt }];"
        },
        "id": "8259fbc2-5b87-4636-b56a-49db7af24020",
        "name": "Build Analyse Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          -2240
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.analyse_prompt }}"
        },
        "id": "dfbe6249-0996-4287-853e-19d175ee0eb6",
        "name": "Analyse JD",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          432,
          -2192
        ]
      },
      {
        "parameters": {
          "jsCode": "const content = ($json.text || $json.output || $json.response || $json.message || $json.data?.text || \"{}\").toString();\n// Find anything that looks like a JSON object\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nconst cleanContent = jsonMatch ? jsonMatch[0] : content;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(cleanContent);\n} catch (e) {\n  // Try to clean markdown fences if first parse failed\n  const deeperClean = cleanContent.replace(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/i, '$1').trim();\n  try { parsed = JSON.parse(deeperClean); } catch (e2) { parsed = {}; }\n}\nreturn [{ json: { ...$json, analysis: parsed } }];"
        },
        "id": "f99889f3-a926-45ed-86da-64a2087bc295",
        "name": "Parse Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          -1904
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an elite CV writer and ATS optimisation expert specialising in senior technical contractor roles (£600+/day), particularly in investment banking and enterprise environments.\n\nYour task is to generate a HIGH-IMPACT, ATS-optimised CV in Markdown.\n\nOBJECTIVE:\nMaximise interview success by presenting a senior, impact-driven CV aligned with job requirements.\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. TRUTHFULNESS\n- DO NOT invent any experience, skills, technologies, or metrics\n- ONLY use information from the CANDIDATE KNOWLEDGE BASE\n- You MAY rephrase for clarity and impact\n\n2. PERSONAL DATA SAFETY\n- ONLY use candidate personal info from KNOWLEDGE BASE\n- DO NOT include job-specific info (salary, rate, job location)\n\n---\n\n3. STRUCTURE (MANDATORY — HARD ENFORCEMENT)\n\nThe CV MUST follow EXACTLY this order:\n\n1. Name & Contact  \n2. Professional Summary  \n3. Key Achievements  \n4. Key Skills  \n5. Professional Experience  \n6. Education  \n7. Certifications  \n8. Availability  \n\nMANDATORY HARD RULE:\n- The CV MUST include a section titled \"Key Achievements\"\n- If the \"Key Achievements\" section is missing, you MUST regenerate the CV internally before returning output\n- DO NOT return output without this section\n\n---\n\n4. PROFESSIONAL SUMMARY (CRITICAL)\n- 3–4 lines ONLY\n- MUST include:\n  - years of experience\n  - core specialisation (e.g. Sybase)\n  - domain (investment banking / trading systems)\n  - scale (e.g. 100–1200+ servers)\n  - production-critical nature (24x7)\n\n---\n\n5. KEY ACHIEVEMENTS (MANDATORY SECTION)\n- MUST contain exactly 4–6 bullets of the highest impact.\n- STYLE: Use the following format for inspiration (DO NOT FABRICATE metrics, only use what is in KB):\n  - Managed large-scale Sybase environments of up to 1,200+ servers across enterprise platforms\n  - Delivered ~2.3TB database migration into private cloud using Terraform-driven CI/CD automation\n  - Designed high availability architecture across ~100 Sybase ASE servers supporting trading systems\n  - Implemented ELK platform ingesting ~50GB/day across 2,000+ systems\n  - Developed automation tooling for rapid recovery during data centre outages, improving operational resilience\n- METRICS: Prioritise bullets that include specific numbers (1200+ servers, 2.3TB, 50GB/day, 24x7).\n\nDO NOT duplicate these bullets in Professional Experience\n\n---\n\n6. KEY SKILLS\n\nGroup into:\n- Database Technologies  \n- High Availability / DR  \n- DevOps / Automation  \n- Monitoring / Observability  \n- Platforms / Systems  \n\nPrioritise skills matching JOB REQUIREMENTS JSON\n\n---\n\n7. PROFESSIONAL EXPERIENCE (STRICT RULES)\n\n- 4–6 bullets per role\n- ALL bullets MUST be impact-driven\n\nMANDATORY IMPACT RULE:\nEach bullet MUST include at least ONE of:\n- scale (e.g. 100 servers, 2.3TB)\n- OR environment (trading, 24x7, enterprise)\n- OR business impact (resilience, performance, risk reduction)\n\nMANDATORY LANGUAGE RULE:\n- Use strong verbs: Led, Delivered, Designed, Developed, Optimised\n- DO NOT use weak phrases: \"responsible for\", \"worked on\", \"involved in\"\n\n---\n\n8. ATS OPTIMISATION\n\n- Use keywords from: must_have_skills, technologies, keywords_core\n- Ensure consistent terminology\n\n---\n\n9. REMOVE WEAKNESS\n\n- Remove redundancy\n- Avoid generic statements\n- Avoid vague descriptions\n\n---\n\n10. QUALITY CONTROL (MANDATORY)\n\nBefore final output, ensure:\n- \"Key Achievements\" section EXISTS and is positioned correctly\n- No generic bullets\n- All bullets include impact, scale, or environment\n- CV clearly shows seniority, domain, scale, and 24x7 support coverage\n\n---\n\nOUTPUT RULES:\n- Markdown only\n- No explanations\n- No code fences\n- No placeholders\n- Clean formatting\n\n---\n\nJOB DESCRIPTION:\n{{ $json.clean_job_description_plain }}\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $json.stdout }}"
        },
        "id": "1e635f03-48d1-4fb2-9f3b-e1fdfd9fe912",
        "name": "Generate CV",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          912,
          -2336
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a strict senior CV editor and ATS optimisation expert.\n\nYour task is to REVIEW and IMPROVE the CV to maximise:\n- ATS keyword matching\n- recruiter readability\n- professional impact\n\nCRITICAL RULES:\n\n1. NO FABRICATION\n- DO NOT add new experience, skills, or technologies not already present in the CV\n- You may rephrase and optimise wording only\n\n2. REMOVE INVALID CONTENT\n- Remove any job-specific metadata (Rate, Salary, Contract Duration, Job Location)\n- Remove \"Issuer not specified\" from Certifications\n\n3. STRUCTURE ENFORCEMENT\nEnsure the CV follows this structure:\n- Name (top)\n- Professional Summary (3–4 lines)\n- Key Achievements (MANDATORY SECTION - ensure 4–6 metric-focused bullets)\n- Key Skills (grouped categories)\n- Professional Experience\n- Education\n- Certifications\n\n4. ATS OPTIMISATION\n- Integrate relevant keywords from JOB REQUIREMENTS JSON where they already match the CV content\n- Normalise terminology\n- Avoid keyword stuffing\n\n5. PRIORITISATION\n- Move the most relevant skills and experience (based on JOB REQUIREMENTS JSON) to the top\n- Ensure the \"Key Achievements\" section remains prominent and includes relevant metrics (servers, TB size, etc.)\n\n6. IMPACT IMPROVEMENT\n- Rewrite weak bullets into strong, impact-driven statements\n- Use action verbs: Delivered, Led, Implemented, Optimised, Managed\n- Add scale where already present (e.g. number of servers, data size)\n\n7. CLARITY & CONSISTENCY\n- Fix grammar and wording\n- Ensure consistent tense and formatting\n- Keep bullet points concise (1–2 lines max)\n\n8. PROFESSIONAL TONE\n- Ensure the CV sounds senior, confident, and concise\n- Avoid generic phrases like \"responsible for\"\n\nOUTPUT RULES:\n- Return ONLY the improved CV in Markdown\n- No explanations\n- No code fences\n- No extra text\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCV DRAFT:\n{{ $node[\"Generate CV\"].json.text || $node[\"Generate CV\"].json.output || $node[\"Generate CV\"].json.response || $node[\"Generate CV\"].json.message }}"
        },
        "id": "02b21a3f-b07b-4739-999b-55a02ab5d90d",
        "name": "Review CV",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1200,
          -2336
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a senior career coach and recruiter specialising in technical roles.\n\nWrite a tailored, high-impact cover letter (150–200 words) that maximises alignment with the job requirements and increases interview chances.\n\nCRITICAL RULES:\n\n1. NO FABRICATION\n- Use ONLY information from the FINAL CV and KNOWLEDGE BASE\n- DO NOT invent skills, experience, or achievements\n\n2. TAILORING STRATEGY\n- Prioritise must-have skills, technologies, and domain experience from JOB REQUIREMENTS JSON\n- Align wording with key job keywords naturally (no keyword stuffing)\n\n3. STRONG OPENING\n- Start with a confident, role-specific statement (avoid generic phrases like \"I am excited to apply\")\n- Immediately highlight:\n  - years of experience\n  - specialisation (e.g. Sybase, database platforms)\n  - relevant domain (e.g. banking, trading systems)\n\n4. VALUE DEMONSTRATION\n- Include 1–2 strong, relevant achievements from the CV:\n  - scale (e.g. number of servers, TB size)\n  - impact (e.g. migration, HA/DR, performance)\n- Focus on what value the candidate brings to the employer\n\n5. ALIGNMENT WITH ROLE\n- Clearly connect candidate experience to:\n  - job responsibilities\n  - technical environment\n  - business domain\n\n6. PROFESSIONAL TONE\n- Concise, confident, and direct\n- Avoid generic phrases and repetition\n\n7. CLOSING\n- Use a strong closing statement expressing value and readiness\n- Use the candidate's name from the KNOWLEDGE BASE as the signature\n\nOUTPUT RULES:\n- 150–200 words only\n- Markdown format\n- No placeholders\n- No extra explanations\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $node[\"Merge Analysis KB\"].json.stdout }}\n\nFINAL CV:\n{{ $json.text }}"
        },
        "id": "e733a2c5-fe26-4069-9e14-d2675a050711",
        "name": "Generate Cover Letter",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1520,
          -2336
        ]
      },
      {
        "parameters": {
          "jsCode": "function pad(n){return n.toString().padStart(2,'0');}\nconst now = new Date();\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\n// Redundant access to analysis data for maximum compatibility\nlet analysis = {};\ntry { analysis = $('Parse Analysis').first().json.analysis || {}; } catch (e) {\n  try { analysis = $node[\"Parse Analysis\"].json.analysis || {}; } catch (e2) { analysis = {}; }\n}\n\nconst title = (analysis.job_title || 'job').toString();\nconst company = (analysis.company || 'company').toString();\nconst safe = s => s.replace(/[^a-zA-Z0-9]+/g,'_').replace(/^_+|_+$/g,'').toLowerCase();\nconst base = `${ts}__${safe(title)}__${safe(company)}`;\nconst webhookBase = ($env.WEBHOOK_URL || '').replace(/\\/+$/,'') + '/';\nconst token = $env.CV_DOWNLOAD_TOKEN || '';\nconst finalCv = $node[\"Review CV\"].json.text || $node[\"Review CV\"].json.output || $node[\"Review CV\"].json.response || $node[\"Review CV\"].json.message || '';\nconst cover = $node[\"Generate Cover Letter\"].json.text || $node[\"Generate Cover Letter\"].json.output || $node[\"Generate Cover Letter\"].json.response || $node[\"Generate Cover Letter\"].json.message || '';\nreturn [{\n  ...$json,\n  ts,\n  cv_filename: `${base}.docx`,\n  cover_filename: `${base}_cover.docx`,\n  cv_markdown: finalCv,\n  cover_markdown: cover,\n  cv_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}.docx`)}&token=${token}`,\n  cover_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}_cover.docx`)}&token=${token}`\n}];"
        },
        "id": "41ab3e82-f540-426c-b293-049cdc8957d6",
        "name": "Make Filenames",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          -2336
        ]
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cv_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cv_markdown, 'utf8');\nreturn [$input.item];"
        },
        "id": "f28f7182-fc44-478f-846a-a0d7d0b5726f",
        "name": "Write CV MD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          -2192
        ]
      },
      {
        "parameters": {
          "command": "={{'pandoc /cvdata/generated_cv/' + $json.cv_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cv_filename}}"
        },
        "id": "85247226-1484-4e58-872f-ad3f8398cab5",
        "name": "CV to DOCX",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2416,
          -2160
        ]
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cover_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cover_markdown, 'utf8');\nreturn [$input.item];"
        },
        "id": "57d2f176-3cde-4d28-a1b8-6b259677261e",
        "name": "Write Cover MD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          -2080
        ]
      },
      {
        "parameters": {
          "command": "={{'pandoc /cvdata/generated_cv/' + $json.cover_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cover_filename}}"
        },
        "id": "0a1d62c8-a4e6-49aa-bd39-e89d7f198881",
        "name": "Cover to DOCX",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2288,
          -1952
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\"status\":\"success\",\"timestamp\":$json.ts,\"cv_file_path\":\"/cvdata/generated_cv/\" + $json.cv_filename,\"cover_letter_file_path\":\"/cvdata/generated_cv/\" + $json.cover_filename,\"cv_download_url\":$json.cv_download_url,\"cover_download_url\":$json.cover_download_url} }}",
          "options": {}
        },
        "id": "f40c46fb-7af3-4075-a1f0-96f5e97f1a0d",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2048,
          -2400
        ]
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "dea969d7-ce85-487a-b376-3cd84d5fce85",
        "name": "OpenRouter Model - CV",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          848,
          -2112
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "385ae80c-3187-4363-b25e-76e1b60553b1",
        "name": "OpenRouter Model - Review",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1104,
          -2112
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "455df786-50dc-4d57-808c-0f31dddec7f6",
        "name": "OpenRouter Model - Cover",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1408,
          -2112
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "6b116772-e06c-4509-8521-9b57258b5676",
        "name": "OpenRouter Model - Analyse",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          368,
          -1968
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const html = $json.body || $json.data || $json || '';\nconst text = typeof html === 'string' ? html : '';\nlet posting = null;\n\n// 1) Try JSON-LD JobPosting\nconst regex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nwhile ((match = regex.exec(text)) !== null) {\n  const raw = match[1].trim();\n  try {\n    const obj = JSON.parse(raw);\n    if (obj['@type'] === 'JobPosting') { posting = obj; break; }\n  } catch (e) {}\n}\n\n// 2) Fallback: parse Next.js data\nlet description = posting?.description || '';\nif (!description) {\n  const nextMatch = text.match(/<script[^>]*id=[\"']__NEXT_DATA__[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (nextMatch) {\n    try {\n      const nextData = JSON.parse(nextMatch[1]);\n      description = nextData?.props?.pageProps?.consolidatedJobDetails?.jobDetails?.description || '';\n    } catch (e) {}\n  }\n}\n\nreturn [{ clean_job_description: description }];"
        },
        "id": "41ada01b-56ec-48e3-8fc2-592d07da611a",
        "name": "Parse JSON-LD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1152,
          -2064
        ]
      },
      {
        "parameters": {
          "jsCode": "const html = $json.clean_job_description || '';\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\nreturn [{...$json, clean_job_description_plain: text}];"
        },
        "id": "8045c6d2-0614-48da-a02e-d96a380bc504",
        "name": "Prep JD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          -2016
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "b5dcfd04-45a6-4112-9675-1bddfe03101e",
        "name": "Merge JD KB",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          96,
          -2368
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "49704701-c74a-4c57-82e3-6b0b8cb07931",
        "name": "Merge Analysis KB",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          768,
          -2336
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an elite CV strategist specialising in senior technical contractor roles (£600+/day market), particularly in investment banking and enterprise environments.\n\nYour task is to ENHANCE and REPOSITION the CV to maximise:\n- perceived seniority\n- commercial value\n- recruiter impact (first 5–10 seconds)\n- alignment with high-paying roles\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. NO FABRICATION\n- DO NOT add new skills, technologies, certifications, or experience\n- ONLY rephrase, restructure, and elevate existing content\n\n---\n\n2. STRUCTURE PRESERVATION (MANDATORY)\n\nYou MUST preserve ALL existing sections exactly.\n\nThe CV MUST contain:\n- Name & Contact\n- Professional Summary\n- Key Achievements (MANDATORY SECTION - ensure metrics are highlighted)\n- Key Skills\n- Professional Experience\n- Education\n- Certifications\n- Availability\n\nMANDATORY RULE:\n- The \"Key Achievements\" section MUST be preserved\n- DO NOT remove, rename, or merge it into other sections\n- DO NOT change the order of sections\n\nIf the \"Key Achievements\" section is missing:\n→ RETURN THE ORIGINAL CV WITHOUT MODIFICATION\n\n---\n\n3. SENIOR POSITIONING\n\n- Position the candidate as a senior specialist Expert in large-scale high-risk environments (100–1200+ servers).\n- Replace weak phrases: \"responsible for\" → \"led\", \"delivered\", \"owned\", \"managed\"\n\n---\n\n4. IMPACT TRANSFORMATION (MANDATORY)\n\n- Convert ALL bullet points into impact-driven statements\n\nEach bullet MUST include at least ONE of:\n- scale (e.g. 100+ / 1200+ servers, multi-TB data storage/migrations)\n- OR environment (e.g. trading systems, 24x7 high availability production)\n- OR business outcome (e.g. improved resilience, reduced risk, operational efficiency)\n\n---\n\n5. PRIORITISATION (VERY IMPORTANT)\n\n- Ensure the \"Key Achievements\" section clearly showcases the candidate's most impressive metrics first.\n- Ensure the Professional Summary highlights years of experience and domain expertise (Banking / Trading).\n\n---\n\n6. KEY ACHIEVEMENTS OPTIMISATION\n\n- Strengthen wording of each achievement\n- Ensure:\n  - strong action verbs (Delivered, Led, Designed, Developed)\n  - clear impact or scale (e.g., 2.3TB, 1200+ servers, 50GB/day)\n- Keep each bullet concise (1–2 lines max)\n\n---\n\n7. KEY SKILLS OPTIMISATION\n\n- Group into clear categories.\n- Prioritise skills relevant to high-value roles.\n\n---\n\n8. REMOVE WEAKNESS\n\n- Remove redundancy and filler phrases.\n\n---\n\n9. QUALITY CONTROL (MANDATORY)\n\nBefore final output, ensure:\n- \"Key Achievements\" section EXISTS\n- No section is removed or renamed\n- All bullets are impact-driven\n- CV clearly shows seniority, domain, scale, and high-availability expertise.\n\n---\n\nOUTPUT RULES:\n- Return ONLY the enhanced CV in Markdown\n- No explanations\n- No code fences\n- No additional commentary\n\n---\n\nINPUT CV:\n{{ $json.text }}"
        },
        "id": "c435c5ad-5389-425c-88c5-a1cd7bf4a07e",
        "name": "CV Enhance (DBA)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1440,
          -2528
        ]
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "557a93f6-98fc-4bf1-9d09-37688a46a02f",
        "name": "OpenRouter Model - CV Enhance",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1264,
          -2112
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Has Input?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Input?": {
        "main": [
          [
            {
              "node": "Has URL?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Missing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has URL?": {
        "main": [
          [
            {
              "node": "Fetch Job URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set JD From Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Job URL": {
        "main": [
          [
            {
              "node": "Parse JSON-LD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse JSON-LD": {
        "main": [
          [
            {
              "node": "Set JD From URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set JD From URL": {
        "main": [
          [
            {
              "node": "Merge JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set JD From Text": {
        "main": [
          [
            {
              "node": "Merge JD",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge JD": {
        "main": [
          [
            {
              "node": "Prep JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep JD": {
        "main": [
          [
            {
              "node": "Attach JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach JD": {
        "main": [
          [
            {
              "node": "JD Present?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JD Present?": {
        "main": [
          [
            {
              "node": "Merge JD KB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Load KB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Missing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load KB": {
        "main": [
          [
            {
              "node": "Merge JD KB",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge JD KB": {
        "main": [
          [
            {
              "node": "Build Analyse Prompt",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Analysis KB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Analyse Prompt": {
        "main": [
          [
            {
              "node": "Analyse JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyse JD": {
        "main": [
          [
            {
              "node": "Parse Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Analysis": {
        "main": [
          [
            {
              "node": "Merge Analysis KB",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Analysis KB": {
        "main": [
          [
            {
              "node": "Generate CV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate CV": {
        "main": [
          [
            {
              "node": "Review CV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Review CV": {
        "main": [
          [
            {
              "node": "CV Enhance (DBA)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Cover Letter": {
        "main": [
          [
            {
              "node": "Make Filenames",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make Filenames": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write CV MD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write Cover MD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write CV MD": {
        "main": [
          [
            {
              "node": "CV to DOCX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Cover MD": {
        "main": [
          [
            {
              "node": "Cover to DOCX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Analyse": {
        "ai_languageModel": [
          [
            {
              "node": "Analyse JD",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - CV": {
        "ai_languageModel": [
          [
            {
              "node": "Generate CV",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Review": {
        "ai_languageModel": [
          [
            {
              "node": "Review CV",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Cover": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Cover Letter",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CV Enhance (DBA)": {
        "main": [
          [
            {
              "node": "Generate Cover Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - CV Enhance": {
        "ai_languageModel": [
          [
            {
              "node": "CV Enhance (DBA)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 50278bb1",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-03-21T02:00:51.118Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}