workflows/ai_cv_generator_dYovA2TmARA5H8iT.json
{
  "updatedAt": "2026-03-22T15:21:23.737Z",
  "createdAt": "2026-03-19T19:23:58.870Z",
  "id": "dYovA2TmARA5H8iT",
  "name": "AI_CV_Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "45e2d386-bab8-45fe-bd6e-704c43e8f635",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1808,
        -624
      ],
      "webhookId": "55e1fb1b-7993-49a2-b496-dd5036834f55"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{\n  job_url: (body.job_url || $json.job_url || \"\").toString().trim(),\n  job_description: (body.job_description || $json.job_description || \"\").toString().trim()\n}];"
      },
      "id": "1326832c-364f-4691-971e-f86a8c15c1f9",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.job_url}}{{$json.job_description}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "89aa1977-452d-4770-9c03-68d3e7f9ea9b",
      "name": "Has Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1616,
        -624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"Missing job_description or job_url\"}",
        "options": {}
      },
      "id": "69c20d69-c9d8-4e1e-8d43-4824843c4099",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1216,
        -928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.job_url}}",
              "operation": "isEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "0fd4c1fc-e3c0-4a55-80db-64bce9da211e",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1408,
        -624
      ]
    },
    {
      "parameters": {
        "url": "={{$json.job_url}}",
        "options": {}
      },
      "id": "3dcb45a7-a0bf-49d4-9c43-43c9fa3b2dfd",
      "name": "Fetch Job URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1200,
        -736
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb0ac7ee-bda0-458a-a785-5a8d61d46309",
      "name": "Set JD From URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -816,
        -672
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cbe322c9-224b-4203-a3ba-7ed051dffd04",
      "name": "Set JD From Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1104,
        -512
      ]
    },
    {
      "parameters": {},
      "id": "1ef4ff2f-5bca-4fa2-b257-8fffabe66149",
      "name": "Merge JD",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -608,
        -624
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "command": "find /cvdata/cv_kb -type f -print0 | sort -z | xargs -0 cat"
      },
      "id": "fee17c24-a66a-4c76-bdda-86b7a614ae0e",
      "name": "Load KB",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        80,
        -608
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  ...$json,\n  clean_job_description_plain: $node[\"Prep JD\"].json.clean_job_description_plain,\n  clean_job_description: $node[\"Prep JD\"].json.clean_job_description\n}];"
      },
      "id": "0ef271aa-6922-422f-a66a-ca9cb2cf3dad",
      "name": "Attach JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.clean_job_description_plain}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "2f837a13-ab7e-4607-bfa9-27ef60e1abf4",
      "name": "JD Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "const jd = $json.clean_job_description_plain || '';\n\nconst prompt = `\nYou are an expert technical recruiter and ATS optimisation engine.\n\nYour task is to extract structured job requirements from the JOB DESCRIPTION below.\n\nIMPORTANT RULES:\n- Use ONLY the provided job description\n- Normalise similar terms (e.g. \"MSSQL\" → \"SQL Server\")\n- Return ONLY valid JSON\n- Absolutely NO markdown code fences, NO introductory text, and NO trailing commas.\n\nSCHEMA:\n{\n  \"job_title\": \"\",\n  \"company\": \"\",\n  \"industry\": \"\",\n  \"seniority\": \"\",\n  \"years_experience_required\": \"\",\n  \"employment_type\": \"\",\n\n  \"must_have_skills\": [],\n  \"nice_to_have_skills\": [],\n\n  \"technologies\": [],\n  \"tools\": [],\n\n  \"responsibilities\": [],\n\n  \"domain_experience\": [],\n  \"soft_skills\": [],\n\n  \"keywords_core\": [],\n  \"keywords_expanded\": []\n}\n\nJOB DESCRIPTION (verbatim):\n${jd}\n`;\n\nreturn [{ ...$json, analyse_prompt: prompt }];"
      },
      "id": "cd6a6c98-8ad0-444d-9e1a-6830dc258849",
      "name": "Build Analyse Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.analyse_prompt }}"
      },
      "id": "b7a91d58-0ca5-413f-864b-d7ebf3398019",
      "name": "Analyse JD",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        576,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst content = ($json.text || $json.output || $json.response || $json.message || $json.data?.text || \"{}\").toString();\n\nfunction cleanAndParse(str) {\n  if (!str || str.trim() === \"{}\") return {};\n  \n  // 1. Basic JSON parse\n  try { return JSON.parse(str); } catch (e) {}\n\n  // 2. Try to find the JSON block via first { and last }\n  const start = str.indexOf('{');\n  const end = str.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return {};\n  let jsonStr = str.substring(start, end + 1);\n\n  // 3. Clean common LLM mistakes\n  try { return JSON.parse(jsonStr); } catch (e) {\n    jsonStr = jsonStr\n      .replace(/\\/\\/.*$/gm, '') // Remove single line comments\n      .replace(/\\/\\*[\\s\\S]*?\\*\\//g, '') // Remove multi line comments\n      .replace(/,\\s*([}\\]])/g, '$1') // Remove trailing commas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, \"\"); // Remove control characters and non-printable\n    \n    try { return JSON.parse(jsonStr); } catch (e2) {\n      // Last resort: try to fix unescaped newlines in strings\n      try {\n         const fixed = jsonStr.replace(/:\\s*\"([\\s\\S]*?)\"/g, (m, p1) => {\n           return ': \"' + p1.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r') + '\"';\n         });\n         return JSON.parse(fixed);\n      } catch (e3) {\n         return {}; // Give up\n      }\n    }\n  }\n}\n\nconst parsed = cleanAndParse(content);\nreturn [{ json: { ...$json, analysis: parsed } }];\n"
      },
      "id": "69053277-928b-4b80-9023-7b68db30bc79",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite CV writer and ATS optimisation expert specialising in senior technical contractor roles (£600+/day), particularly in investment banking and enterprise environments.\n\nYour task is to generate a HIGH-IMPACT, ATS-optimised CV in Markdown.\n\nOBJECTIVE:\nMaximise interview success by presenting a senior, impact-driven CV aligned with job requirements.\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. TRUTHFULNESS & GROUNDING\n- DO NOT invent any experience, skills, technologies, or metrics.\n- ONLY use information from the CANDIDATE KNOWLEDGE BASE.\n- If a required skill (e.g. Apache Spark, PostgreSQL, Airflow) is NOT in the Knowledge Base, you MUST EXCLUDE it from the CV.\n- You MAY rephrase for clarity and impact, but NOT for fabrication.\n\n2. PERSONAL DATA SAFETY\n- ONLY use candidate personal info from KNOWLEDGE BASE.\n- DO NOT include job-specific info (salary, rate, job location).\n\n---\n\n3. STRUCTURE (MANDATORY — HARD ENFORCEMENT)\n\nThe CV MUST follow EXACTLY this order:\n\n1. Name & Contact (MUST include Email, Phone, LinkedIn, and Applicant Location from KB)\n2. Professional Summary  \n3. Key Achievements  \n4. Key Skills  \n5. Professional Experience  \n6. Education  \n7. Certifications  \n8. Availability  \n\nMANDATORY HARD RULE:\n- The CV MUST include a section titled \"Key Achievements\"\n- DYNAMIC TITLE: The CV Title (under Name & Contact) MUST match the primary role from the JOB REQUIREMENTS JSON (e.g. Senior MongoDB Database Engineer) BUT ONLY if supported by KB evidence.\n\n---\n\n4. PROFESSIONAL SUMMARY (CRITICAL)\n- 3–4 lines ONLY\n- MUST include:\n  - years of experience\n  - core specialisation (ONLY from KB)\n  - domain matching the JOB REQUIREMENTS JSON (if matching KB experience)\n  - scale (e.g. 100–1200+ servers)\n  - production-critical nature (24x7)\n\n---\n\n5. KEY ACHIEVEMENTS (MANDATORY SECTION)\n- MUST contain exactly 4–6 bullets of the highest impact.\n- CRITICAL REORDERING RULE: Reorder achievements to match JD requirements, but ONLY those present in KB.\n- METRICS: Prioritise bullets with specific numbers (1200+ servers, 2.3TB, 50GB/day, 24x7).\n\n---\n\n6. KEY SKILLS (STRICT FILTERING)\n\nGroup into categories. \n- VERY IMPORTANT: Only list skills from JOB REQUIREMENTS JSON if they have a clear match in the CANDIDATE KNOWLEDGE BASE.\n- If the KB mentions \"SQL Server\" and JD wants \"PostgreSQL\", you list \"SQL Server\". DO NOT list \"PostgreSQL\".\n\n---\n\n7. PROFESSIONAL EXPERIENCE (STRICT RULES)\n\n- 4–6 bullets per role\n- ALL bullets MUST be impact-driven including scale or environment info from KB.\n\n---\n\n8. ATS OPTIMISATION (KB-CONSTRAINED)\n\n- Use keywords from: must_have_skills, technologies, keywords_core ONLY WHERE THEY MATCH THE KB.\n- Normalise terminology (e.g., if KB says 'MSSQL', you can use 'SQL Server' if JD uses it).\n\n---\n\nOUTPUT RULES:\n- Markdown only\n- No explanations\n- No placeholders\n- Clean formatting\n\n---\n\nJOB DESCRIPTION:\n{{ $json.clean_job_description_plain }}\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $json.stdout }}"
      },
      "id": "8509ff77-a28b-4e6a-bf98-23e1fabb91fd",
      "name": "Generate CV",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1056,
        -944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict senior CV editor and ATS optimisation expert. Your task is to REVIEW and IMPROVE the CV draft.\n\nCRITICAL RULES:\n\n1. HALLUCINATION CLEANUP (STRICT)\n- Verify every single skill, technology, and project against the CANDIDATE KNOWLEDGE BASE.\n- REMOVE any mentions of skills (e.g. PostgreSQL, Apache Spark, Airflow, Tableau) if they are NOT explicitly supported by the KB.\n- DO NOT allow any fabricated experience to remain in the CV.\n\n2. STRUCTURE & CONTACT INFO\n- Ensure the header includes the applicant's real Email, Phone, LinkedIn, and Location (e.g. Reading, UK) from the KB.\n- Name must be at the top.\n\n3. ATS & IMPACT\n- Normalise terminology to match JD analysis where the candidate ALREADY has those skills.\n- Ensure 4–6 high-impact bullets with metrics in \"Key Achievements\".\n- Ensure Professional Summary highlights years of experience and KB-verified core skills.\n\nOUTPUT RULES:\n- Return ONLY the improved CV in Markdown\n- No explanations\n- No extra text\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCV DRAFT:\n{{ $node[\"Generate CV\"].json.text || $node[\"Generate CV\"].json.output || $node[\"Generate CV\"].json.response || $node[\"Generate CV\"].json.message }}"
      },
      "id": "5dfaebf8-03f5-4aaf-b55d-7e051f0f3888",
      "name": "Review CV",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1344,
        -944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior career coach and technical recruiter.\n\nWrite a tailored cover letter (150–200 words) strictly based on the FINAL CV and KNOWLEDGE BASE.\n\nCRITICAL RULES:\n\n1. NO HALLUCINATIONS (STRICT)\n- ONLY use skills and achievements present in the candidate's actual records.\n- If a job requirement is missing from the candidate's background, DO NOT mention it. Focus on transferable skills instead.\n\n2. TAILORING\n- Focus on the most relevant verified achievements (metrics like 2.3TB, 1200+ servers).\n- Use the candidate's name from the KB as the signature.\n\nOUTPUT RULES:\n- 150–200 words max\n- Markdown only\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $node[\"Merge Analysis KB\"].json.stdout }}\n\nFINAL CV:\n{{ $json.text }}"
      },
      "id": "3143bbf9-4560-4f00-bb25-3b6f1539f6ac",
      "name": "Generate Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1664,
        -944
      ]
    },
    {
      "parameters": {
        "jsCode": "function pad(n){return n.toString().padStart(2,'0');}\nconst now = new Date();\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\n// Redundant access to analysis data for maximum compatibility\nlet analysis = {};\ntry { analysis = $('Parse Analysis').first().json.analysis || {}; } catch (e) {\n  try { analysis = $node[\"Parse Analysis\"].json.analysis || {}; } catch (e2) { analysis = {}; }\n}\n\nconst title = (analysis.job_title || 'job').toString();\nconst company = (analysis.company || 'company').toString();\nconst safe = s => s.replace(/[^a-zA-Z0-9]+/g,'_').replace(/^_+|_+$/g,'').toLowerCase();\nconst base = `${ts}__${safe(title)}__${safe(company)}`;\nconst webhookBase = ($env.WEBHOOK_URL || '').replace(/\\/+$/,'') + '/';\nconst token = $env.CV_DOWNLOAD_TOKEN || '';\nconst finalCv = $node[\"Review CV\"].json.text || $node[\"Review CV\"].json.output || $node[\"Review CV\"].json.response || $node[\"Review CV\"].json.message || '';\nconst cover = $node[\"Generate Cover Letter\"].json.text || $node[\"Generate Cover Letter\"].json.output || $node[\"Generate Cover Letter\"].json.response || $node[\"Generate Cover Letter\"].json.message || '';\nreturn [{\n  ...$json,\n  ts,\n  cv_filename: `${base}.docx`,\n  cover_filename: `${base}_cover.docx`,\n  cv_markdown: finalCv,\n  cover_markdown: cover,\n  cv_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}.docx`)}&token=${token}`,\n  cover_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}_cover.docx`)}&token=${token}`\n}];"
      },
      "id": "684f6314-c427-4dda-8b8a-8186c85fc75c",
      "name": "Make Filenames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        -944
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cv_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cv_markdown, 'utf8');\nreturn [$input.item];"
      },
      "id": "f76edfa7-887a-40e4-8df5-a2b1217b4e28",
      "name": "Write CV MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -800
      ]
    },
    {
      "parameters": {
        "command": "={{'pandoc /cvdata/generated_cv/' + $json.cv_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cv_filename}}"
      },
      "id": "d00239f2-c678-4eb6-b0f6-5ee17827fd93",
      "name": "CV to DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2560,
        -768
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cover_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cover_markdown, 'utf8');\nreturn [$input.item];"
      },
      "id": "1deeffc4-2ba1-4b37-b58e-81f0d009ce5a",
      "name": "Write Cover MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -688
      ]
    },
    {
      "parameters": {
        "command": "={{'pandoc /cvdata/generated_cv/' + $json.cover_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cover_filename}}"
      },
      "id": "dfecd7ad-f821-4e04-a77c-0b34472fb6f1",
      "name": "Cover to DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2432,
        -560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\":\"success\",\"timestamp\":$json.ts,\"cv_file_path\":\"/cvdata/generated_cv/\" + $json.cv_filename,\"cover_letter_file_path\":\"/cvdata/generated_cv/\" + $json.cover_filename,\"cv_download_url\":$json.cv_download_url,\"cover_download_url\":$json.cover_download_url} }}",
        "options": {}
      },
      "id": "3a7bd706-ee46-47bd-ac5d-28a4f1a4efaa",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2192,
        -1008
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "fd9b4472-d95a-476f-ade2-b30ff24d38c1",
      "name": "OpenRouter Model - CV",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        992,
        -720
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "1aa44b76-271f-4eb7-aac6-36e216a40fdf",
      "name": "OpenRouter Model - Review",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        -720
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "a39c9f4d-67a6-4920-a789-8e7859a7c26e",
      "name": "OpenRouter Model - Cover",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1552,
        -720
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "18c6c166-a2d4-4bc9-8f74-8f6e4dbc6efc",
      "name": "OpenRouter Model - Analyse",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        -576
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || $json || '';\nconst text = typeof html === 'string' ? html : '';\nlet posting = null;\n\n// 1) Try JSON-LD JobPosting\nconst regex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nwhile ((match = regex.exec(text)) !== null) {\n  const raw = match[1].trim();\n  try {\n    const obj = JSON.parse(raw);\n    if (obj['@type'] === 'JobPosting') { posting = obj; break; }\n  } catch (e) {}\n}\n\n// 2) Fallback: parse Next.js data\nlet description = posting?.description || '';\nif (!description) {\n  const nextMatch = text.match(/<script[^>]*id=[\"']__NEXT_DATA__[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (nextMatch) {\n    try {\n      const nextData = JSON.parse(nextMatch[1]);\n      description = nextData?.props?.pageProps?.consolidatedJobDetails?.jobDetails?.description || '';\n    } catch (e) {}\n  }\n}\n\nreturn [{ clean_job_description: description }];"
      },
      "id": "5d128297-bc06-49ca-b6e1-6693e38b4b51",
      "name": "Parse JSON-LD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.clean_job_description || '';\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\nreturn [{...$json, clean_job_description_plain: text}];"
      },
      "id": "020da259-24a2-4083-9896-c0f09119e5ca",
      "name": "Prep JD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -624
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "d6f39f46-5429-49d0-a0be-2b0a249da3af",
      "name": "Merge JD KB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        240,
        -976
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "296892c2-9fbb-44ab-b3ab-2854a56d137e",
      "name": "Merge Analysis KB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        912,
        -944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite CV strategist focusing on senior engineering roles. Your task is to ENHANCE the CV while maintaining 100% strict adherence to the Knowledge Base.\n\nCRITICAL RULES:\n- DO NOT FABRICATE. If a skill isn't in the input CV/KB, do not add it.\n- Focus on impact, scale (e.g., 1200+ servers), and business value.\n- Preserve the \"Key Achievements\" section.\n\nOUTPUT RULES:\n- Markdown only.\n\n---\n\nINPUT CV:\n{{ $json.text }}"
      },
      "id": "451b8f5f-9256-4a12-b3bb-91b8ef0f5e53",
      "name": "CV Enhance (DBA)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1584,
        -1136
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "5f38f793-9ca0-48c1-a558-295d74b455dd",
      "name": "OpenRouter Model - CV Enhance",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        -720
      ],
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Input?": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Set JD From Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Job URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job URL": {
      "main": [
        [
          {
            "node": "Parse JSON-LD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON-LD": {
      "main": [
        [
          {
            "node": "Set JD From URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JD From URL": {
      "main": [
        [
          {
            "node": "Merge JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JD From Text": {
      "main": [
        [
          {
            "node": "Merge JD",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JD": {
      "main": [
        [
          {
            "node": "Prep JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JD": {
      "main": [
        [
          {
            "node": "Attach JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach JD": {
      "main": [
        [
          {
            "node": "JD Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD Present?": {
      "main": [
        [
          {
            "node": "Merge JD KB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load KB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load KB": {
      "main": [
        [
          {
            "node": "Merge JD KB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JD KB": {
      "main": [
        [
          {
            "node": "Build Analyse Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Analysis KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analyse Prompt": {
      "main": [
        [
          {
            "node": "Analyse JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse JD": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Merge Analysis KB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analysis KB": {
      "main": [
        [
          {
            "node": "Generate CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CV": {
      "main": [
        [
          {
            "node": "Review CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review CV": {
      "main": [
        [
          {
            "node": "CV Enhance (DBA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Make Filenames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Filenames": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write CV MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Cover MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write CV MD": {
      "main": [
        [
          {
            "node": "CV to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Cover MD": {
      "main": [
        [
          {
            "node": "Cover to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Analyse": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse JD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - CV": {
      "ai_languageModel": [
        [
          {
            "node": "Generate CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Review": {
      "ai_languageModel": [
        [
          {
            "node": "Review CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - Cover": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CV Enhance (DBA)": {
      "main": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model - CV Enhance": {
      "ai_languageModel": [
        [
          {
            "node": "CV Enhance (DBA)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mywonderful.xyz",
            "user-agent": "curl/8.2.1",
            "content-length": "81",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "145.40.128.228",
            "cf-ipcountry": "GB",
            "cf-ray": "9df686a8fff7bdad-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "198c96cf-83f9-438a-a75d-456f488179f6",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "145.40.128.228",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "job_url": "https://www.reed.co.uk/jobs/sybase-database-administrator/56640273"
          },
          "webhookUrl": "https://n8n.mywonderful.xyz/webhook/cv-generator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e69d46bb-44da-4b51-8022-47420eebd28b",
  "activeVersionId": "e69d46bb-44da-4b51-8022-47420eebd28b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-19T19:23:58.874Z",
      "createdAt": "2026-03-19T19:23:58.874Z",
      "role": "workflow:owner",
      "workflowId": "dYovA2TmARA5H8iT",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-22T15:21:27.000Z",
    "createdAt": "2026-03-22T15:21:23.738Z",
    "versionId": "e69d46bb-44da-4b51-8022-47420eebd28b",
    "workflowId": "dYovA2TmARA5H8iT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cv-generator",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "45e2d386-bab8-45fe-bd6e-704c43e8f635",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1808,
          -624
        ],
        "webhookId": "55e1fb1b-7993-49a2-b496-dd5036834f55"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || {};\nreturn [{\n  job_url: (body.job_url || $json.job_url || \"\").toString().trim(),\n  job_description: (body.job_description || $json.job_description || \"\").toString().trim()\n}];"
        },
        "id": "1326832c-364f-4691-971e-f86a8c15c1f9",
        "name": "Normalize Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1728,
          -624
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.job_url}}{{$json.job_description}}",
                "operation": "isNotEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "89aa1977-452d-4770-9c03-68d3e7f9ea9b",
        "name": "Has Input?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1616,
          -624
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"status\":\"error\",\"message\":\"Missing job_description or job_url\"}",
          "options": {}
        },
        "id": "69c20d69-c9d8-4e1e-8d43-4824843c4099",
        "name": "Respond Missing",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -1216,
          -928
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.job_url}}",
                "operation": "isEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "0fd4c1fc-e3c0-4a55-80db-64bce9da211e",
        "name": "Has URL?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1408,
          -624
        ]
      },
      {
        "parameters": {
          "url": "={{$json.job_url}}",
          "options": {}
        },
        "id": "3dcb45a7-a0bf-49d4-9c43-43c9fa3b2dfd",
        "name": "Fetch Job URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -1200,
          -736
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "bb0ac7ee-bda0-458a-a785-5a8d61d46309",
        "name": "Set JD From URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          -816,
          -672
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "cbe322c9-224b-4203-a3ba-7ed051dffd04",
        "name": "Set JD From Text",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          -1104,
          -512
        ]
      },
      {
        "parameters": {},
        "id": "1ef4ff2f-5bca-4fa2-b257-8fffabe66149",
        "name": "Merge JD",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          -608,
          -624
        ],
        "settings": {
          "alwaysOutputData": true
        }
      },
      {
        "parameters": {
          "command": "find /cvdata/cv_kb -type f -print0 | sort -z | xargs -0 cat"
        },
        "id": "fee17c24-a66a-4c76-bdda-86b7a614ae0e",
        "name": "Load KB",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          80,
          -608
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{\n  ...$json,\n  clean_job_description_plain: $node[\"Prep JD\"].json.clean_job_description_plain,\n  clean_job_description: $node[\"Prep JD\"].json.clean_job_description\n}];"
        },
        "id": "0ef271aa-6922-422f-a66a-ca9cb2cf3dad",
        "name": "Attach JD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          -736
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.clean_job_description_plain}}",
                "operation": "isNotEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "2f837a13-ab7e-4607-bfa9-27ef60e1abf4",
        "name": "JD Present?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -224,
          -528
        ]
      },
      {
        "parameters": {
          "jsCode": "const jd = $json.clean_job_description_plain || '';\n\nconst prompt = `\nYou are an expert technical recruiter and ATS optimisation engine.\n\nYour task is to extract structured job requirements from the JOB DESCRIPTION below.\n\nIMPORTANT RULES:\n- Use ONLY the provided job description\n- Normalise similar terms (e.g. \"MSSQL\" → \"SQL Server\")\n- Return ONLY valid JSON\n- Absolutely NO markdown code fences, NO introductory text, and NO trailing commas.\n\nSCHEMA:\n{\n  \"job_title\": \"\",\n  \"company\": \"\",\n  \"industry\": \"\",\n  \"seniority\": \"\",\n  \"years_experience_required\": \"\",\n  \"employment_type\": \"\",\n\n  \"must_have_skills\": [],\n  \"nice_to_have_skills\": [],\n\n  \"technologies\": [],\n  \"tools\": [],\n\n  \"responsibilities\": [],\n\n  \"domain_experience\": [],\n  \"soft_skills\": [],\n\n  \"keywords_core\": [],\n  \"keywords_expanded\": []\n}\n\nJOB DESCRIPTION (verbatim):\n${jd}\n`;\n\nreturn [{ ...$json, analyse_prompt: prompt }];"
        },
        "id": "cd6a6c98-8ad0-444d-9e1a-6830dc258849",
        "name": "Build Analyse Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          -848
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.analyse_prompt }}"
        },
        "id": "b7a91d58-0ca5-413f-864b-d7ebf3398019",
        "name": "Analyse JD",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          576,
          -800
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst content = ($json.text || $json.output || $json.response || $json.message || $json.data?.text || \"{}\").toString();\n\nfunction cleanAndParse(str) {\n  if (!str || str.trim() === \"{}\") return {};\n  \n  // 1. Basic JSON parse\n  try { return JSON.parse(str); } catch (e) {}\n\n  // 2. Try to find the JSON block via first { and last }\n  const start = str.indexOf('{');\n  const end = str.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return {};\n  let jsonStr = str.substring(start, end + 1);\n\n  // 3. Clean common LLM mistakes\n  try { return JSON.parse(jsonStr); } catch (e) {\n    jsonStr = jsonStr\n      .replace(/\\/\\/.*$/gm, '') // Remove single line comments\n      .replace(/\\/\\*[\\s\\S]*?\\*\\//g, '') // Remove multi line comments\n      .replace(/,\\s*([}\\]])/g, '$1') // Remove trailing commas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, \"\"); // Remove control characters and non-printable\n    \n    try { return JSON.parse(jsonStr); } catch (e2) {\n      // Last resort: try to fix unescaped newlines in strings\n      try {\n         const fixed = jsonStr.replace(/:\\s*\"([\\s\\S]*?)\"/g, (m, p1) => {\n           return ': \"' + p1.replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r') + '\"';\n         });\n         return JSON.parse(fixed);\n      } catch (e3) {\n         return {}; // Give up\n      }\n    }\n  }\n}\n\nconst parsed = cleanAndParse(content);\nreturn [{ json: { ...$json, analysis: parsed } }];\n"
        },
        "id": "69053277-928b-4b80-9023-7b68db30bc79",
        "name": "Parse Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          -512
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an elite CV writer and ATS optimisation expert specialising in senior technical contractor roles (£600+/day), particularly in investment banking and enterprise environments.\n\nYour task is to generate a HIGH-IMPACT, ATS-optimised CV in Markdown.\n\nOBJECTIVE:\nMaximise interview success by presenting a senior, impact-driven CV aligned with job requirements.\n\n---\n\nCRITICAL RULES (STRICT — NO EXCEPTIONS):\n\n1. TRUTHFULNESS & GROUNDING\n- DO NOT invent any experience, skills, technologies, or metrics.\n- ONLY use information from the CANDIDATE KNOWLEDGE BASE.\n- If a required skill (e.g. Apache Spark, PostgreSQL, Airflow) is NOT in the Knowledge Base, you MUST EXCLUDE it from the CV.\n- You MAY rephrase for clarity and impact, but NOT for fabrication.\n\n2. PERSONAL DATA SAFETY\n- ONLY use candidate personal info from KNOWLEDGE BASE.\n- DO NOT include job-specific info (salary, rate, job location).\n\n---\n\n3. STRUCTURE (MANDATORY — HARD ENFORCEMENT)\n\nThe CV MUST follow EXACTLY this order:\n\n1. Name & Contact (MUST include Email, Phone, LinkedIn, and Applicant Location from KB)\n2. Professional Summary  \n3. Key Achievements  \n4. Key Skills  \n5. Professional Experience  \n6. Education  \n7. Certifications  \n8. Availability  \n\nMANDATORY HARD RULE:\n- The CV MUST include a section titled \"Key Achievements\"\n- DYNAMIC TITLE: The CV Title (under Name & Contact) MUST match the primary role from the JOB REQUIREMENTS JSON (e.g. Senior MongoDB Database Engineer) BUT ONLY if supported by KB evidence.\n\n---\n\n4. PROFESSIONAL SUMMARY (CRITICAL)\n- 3–4 lines ONLY\n- MUST include:\n  - years of experience\n  - core specialisation (ONLY from KB)\n  - domain matching the JOB REQUIREMENTS JSON (if matching KB experience)\n  - scale (e.g. 100–1200+ servers)\n  - production-critical nature (24x7)\n\n---\n\n5. KEY ACHIEVEMENTS (MANDATORY SECTION)\n- MUST contain exactly 4–6 bullets of the highest impact.\n- CRITICAL REORDERING RULE: Reorder achievements to match JD requirements, but ONLY those present in KB.\n- METRICS: Prioritise bullets with specific numbers (1200+ servers, 2.3TB, 50GB/day, 24x7).\n\n---\n\n6. KEY SKILLS (STRICT FILTERING)\n\nGroup into categories. \n- VERY IMPORTANT: Only list skills from JOB REQUIREMENTS JSON if they have a clear match in the CANDIDATE KNOWLEDGE BASE.\n- If the KB mentions \"SQL Server\" and JD wants \"PostgreSQL\", you list \"SQL Server\". DO NOT list \"PostgreSQL\".\n\n---\n\n7. PROFESSIONAL EXPERIENCE (STRICT RULES)\n\n- 4–6 bullets per role\n- ALL bullets MUST be impact-driven including scale or environment info from KB.\n\n---\n\n8. ATS OPTIMISATION (KB-CONSTRAINED)\n\n- Use keywords from: must_have_skills, technologies, keywords_core ONLY WHERE THEY MATCH THE KB.\n- Normalise terminology (e.g., if KB says 'MSSQL', you can use 'SQL Server' if JD uses it).\n\n---\n\nOUTPUT RULES:\n- Markdown only\n- No explanations\n- No placeholders\n- Clean formatting\n\n---\n\nJOB DESCRIPTION:\n{{ $json.clean_job_description_plain }}\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $json.stdout }}"
        },
        "id": "8509ff77-a28b-4e6a-bf98-23e1fabb91fd",
        "name": "Generate CV",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1056,
          -944
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a strict senior CV editor and ATS optimisation expert. Your task is to REVIEW and IMPROVE the CV draft.\n\nCRITICAL RULES:\n\n1. HALLUCINATION CLEANUP (STRICT)\n- Verify every single skill, technology, and project against the CANDIDATE KNOWLEDGE BASE.\n- REMOVE any mentions of skills (e.g. PostgreSQL, Apache Spark, Airflow, Tableau) if they are NOT explicitly supported by the KB.\n- DO NOT allow any fabricated experience to remain in the CV.\n\n2. STRUCTURE & CONTACT INFO\n- Ensure the header includes the applicant's real Email, Phone, LinkedIn, and Location (e.g. Reading, UK) from the KB.\n- Name must be at the top.\n\n3. ATS & IMPACT\n- Normalise terminology to match JD analysis where the candidate ALREADY has those skills.\n- Ensure 4–6 high-impact bullets with metrics in \"Key Achievements\".\n- Ensure Professional Summary highlights years of experience and KB-verified core skills.\n\nOUTPUT RULES:\n- Return ONLY the improved CV in Markdown\n- No explanations\n- No extra text\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCV DRAFT:\n{{ $node[\"Generate CV\"].json.text || $node[\"Generate CV\"].json.output || $node[\"Generate CV\"].json.response || $node[\"Generate CV\"].json.message }}"
        },
        "id": "5dfaebf8-03f5-4aaf-b55d-7e051f0f3888",
        "name": "Review CV",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1344,
          -944
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a senior career coach and technical recruiter.\n\nWrite a tailored cover letter (150–200 words) strictly based on the FINAL CV and KNOWLEDGE BASE.\n\nCRITICAL RULES:\n\n1. NO HALLUCINATIONS (STRICT)\n- ONLY use skills and achievements present in the candidate's actual records.\n- If a job requirement is missing from the candidate's background, DO NOT mention it. Focus on transferable skills instead.\n\n2. TAILORING\n- Focus on the most relevant verified achievements (metrics like 2.3TB, 1200+ servers).\n- Use the candidate's name from the KB as the signature.\n\nOUTPUT RULES:\n- 150–200 words max\n- Markdown only\n\n---\n\nJOB REQUIREMENTS JSON:\n{{ JSON.stringify($node[\"Parse Analysis\"].json.analysis) }}\n\nCANDIDATE KNOWLEDGE BASE:\n{{ $node[\"Merge Analysis KB\"].json.stdout }}\n\nFINAL CV:\n{{ $json.text }}"
        },
        "id": "3143bbf9-4560-4f00-bb25-3b6f1539f6ac",
        "name": "Generate Cover Letter",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1664,
          -944
        ]
      },
      {
        "parameters": {
          "jsCode": "function pad(n){return n.toString().padStart(2,'0');}\nconst now = new Date();\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\n// Redundant access to analysis data for maximum compatibility\nlet analysis = {};\ntry { analysis = $('Parse Analysis').first().json.analysis || {}; } catch (e) {\n  try { analysis = $node[\"Parse Analysis\"].json.analysis || {}; } catch (e2) { analysis = {}; }\n}\n\nconst title = (analysis.job_title || 'job').toString();\nconst company = (analysis.company || 'company').toString();\nconst safe = s => s.replace(/[^a-zA-Z0-9]+/g,'_').replace(/^_+|_+$/g,'').toLowerCase();\nconst base = `${ts}__${safe(title)}__${safe(company)}`;\nconst webhookBase = ($env.WEBHOOK_URL || '').replace(/\\/+$/,'') + '/';\nconst token = $env.CV_DOWNLOAD_TOKEN || '';\nconst finalCv = $node[\"Review CV\"].json.text || $node[\"Review CV\"].json.output || $node[\"Review CV\"].json.response || $node[\"Review CV\"].json.message || '';\nconst cover = $node[\"Generate Cover Letter\"].json.text || $node[\"Generate Cover Letter\"].json.output || $node[\"Generate Cover Letter\"].json.response || $node[\"Generate Cover Letter\"].json.message || '';\nreturn [{\n  ...$json,\n  ts,\n  cv_filename: `${base}.docx`,\n  cover_filename: `${base}_cover.docx`,\n  cv_markdown: finalCv,\n  cover_markdown: cover,\n  cv_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}.docx`)}&token=${token}`,\n  cover_download_url: `${webhookBase}webhook/cv-download?file=${encodeURIComponent(`${base}_cover.docx`)}&token=${token}`\n}];"
        },
        "id": "684f6314-c427-4dda-8b8a-8186c85fc75c",
        "name": "Make Filenames",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1952,
          -944
        ]
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cv_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cv_markdown, 'utf8');\nreturn [$input.item];"
        },
        "id": "f76edfa7-887a-40e4-8df5-a2b1217b4e28",
        "name": "Write CV MD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2304,
          -800
        ]
      },
      {
        "parameters": {
          "command": "={{'pandoc /cvdata/generated_cv/' + $json.cv_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cv_filename}}"
        },
        "id": "d00239f2-c678-4eb6-b0f6-5ee17827fd93",
        "name": "CV to DOCX",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2560,
          -768
        ]
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = '/cvdata/generated_cv/' + $json.cover_filename.replace('.docx', '.md');\nfs.mkdirSync('/cvdata/generated_cv', { recursive: true });\nfs.writeFileSync(path, $json.cover_markdown, 'utf8');\nreturn [$input.item];"
        },
        "id": "1deeffc4-2ba1-4b37-b58e-81f0d009ce5a",
        "name": "Write Cover MD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2144,
          -688
        ]
      },
      {
        "parameters": {
          "command": "={{'pandoc /cvdata/generated_cv/' + $json.cover_filename.replace('.docx','.md') + ' -o /cvdata/generated_cv/' + $json.cover_filename}}"
        },
        "id": "dfecd7ad-f821-4e04-a77c-0b34472fb6f1",
        "name": "Cover to DOCX",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2432,
          -560
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\"status\":\"success\",\"timestamp\":$json.ts,\"cv_file_path\":\"/cvdata/generated_cv/\" + $json.cv_filename,\"cover_letter_file_path\":\"/cvdata/generated_cv/\" + $json.cover_filename,\"cv_download_url\":$json.cv_download_url,\"cover_download_url\":$json.cover_download_url} }}",
          "options": {}
        },
        "id": "3a7bd706-ee46-47bd-ac5d-28a4f1a4efaa",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2192,
          -1008
        ]
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "fd9b4472-d95a-476f-ade2-b30ff24d38c1",
        "name": "OpenRouter Model - CV",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          992,
          -720
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "1aa44b76-271f-4eb7-aac6-36e216a40fdf",
        "name": "OpenRouter Model - Review",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1248,
          -720
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "a39c9f4d-67a6-4920-a789-8e7859a7c26e",
        "name": "OpenRouter Model - Cover",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1552,
          -720
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "18c6c166-a2d4-4bc9-8f74-8f6e4dbc6efc",
        "name": "OpenRouter Model - Analyse",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          512,
          -576
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const html = $json.body || $json.data || $json || '';\nconst text = typeof html === 'string' ? html : '';\nlet posting = null;\n\n// 1) Try JSON-LD JobPosting\nconst regex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nwhile ((match = regex.exec(text)) !== null) {\n  const raw = match[1].trim();\n  try {\n    const obj = JSON.parse(raw);\n    if (obj['@type'] === 'JobPosting') { posting = obj; break; }\n  } catch (e) {}\n}\n\n// 2) Fallback: parse Next.js data\nlet description = posting?.description || '';\nif (!description) {\n  const nextMatch = text.match(/<script[^>]*id=[\"']__NEXT_DATA__[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (nextMatch) {\n    try {\n      const nextData = JSON.parse(nextMatch[1]);\n      description = nextData?.props?.pageProps?.consolidatedJobDetails?.jobDetails?.description || '';\n    } catch (e) {}\n  }\n}\n\nreturn [{ clean_job_description: description }];"
        },
        "id": "5d128297-bc06-49ca-b6e1-6693e38b4b51",
        "name": "Parse JSON-LD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          -672
        ]
      },
      {
        "parameters": {
          "jsCode": "const html = $json.clean_job_description || '';\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\nreturn [{...$json, clean_job_description_plain: text}];"
        },
        "id": "020da259-24a2-4083-9896-c0f09119e5ca",
        "name": "Prep JD",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          -624
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "d6f39f46-5429-49d0-a0be-2b0a249da3af",
        "name": "Merge JD KB",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          240,
          -976
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "296892c2-9fbb-44ab-b3ab-2854a56d137e",
        "name": "Merge Analysis KB",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          912,
          -944
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an elite CV strategist focusing on senior engineering roles. Your task is to ENHANCE the CV while maintaining 100% strict adherence to the Knowledge Base.\n\nCRITICAL RULES:\n- DO NOT FABRICATE. If a skill isn't in the input CV/KB, do not add it.\n- Focus on impact, scale (e.g., 1200+ servers), and business value.\n- Preserve the \"Key Achievements\" section.\n\nOUTPUT RULES:\n- Markdown only.\n\n---\n\nINPUT CV:\n{{ $json.text }}"
        },
        "id": "451b8f5f-9256-4a12-b3bb-91b8ef0f5e53",
        "name": "CV Enhance (DBA)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1584,
          -1136
        ]
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "id": "5f38f793-9ca0-48c1-a558-295d74b455dd",
        "name": "OpenRouter Model - CV Enhance",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1408,
          -720
        ],
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Input": {
        "main": [
          [
            {
              "node": "Has Input?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Input?": {
        "main": [
          [
            {
              "node": "Has URL?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Missing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has URL?": {
        "main": [
          [
            {
              "node": "Set JD From Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Job URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Job URL": {
        "main": [
          [
            {
              "node": "Parse JSON-LD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse JSON-LD": {
        "main": [
          [
            {
              "node": "Set JD From URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set JD From URL": {
        "main": [
          [
            {
              "node": "Merge JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set JD From Text": {
        "main": [
          [
            {
              "node": "Merge JD",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge JD": {
        "main": [
          [
            {
              "node": "Prep JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep JD": {
        "main": [
          [
            {
              "node": "Attach JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach JD": {
        "main": [
          [
            {
              "node": "JD Present?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JD Present?": {
        "main": [
          [
            {
              "node": "Merge JD KB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Load KB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Missing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load KB": {
        "main": [
          [
            {
              "node": "Merge JD KB",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge JD KB": {
        "main": [
          [
            {
              "node": "Build Analyse Prompt",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Analysis KB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Analyse Prompt": {
        "main": [
          [
            {
              "node": "Analyse JD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyse JD": {
        "main": [
          [
            {
              "node": "Parse Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Analysis": {
        "main": [
          [
            {
              "node": "Merge Analysis KB",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Analysis KB": {
        "main": [
          [
            {
              "node": "Generate CV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate CV": {
        "main": [
          [
            {
              "node": "Review CV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Review CV": {
        "main": [
          [
            {
              "node": "CV Enhance (DBA)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Cover Letter": {
        "main": [
          [
            {
              "node": "Make Filenames",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make Filenames": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write CV MD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write Cover MD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write CV MD": {
        "main": [
          [
            {
              "node": "CV to DOCX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Cover MD": {
        "main": [
          [
            {
              "node": "Cover to DOCX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Analyse": {
        "ai_languageModel": [
          [
            {
              "node": "Analyse JD",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - CV": {
        "ai_languageModel": [
          [
            {
              "node": "Generate CV",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Review": {
        "ai_languageModel": [
          [
            {
              "node": "Review CV",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - Cover": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Cover Letter",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CV Enhance (DBA)": {
        "main": [
          [
            {
              "node": "Generate Cover Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Model - CV Enhance": {
        "ai_languageModel": [
          [
            {
              "node": "CV Enhance (DBA)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version e69d46bb",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-03-23T02:00:51.108Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}