workflows/auto_receipt_recording_GgwcK-2bq4-eBs4r8gK7l.json
{
  "updatedAt": "2026-02-04T22:59:05.642Z",
  "createdAt": "2026-01-31T22:28:23.238Z",
  "id": "GgwcK-2bq4-eBs4r8gK7l",
  "name": "Auto Receipt Recording",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5078b53d-7b63-4eac-bdfb-a60d0673887d",
              "leftValue": "={{ $json.body.attachments }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1696,
        -240
      ],
      "id": "d4da4833-7fcb-4c8b-bfbe-9061241c31b0",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1467487919035121796",
          "mode": "list",
          "cachedResultName": "Shopping",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
        },
        "channelId": {
          "__rl": true,
          "value": "1467488311231779090",
          "mode": "list",
          "cachedResultName": "shopping-receipt🧾",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
        },
        "content": "✅ 這是超市收據圖片📸",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1504,
        -352
      ],
      "id": "a06aae22-6bcd-44fd-9146-64cec9b6fd5d",
      "name": "Yes it is an image",
      "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
      "credentials": {
        "discordBotApi": {
          "id": "uMc0msEp6imVVJtp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1467487919035121796",
          "mode": "list",
          "cachedResultName": "Shopping",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
        },
        "channelId": {
          "__rl": true,
          "value": "1467488311231779090",
          "mode": "list",
          "cachedResultName": "shopping-receipt🧾",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
        },
        "content": "❌ 請貼超市收據圖片！📸",
        "options": {},
        "embeds": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1504,
        -144
      ],
      "id": "a8f3fe9f-813d-41f9-8111-ec61e4c9e1d3",
      "name": "No it is not an image",
      "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
      "credentials": {
        "discordBotApi": {
          "id": "uMc0msEp6imVVJtp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze this supermarket receipt and respond directly with pure JSON format, without any explanations:\n\nI have the database structure like below. Please use the data from this receipt OCR output to generate JSON format suitable for import to this database.\n\n**DATABASE STRUCTURE** (exact field names/types/relations - DO NOT CHANGE):\n\n1. **USERS** database (icon: 👤)\nUserID: Text (unique, e.g. USR-0001)\n\nFullName: Title\n\nEmail: Email\n\nInviteCode: Text\n\nJoinDate: Date\n\nIsActive: Checkbox (default true)\n\nNotes: Text\n\ntext\n\n**REQUIRED USER** (always use this one):\n{ \"UserID\": \"USR-0001\", \"FullName\": \"John Smith\", \"Email\": \"john@example.com\", \"InviteCode\": \"JOHN2026\", \"JoinDate\": \"2026-02-01\", \"IsActive\": true, \"Notes\": \"Family head\" }\n\ntext\n\n2. **RECEIPTS** database (icon: 🧾)\nReceiptID: Text (RCP-YYYY-NNNN format, increment sequentially)\n\nReceiptDate: Date (extract from OCR or use today)\n\nReceiptTime: Text (HH:MM 24hr)\n\nStoreName: Text (Unknown Supermarket if unclear)\n\nStoreBranch: Text\n\nStoreAddress: Text\n\nStorePostcode: Text\n\nPaymentMethod: Select (Visa debit, Cash, Amex credit, Apple Pay)\n\nLast4CardDigits: Text\n\nCurrency: Select (GBP, EUR, USD)\n\nSubtotal: Number (£)\n\nTaxAmount: Number (£)\n\nDiscountTotal: Number (£)\n\nTotalAmount: Number (£)\n\nLoyaltyProgramme: Text\n\nLoyaltyID: Text\n\nOCRTextRaw: Text (paste full OCR exactly)\n\nSourceImageURL: URL\n\nNotes: Text\n\nOwner: Relation to USERS (= \"USR-0001\")\n\ntext\n\n3. **LINE_ITEMS** database (icon: 📋)\nLineItemID: Text (LI-YYYY-NNNN-NN)\n\nReceipt: Relation to RECEIPTS\n\nLineNumber: Number (1,2,3...)\n\nProductName: Title (clean readable name)\n\nNormalisedName: Text (lowercase no spaces)\n\nCategory: Select (Fruit & Veg, Dairy, Meat, Bakery, Pantry, Snacks, Drinks, Household, Toiletries, Discount, Other)\n\nSubcategory: Multi-select (relevant tags)\n\nQuantity: Number (default 1 if unclear)\n\nUnit: Select (kg, each, pack, bottle, punnet)\n\nUnitPrice: Number (£ pre-discount)\n\nIsDiscountLine: Checkbox (true only for discount lines)\n\nDiscountType: Select (Multi-buy, Coupon, None)\n\nDiscountAmount: Number (£ saved)\n\nIsTaxable: Checkbox (UK food rules: fresh produce=false)\n\nTaxRatePercent: Number (0 or 20)\n\nTaxAmount: Number\n\nIsDeposit: Checkbox\n\nIsRefund: Checkbox\n\nBrand: Text\n\nSKUOrBarcode: Text (extract from OCR)\n\nNotes: Text\n\ntext\n\n**RULES:**\n1. Generate **EXACTLY ONE** new ReceiptID (next sequential: RCP-2026-0002)\n2. Owner = sssss\n3. Calculate: DiscountTotal = sum all DiscountAmount; TaxAmount from OCR or VAT breakdown\n4. Fresh fruit/veg/most food = 0% VAT, snacks/hot food = 20% VAT\n5. LineItemID format: LI-2026-0002-01, LI-2026-0002-02 etc.\n6. **Output ONLY valid JSON** in this structure:\n```json\n{\n  \"users\": [ {USR-0001 object} ],\n  \"receipts\": [ {single new receipt} ],\n  \"line_items\": [ {all line items for this receipt} ]\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "$json"
            }
          ]
        },
        "batching": {
          "batchSize": 5,
          "delayBetweenBatches": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -688,
        -352
      ],
      "id": "cc6bc61f-7af6-4206-b82c-b08ef92a1d78",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -688,
        -144
      ],
      "id": "c02a5ce1-56c5-47cd-8bfc-74bcb3bb2936",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shoppingreceipt",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2128,
        -240
      ],
      "id": "d2cdd7b4-f77c-4bc9-a9ef-36389c0bb327",
      "name": "Webhook - shoppingreceipt",
      "webhookId": "a0e624c1-e984-41dc-8b4f-eaf80f5ab96d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fbace0fe-7757-4f4e-8b01-25fc079ede75",
              "leftValue": "={{ $json.headers['x-bot-secret'] }}",
              "rightValue": "f034b30827996e70823309256c8ba57bf78832d0b2badf397a20f59000b1ec4f",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1920,
        -240
      ],
      "id": "c77a30ba-58db-4c59-94e1-82697a142ab5",
      "name": "Correct WebHook Secret"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2fbc0a28-058a-80d4-846d-daf58ac0bc56",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://www.notion.so/2fbc0a28058a80d4846ddaf58ac0bc56"
        },
        "title": "={{ $json.ReceiptID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Receipt ID|title",
              "title": "={{ $json.ReceiptID }}"
            },
            {
              "key": "Receipt Date|date",
              "includeTime": false,
              "date": "={{ $json.ReceiptDate }}"
            },
            {
              "key": "Receipt Time|rich_text",
              "textContent": "={{ $json.ReceiptTime }}"
            },
            {
              "key": "Store Name|rich_text",
              "textContent": "={{ $json.StoreName }}"
            },
            {
              "key": "Subtotal|number",
              "numberValue": "={{ $json.Subtotal }}"
            },
            {
              "key": "Total Amount|number",
              "numberValue": "={{ $json.TotalAmount }}"
            },
            {
              "key": "Discount Total|number",
              "numberValue": "={{ $json.DiscountTotal }}"
            },
            {
              "key": "Payment Method|select",
              "selectValue": "={{ $json.PaymentMethod }}"
            },
            {
              "key": "Last 4 Card Digits|rich_text",
              "textContent": "={{ $json.Last4CardDigits }}"
            },
            {
              "key": "Tax Amount|number",
              "numberValue": "={{ $json.TaxAmount }}"
            },
            {
              "key": "OCR Text Raw|rich_text",
              "textContent": "={{ $json.OCRTextRaw }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ $json.Notes }}"
            },
            {
              "key": "Currency|select",
              "selectValue": "={{ $json.Currency }}"
            },
            {
              "key": "Store Address|rich_text",
              "textContent": "={{ $json.StoreAddress }}"
            },
            {
              "key": "Store Postcode|rich_text",
              "textContent": "={{ $json.StorePostcode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        32,
        -352
      ],
      "id": "8834585f-4303-4ef6-9c17-bb0b2b4612be",
      "name": "Create row in Receipts database page",
      "credentials": {
        "notionApi": {
          "id": "xmHqiN4nVKU9IZS6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2fbc0a28-058a-8088-b7fe-fe226fec356c",
          "mode": "list",
          "cachedResultName": "LINE_ITEMS",
          "cachedResultUrl": "https://www.notion.so/2fbc0a28058a8088b7fefe226fec356c"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "LineItemID|rich_text",
              "textContent": "={{ $json.line_items[0].LineItemID }}"
            },
            {
              "key": "LineNumber|number",
              "numberValue": "={{ $json.line_items[0].LineNumber }}"
            },
            {
              "key": "ProductName|title",
              "title": "={{ $json.line_items[0].ProductName }}"
            },
            {
              "key": "NormalisedName|rich_text",
              "textContent": "={{ $json.line_items[0].NormalisedName }}"
            },
            {
              "key": "Category|select",
              "selectValue": "={{ $json.line_items[0].Category }}"
            },
            {
              "key": "Subcategory|multi_select",
              "multiSelectValue": "={{ $json.line_items[0].Subcategory }}"
            },
            {
              "key": "Quantity|number",
              "numberValue": "={{ $json.line_items[0].Quantity }}"
            },
            {
              "key": "Unit|select",
              "selectValue": "={{ $json.line_items[0].Unit }}"
            },
            {
              "key": "UnitPrice|number",
              "numberValue": "={{ $json.line_items[0].UnitPrice }}"
            },
            {
              "key": "IsDiscountLine|checkbox",
              "checkboxValue": "={{ $json.line_items[0].IsDiscountLine }}"
            },
            {
              "key": "DiscountType|select",
              "selectValue": "={{ $json.line_items[0].DiscountType }}"
            },
            {
              "key": "DiscountAmount|number",
              "numberValue": "={{ $json.line_items[0].DiscountAmount }}"
            },
            {
              "key": "IsTaxable|checkbox",
              "checkboxValue": "={{ $json.line_items[0].IsTaxable }}"
            },
            {
              "key": "TaxRatePercent|number",
              "numberValue": "={{ $json.line_items[0].TaxRatePercent }}"
            },
            {
              "key": "TaxAmount|number",
              "numberValue": "={{ $json.line_items[0].TaxAmount }}"
            },
            {
              "key": "IsDeposit|checkbox",
              "checkboxValue": "={{ $json.line_items[0].IsDeposit }}"
            },
            {
              "key": "IsRefund|checkbox",
              "checkboxValue": "={{ $json.line_items[0].IsRefund }}"
            },
            {
              "key": "Brand|rich_text",
              "textContent": "={{ $json.line_items[0].Brand }}"
            },
            {
              "key": "SKUOrBarcode|rich_text",
              "textContent": "={{ $json.line_items[0].SKUOrBarcode }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ $json.line_items[0].Notes }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        256,
        -192
      ],
      "id": "47285371-33b9-4d03-a99c-897e65601c13",
      "name": "Create rows in LINE_ITEMS database page1",
      "credentials": {
        "notionApi": {
          "id": "xmHqiN4nVKU9IZS6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract clean JSON from AI's messy response\nconst messyText = $input.first().json.text;\n\n// Remove markdown, extract pure JSON  \nconst jsonMatch = messyText.match(/```json\\s*\\n([\\s\\S]*?)\\n```/);\nconst cleanJson = JSON.parse(jsonMatch[1]);\n\n// FIXED: Return 3 SEPARATE n8n items (each with { json: {} } structure)\nreturn [\n  { \n    json: cleanJson.users[0]  // USERS item\n  },\n  { \n    json: cleanJson.receipts[0]  // RECEIPTS item  \n  },\n  { \n    json: { \n      line_items: cleanJson.line_items  // LINE_ITEMS array wrapper\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -352
      ],
      "id": "c1ddf660-4df0-4d06-a7eb-57282393be1e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1a38c57-1ffb-4dde-aad8-dcfe32ba298c",
              "leftValue": "={{ $json.ReceiptID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3212580f-1f84-4e09-b79e-112fb93e8466",
              "leftValue": "={{ $json.TotalAmount }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -192,
        -352
      ],
      "id": "ff0e5347-2a58-4569-9de1-ceb445bf6a1f",
      "name": "Receipt Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "19177652-aa76-463b-9081-6ac2603def63",
              "leftValue": "={{ $json.line_items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -192,
        -192
      ],
      "id": "c10ac92e-ddd2-4f98-afcf-125ce036fecb",
      "name": "Line Item Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate?key=AIzaSyAGU5Z2Cr8VWWyoyr-K76gCrLaIX2_LlvI",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{$json.data}}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        -352
      ],
      "id": "891912a4-c67c-4d5c-9307-fec1c8dadefd",
      "name": "Call Google Vision OCR",
      "credentials": {
        "googleApi": {
          "id": "b791JDITY5SNEGZq",
          "name": "Google Service Account - Vision API User"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('If').item.json.body.attachments[0].proxy_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1328,
        -352
      ],
      "id": "fbdba212-0fd7-427a-82bd-f651a3b8d768",
      "name": "Download image"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nconst text = res.responses?.[0]?.fullTextAnnotation?.text || '';\nreturn {\n  json: {\n    ocrText: text\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -352
      ],
      "id": "f72bd709-9cde-4b27-b160-f711f95f2945",
      "name": "Extract OCR text"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1467487919035121796",
          "mode": "list",
          "cachedResultName": "Shopping",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
        },
        "channelId": {
          "__rl": true,
          "value": "1467488311231779090",
          "mode": "list",
          "cachedResultName": "shopping-receipt🧾",
          "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
        },
        "content": "✅ 已入Notion Database ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        240,
        -352
      ],
      "id": "60837cdd-70d3-477e-a08e-9732ea3c9af9",
      "name": "Return processed receipt to discord",
      "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
      "credentials": {
        "discordBotApi": {
          "id": "uMc0msEp6imVVJtp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        -192
      ],
      "id": "734901ba-dd66-4b95-87a7-663d91e8d1e6",
      "name": "Loop Over Line Items"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -352
      ],
      "id": "0e669170-51d4-48f4-b075-b0cb684a958d",
      "name": "Extract from File"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Yes it is an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No it is not an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yes it is an image": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No it is not an image": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - shoppingreceipt": {
      "main": [
        [
          {
            "node": "Correct WebHook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correct WebHook Secret": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create row in Receipts database page": {
      "main": [
        [
          {
            "node": "Return processed receipt to discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create rows in LINE_ITEMS database page1": {
      "main": [
        [
          {
            "node": "Loop Over Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Line Item Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Receipt Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt Filter": {
      "main": [
        [
          {
            "node": "Create row in Receipts database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Item Filter": {
      "main": [
        [
          {
            "node": "Loop Over Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Vision OCR": {
      "main": [
        [
          {
            "node": "Extract OCR text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Line Items": {
      "main": [
        [],
        [
          {
            "node": "Create rows in LINE_ITEMS database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Google Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook - shoppingreceipt": [
      {
        "json": {
          "headers": {
            "host": "n8n.mywonderful.xyz",
            "user-agent": "node-fetch",
            "content-length": "810",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "145.40.128.228",
            "cf-ipcountry": "GB",
            "cf-ray": "9c8da2fb0a5fbd9b-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "c485d794-51eb-435f-afa5-eb88b79c7e38",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-bot-secret": "f034b30827996e70823309256c8ba57bf78832d0b2badf397a20f59000b1ec4f",
            "x-forwarded-for": "145.40.128.228",
            "x-forwarded-proto": "https",
            "x-idempotency-key": "1468736538853511209"
          },
          "params": {},
          "query": {},
          "body": {
            "version": "1.0",
            "source": "discord",
            "correlation_id": "discord-1468736538853511209",
            "server_id": "1467487919035121796",
            "channel_id": "1467488311231779090",
            "message_id": "1468736538853511209",
            "author": {
              "id": "1467122021333733606",
              "username": "connieyychan"
            },
            "content": "",
            "attachments": [
              {
                "id": "1468736539495501844",
                "filename": "IMG_5346.jpg",
                "content_type": "image/jpeg",
                "size": 978084,
                "url": "https://cdn.discordapp.com/attachments/1467488311231779090/1468736539495501844/IMG_5346.jpg?ex=69851afe&is=6983c97e&hm=c4a9cd00d4553ed3b4d184d095c9196a8e66a3bade38a3ed10ec7145cf049461&",
                "proxy_url": "https://media.discordapp.net/attachments/1467488311231779090/1468736539495501844/IMG_5346.jpg?ex=69851afe&is=6983c97e&hm=c4a9cd00d4553ed3b4d184d095c9196a8e66a3bade38a3ed10ec7145cf049461&"
              }
            ],
            "timestamp": "2026-02-04T22:34:38.668Z"
          },
          "webhookUrl": "https://n8n.mywonderful.xyz/webhook/shoppingreceipt",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "6a6cde2d-d40d-44f0-99da-675f491f0d40",
  "activeVersionId": "a71c2f44-068c-40bc-b6db-dd6ad23d79f5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-31T22:28:23.243Z",
      "createdAt": "2026-01-31T22:28:23.243Z",
      "role": "workflow:owner",
      "workflowId": "GgwcK-2bq4-eBs4r8gK7l",
      "projectId": "Q3g8Vitc84qYTdgN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-04T22:35:20.000Z",
    "createdAt": "2026-02-04T22:35:15.862Z",
    "versionId": "a71c2f44-068c-40bc-b6db-dd6ad23d79f5",
    "workflowId": "GgwcK-2bq4-eBs4r8gK7l",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5078b53d-7b63-4eac-bdfb-a60d0673887d",
                "leftValue": "={{ $json.attachments.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1664,
          -240
        ],
        "id": "d4da4833-7fcb-4c8b-bfbe-9061241c31b0",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1467487919035121796",
            "mode": "list",
            "cachedResultName": "Shopping",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
          },
          "channelId": {
            "__rl": true,
            "value": "1467488311231779090",
            "mode": "list",
            "cachedResultName": "shopping-receipt🧾",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
          },
          "content": "✅ 這是超市收據圖片📸",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -1392,
          -352
        ],
        "id": "a06aae22-6bcd-44fd-9146-64cec9b6fd5d",
        "name": "Yes it is an image",
        "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
        "credentials": {
          "discordBotApi": {
            "id": "uMc0msEp6imVVJtp",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1467487919035121796",
            "mode": "list",
            "cachedResultName": "Shopping",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
          },
          "channelId": {
            "__rl": true,
            "value": "1467488311231779090",
            "mode": "list",
            "cachedResultName": "shopping-receipt🧾",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
          },
          "content": "❌ 請貼超市收據圖片！📸",
          "options": {},
          "embeds": {
            "values": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -1392,
          -144
        ],
        "id": "a8f3fe9f-813d-41f9-8111-ec61e4c9e1d3",
        "name": "No it is not an image",
        "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
        "credentials": {
          "discordBotApi": {
            "id": "uMc0msEp6imVVJtp",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Please analyze this supermarket receipt and respond directly with pure JSON format, without any explanations:\n\nI have the database structure like below. Please use the data from this receipt OCR output to generate JSON format suitable for import to this database.\n\n**DATABASE STRUCTURE** (exact field names/types/relations - DO NOT CHANGE):\n\n1. **USERS** database (icon: 👤)\nUserID: Text (unique, e.g. USR-0001)\n\nFullName: Title\n\nEmail: Email\n\nInviteCode: Text\n\nJoinDate: Date\n\nIsActive: Checkbox (default true)\n\nNotes: Text\n\ntext\n\n**REQUIRED USER** (always use this one):\n{ \"UserID\": \"USR-0001\", \"FullName\": \"John Smith\", \"Email\": \"john@example.com\", \"InviteCode\": \"JOHN2026\", \"JoinDate\": \"2026-02-01\", \"IsActive\": true, \"Notes\": \"Family head\" }\n\ntext\n\n2. **RECEIPTS** database (icon: 🧾)\nReceiptID: Text (RCP-YYYY-NNNN format, increment sequentially)\n\nReceiptDate: Date (extract from OCR or use today)\n\nReceiptTime: Text (HH:MM 24hr)\n\nStoreName: Text (Unknown Supermarket if unclear)\n\nStoreBranch: Text\n\nStoreAddress: Text\n\nStorePostcode: Text\n\nPaymentMethod: Select (Visa debit, Cash, Amex credit, Apple Pay)\n\nLast4CardDigits: Text\n\nCurrency: Select (GBP, EUR, USD)\n\nSubtotal: Number (£)\n\nTaxAmount: Number (£)\n\nDiscountTotal: Number (£)\n\nTotalAmount: Number (£)\n\nLoyaltyProgramme: Text\n\nLoyaltyID: Text\n\nOCRTextRaw: Text (paste full OCR exactly)\n\nSourceImageURL: URL\n\nNotes: Text\n\nOwner: Relation to USERS (= \"USR-0001\")\n\ntext\n\n3. **LINE_ITEMS** database (icon: 📋)\nLineItemID: Text (LI-YYYY-NNNN-NN)\n\nReceipt: Relation to RECEIPTS\n\nLineNumber: Number (1,2,3...)\n\nProductName: Title (clean readable name)\n\nNormalisedName: Text (lowercase no spaces)\n\nCategory: Select (Fruit & Veg, Dairy, Meat, Bakery, Pantry, Snacks, Drinks, Household, Toiletries, Discount, Other)\n\nSubcategory: Multi-select (relevant tags)\n\nQuantity: Number (default 1 if unclear)\n\nUnit: Select (kg, each, pack, bottle, punnet)\n\nUnitPrice: Number (£ pre-discount)\n\nIsDiscountLine: Checkbox (true only for discount lines)\n\nDiscountType: Select (Multi-buy, Coupon, None)\n\nDiscountAmount: Number (£ saved)\n\nIsTaxable: Checkbox (UK food rules: fresh produce=false)\n\nTaxRatePercent: Number (0 or 20)\n\nTaxAmount: Number\n\nIsDeposit: Checkbox\n\nIsRefund: Checkbox\n\nBrand: Text\n\nSKUOrBarcode: Text (extract from OCR)\n\nNotes: Text\n\ntext\n\n**RULES:**\n1. Generate **EXACTLY ONE** new ReceiptID (next sequential: RCP-2026-0002)\n2. Owner = sssss\n3. Calculate: DiscountTotal = sum all DiscountAmount; TaxAmount from OCR or VAT breakdown\n4. Fresh fruit/veg/most food = 0% VAT, snacks/hot food = 20% VAT\n5. LineItemID format: LI-2026-0002-01, LI-2026-0002-02 etc.\n6. **Output ONLY valid JSON** in this structure:\n```json\n{\n  \"users\": [ {USR-0001 object} ],\n  \"receipts\": [ {single new receipt} ],\n  \"line_items\": [ {all line items for this receipt} ]\n}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "type": "HumanMessagePromptTemplate",
                "message": "$json"
              }
            ]
          },
          "batching": {
            "batchSize": 5,
            "delayBetweenBatches": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -688,
          -352
        ],
        "id": "cc6bc61f-7af6-4206-b82c-b08ef92a1d78",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": "google/gemma-3-12b-it:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -688,
          -144
        ],
        "id": "c02a5ce1-56c5-47cd-8bfc-74bcb3bb2936",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "shoppingreceipt",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -2096,
          -240
        ],
        "id": "d2cdd7b4-f77c-4bc9-a9ef-36389c0bb327",
        "name": "Webhook - shoppingreceipt",
        "webhookId": "a0e624c1-e984-41dc-8b4f-eaf80f5ab96d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fbace0fe-7757-4f4e-8b01-25fc079ede75",
                "leftValue": "={{ $json.headers['x-bot-secret'] }}",
                "rightValue": "f034b30827996e70823309256c8ba57bf78832d0b2badf397a20f59000b1ec4f",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1888,
          -240
        ],
        "id": "c77a30ba-58db-4c59-94e1-82697a142ab5",
        "name": "Correct WebHook Secret"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2fbc0a28-058a-80d4-846d-daf58ac0bc56",
            "mode": "list",
            "cachedResultName": "Receipts",
            "cachedResultUrl": "https://www.notion.so/2fbc0a28058a80d4846ddaf58ac0bc56"
          },
          "title": "={{ $json.ReceiptID }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Receipt ID|title",
                "title": "={{ $json.ReceiptID }}"
              },
              {
                "key": "Receipt Date|date",
                "includeTime": false,
                "date": "={{ $json.ReceiptDate }}"
              },
              {
                "key": "Receipt Time|rich_text",
                "textContent": "={{ $json.ReceiptTime }}"
              },
              {
                "key": "Store Name|rich_text",
                "textContent": "={{ $json.StoreName }}"
              },
              {
                "key": "Subtotal|number",
                "numberValue": "={{ $json.Subtotal }}"
              },
              {
                "key": "Total Amount|number",
                "numberValue": "={{ $json.TotalAmount }}"
              },
              {
                "key": "Discount Total|number",
                "numberValue": "={{ $json.DiscountTotal }}"
              },
              {
                "key": "Payment Method|select",
                "selectValue": "={{ $json.PaymentMethod }}"
              },
              {
                "key": "Last 4 Card Digits|rich_text",
                "textContent": "={{ $json.Last4CardDigits }}"
              },
              {
                "key": "Tax Amount|number",
                "numberValue": "={{ $json.TaxAmount }}"
              },
              {
                "key": "OCR Text Raw|rich_text",
                "textContent": "={{ $json.OCRTextRaw }}"
              },
              {
                "key": "Notes|rich_text",
                "textContent": "={{ $json.Notes }}"
              },
              {
                "key": "Currency|select",
                "selectValue": "={{ $json.Currency }}"
              },
              {
                "key": "Store Address|rich_text",
                "textContent": "={{ $json.StoreAddress }}"
              },
              {
                "key": "Store Postcode|rich_text",
                "textContent": "={{ $json.StorePostcode }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          32,
          -352
        ],
        "id": "8834585f-4303-4ef6-9c17-bb0b2b4612be",
        "name": "Create row in Receipts database page",
        "credentials": {
          "notionApi": {
            "id": "xmHqiN4nVKU9IZS6",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2fbc0a28-058a-8088-b7fe-fe226fec356c",
            "mode": "list",
            "cachedResultName": "LINE_ITEMS",
            "cachedResultUrl": "https://www.notion.so/2fbc0a28058a8088b7fefe226fec356c"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "LineItemID|rich_text",
                "textContent": "={{ $json.line_items[0].LineItemID }}"
              },
              {
                "key": "LineNumber|number",
                "numberValue": "={{ $json.line_items[0].LineNumber }}"
              },
              {
                "key": "ProductName|title",
                "title": "={{ $json.line_items[0].ProductName }}"
              },
              {
                "key": "NormalisedName|rich_text",
                "textContent": "={{ $json.line_items[0].NormalisedName }}"
              },
              {
                "key": "Category|select",
                "selectValue": "={{ $json.line_items[0].Category }}"
              },
              {
                "key": "Subcategory|multi_select",
                "multiSelectValue": "={{ $json.line_items[0].Subcategory }}"
              },
              {
                "key": "Quantity|number",
                "numberValue": "={{ $json.line_items[0].Quantity }}"
              },
              {
                "key": "Unit|select",
                "selectValue": "={{ $json.line_items[0].Unit }}"
              },
              {
                "key": "UnitPrice|number",
                "numberValue": "={{ $json.line_items[0].UnitPrice }}"
              },
              {
                "key": "IsDiscountLine|checkbox",
                "checkboxValue": "={{ $json.line_items[0].IsDiscountLine }}"
              },
              {
                "key": "DiscountType|select",
                "selectValue": "={{ $json.line_items[0].DiscountType }}"
              },
              {
                "key": "DiscountAmount|number",
                "numberValue": "={{ $json.line_items[0].DiscountAmount }}"
              },
              {
                "key": "IsTaxable|checkbox",
                "checkboxValue": "={{ $json.line_items[0].IsTaxable }}"
              },
              {
                "key": "TaxRatePercent|number",
                "numberValue": "={{ $json.line_items[0].TaxRatePercent }}"
              },
              {
                "key": "TaxAmount|number",
                "numberValue": "={{ $json.line_items[0].TaxAmount }}"
              },
              {
                "key": "IsDeposit|checkbox",
                "checkboxValue": "={{ $json.line_items[0].IsDeposit }}"
              },
              {
                "key": "IsRefund|checkbox",
                "checkboxValue": "={{ $json.line_items[0].IsRefund }}"
              },
              {
                "key": "Brand|rich_text",
                "textContent": "={{ $json.line_items[0].Brand }}"
              },
              {
                "key": "SKUOrBarcode|rich_text",
                "textContent": "={{ $json.line_items[0].SKUOrBarcode }}"
              },
              {
                "key": "Notes|rich_text",
                "textContent": "={{ $json.line_items[0].Notes }}"
              }
            ]
          },
          "blockUi": {
            "blockValues": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          256,
          -192
        ],
        "id": "47285371-33b9-4d03-a99c-897e65601c13",
        "name": "Create rows in LINE_ITEMS database page1",
        "credentials": {
          "notionApi": {
            "id": "xmHqiN4nVKU9IZS6",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Extract clean JSON from AI's messy response\nconst messyText = $input.first().json.text;\n\n// Remove markdown, extract pure JSON  \nconst jsonMatch = messyText.match(/```json\\s*\\n([\\s\\S]*?)\\n```/);\nconst cleanJson = JSON.parse(jsonMatch[1]);\n\n// FIXED: Return 3 SEPARATE n8n items (each with { json: {} } structure)\nreturn [\n  { \n    json: cleanJson.users[0]  // USERS item\n  },\n  { \n    json: cleanJson.receipts[0]  // RECEIPTS item  \n  },\n  { \n    json: { \n      line_items: cleanJson.line_items  // LINE_ITEMS array wrapper\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          -352
        ],
        "id": "c1ddf660-4df0-4d06-a7eb-57282393be1e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d1a38c57-1ffb-4dde-aad8-dcfe32ba298c",
                "leftValue": "={{ $json.ReceiptID }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "3212580f-1f84-4e09-b79e-112fb93e8466",
                "leftValue": "={{ $json.TotalAmount }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -192,
          -352
        ],
        "id": "ff0e5347-2a58-4569-9de1-ceb445bf6a1f",
        "name": "Receipt Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "19177652-aa76-463b-9081-6ac2603def63",
                "leftValue": "={{ $json.line_items }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -192,
          -192
        ],
        "id": "c10ac92e-ddd2-4f98-afcf-125ce036fecb",
        "name": "Line Item Filter"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vision.googleapis.com/v1/images:annotate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"={{$json.imageBase64}}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1024,
          -352
        ],
        "id": "891912a4-c67c-4d5c-9307-fec1c8dadefd",
        "name": "Call Google Vision OCR",
        "credentials": {
          "googleApi": {
            "id": "b791JDITY5SNEGZq",
            "name": "Google Service Account - Vision API User"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Loop Over Images').item.json.attachments[0].proxy_url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1200,
          -352
        ],
        "id": "fbdba212-0fd7-427a-82bd-f651a3b8d768",
        "name": "Download image"
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\nconst text = res.responses?.[0]?.fullTextAnnotation?.text || '';\nreturn {\n  json: {\n    ocrText: text\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -848,
          -352
        ],
        "id": "f72bd709-9cde-4b27-b160-f711f95f2945",
        "name": "Extract OCR text"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1467487919035121796",
            "mode": "list",
            "cachedResultName": "Shopping",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796"
          },
          "channelId": {
            "__rl": true,
            "value": "1467488311231779090",
            "mode": "list",
            "cachedResultName": "shopping-receipt🧾",
            "cachedResultUrl": "https://discord.com/channels/1467487919035121796/1467488311231779090"
          },
          "content": "✅ 已入Notion Database ",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          240,
          -352
        ],
        "id": "60837cdd-70d3-477e-a08e-9732ea3c9af9",
        "name": "Return processed receipt to discord",
        "webhookId": "738eef75-a383-40a8-8012-7083d21e6422",
        "credentials": {
          "discordBotApi": {
            "id": "uMc0msEp6imVVJtp",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          32,
          -192
        ],
        "id": "734901ba-dd66-4b95-87a7-663d91e8d1e6",
        "name": "Loop Over Line Items"
      }
    ],
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "Yes it is an image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No it is not an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Yes it is an image": {
        "main": [
          [
            {
              "node": "Download image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No it is not an image": {
        "main": [
          []
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - shoppingreceipt": {
        "main": [
          [
            {
              "node": "Correct WebHook Secret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Correct WebHook Secret": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create row in Receipts database page": {
        "main": [
          [
            {
              "node": "Return processed receipt to discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create rows in LINE_ITEMS database page1": {
        "main": [
          [
            {
              "node": "Loop Over Line Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Line Item Filter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Receipt Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receipt Filter": {
        "main": [
          [
            {
              "node": "Create row in Receipts database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Line Item Filter": {
        "main": [
          [
            {
              "node": "Loop Over Line Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download image": {
        "main": [
          [
            {
              "node": "Call Google Vision OCR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Google Vision OCR": {
        "main": [
          [
            {
              "node": "Extract OCR text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract OCR text": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Line Items": {
        "main": [
          [],
          [
            {
              "node": "Create rows in LINE_ITEMS database page1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DONUT 4YOU",
    "name": "Version a71c2f44",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-02-06T20:32:24.234Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}