workflows/auto___backup_n8n_workflows_to_github_QfCaX4ChMSJ8fSJfmgmuM.json
{
  "updatedAt": "2026-02-05T22:45:32.629Z",
  "createdAt": "2026-02-05T19:14:27.453Z",
  "id": "QfCaX4ChMSJ8fSJfmgmuM",
  "name": "AUTO – Backup n8n Workflows to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dee5b29e-db33-4b73-955e-958bef1cb84b",
      "name": "Cron Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "d8810eae-dd8e-4768-813e-63a2a434a236",
      "name": "Export workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2e5fzjiVUbMFCDlD",
          "name": "n8n workflow backup Header Auth"
        },
        "n8nApi": {
          "id": "2jqtmvQ7rFNYXm56",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflows = items[0].json.data;\n\nreturn workflows.map(wf => {\n  const safeName = (wf.name || 'unnamed')\n    .replace(/[^a-z0-9]/gi, '_')\n    .toLowerCase();\n\n  return {\n    json: {\n      filename: `workflows/${safeName}_${wf.id}.json`,\n      content: JSON.stringify(wf, null, 2),\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "91499400-8062-4987-bacd-b62b6847b635",
      "name": "Convert workflows into files"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Edward-Swarovski",
          "mode": "list",
          "cachedResultName": "Edward-Swarovski",
          "cachedResultUrl": "https://github.com/Edward-Swarovski"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflow-backup",
          "cachedResultUrl": "https://github.com/Edward-Swarovski/n8n-workflow-backup"
        },
        "filePath": "={{$json.filename}}",
        "fileContent": "={{$json.content}}",
        "commitMessage": "=Auto backup n8n workflow {{$json.filename}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "82924c5d-4f21-474b-a882-3231f3afaee6",
      "name": "Create file in GitHub",
      "webhookId": "238f6347-0a89-4890-b585-7c8ec629a1d3",
      "credentials": {
        "githubApi": {
          "id": "wTxV6SuZWka3DaOZ",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Export workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export workflows": {
      "main": [
        [
          {
            "node": "Convert workflows into files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert workflows into files": {
      "main": [
        [
          {
            "node": "Create file in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2d118757-9afc-40a9-97e6-c3ddedcc6d06",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T19:14:27.456Z",
      "createdAt": "2026-02-05T19:14:27.456Z",
      "role": "workflow:owner",
      "workflowId": "QfCaX4ChMSJ8fSJfmgmuM",
      "projectId": "Q3g8Vitc84qYTdgN"
    }
  ],
  "activeVersion": null,
  "tags": []
}