workflows/de_run_transforms_EfIAtJNoC9DfjtDD.json
{
  "updatedAt": "2026-05-31T15:55:54.406Z",
  "createdAt": "2026-04-24T12:57:55.531Z",
  "id": "EfIAtJNoC9DfjtDD",
  "name": "DE Run Transforms",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4016,
        -352
      ],
      "id": "16ab6b26-1918-4237-958d-6cc7c364daec",
      "name": "Every Hour at :15"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source .venv/bin/activate && python transforms/build_staging.py 2>&1",
        "cwd": "/home/uroot/python_project/octopus_energy_linux/de"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4288,
        -352
      ],
      "id": "3e47ff49-f0a8-4f06-9b77-7fb29976dab8",
      "name": "Build Staging",
      "maxTries": 2,
      "waitBetweenTries": 30000,
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubuntu07 SSH Private Key"
        }
      },
      "onError": "retryOnFail"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nif (stderr.includes('Traceback') || stdout.includes('FAILED:')) {\n  throw new Error(`build_staging.py failed:\\nSTDOUT: ${stdout}\\nSTDERR: ${stderr}`);\n}\n\nreturn [{ json: { success: true, stdout } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        -352
      ],
      "id": "b0b4fe7d-20a4-4966-837f-ef2df4329fe7",
      "name": "Check Staging Output"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source .venv/bin/activate && bash run_dbt_pipeline.sh 2>&1",
        "cwd": "/home/uroot/python_project/octopus_energy_linux/de"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4848,
        -352
      ],
      "id": "355aac5a-5387-4441-8818-2f6412558aa1",
      "name": "Run dbt Pipeline",
      "maxTries": 2,
      "waitBetweenTries": 30000,
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubuntu07 SSH Private Key"
        }
      },
      "onError": "retryOnFail"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\n// Strip ANSI colour codes before checking\nconst stdout = raw.replace(/\\u001b\\[[0-9;]*m/g, '');\n\n// Only fail on genuine script crash (Traceback in stderr)\nif (stderr.includes('Traceback')) {\n  throw new Error(`run_dbt_pipeline.sh crashed:\\nSTDOUT: ${stdout.slice(-1000)}\\nSTDERR: ${stderr.slice(-500)}`);\n}\n\nif (!stdout.includes('Done. PASS=24')) {\n  throw new Error(`dbt run did not complete 24 models. Output:\\n${stdout.slice(-1000)}`);\n}\n\nif (!stdout.includes('Done. PASS=74')) {\n  throw new Error(`dbt test did not pass 74 tests. Output:\\n${stdout.slice(-1000)}`);\n}\n\nreturn [{ json: { success: true, dbt_models: 24, dbt_tests: 74 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5136,
        -352
      ],
      "id": "16a0ff07-3960-4534-886a-2918fbd9b46a",
      "name": "Check dbt Output"
    }
  ],
  "connections": {
    "Every Hour at :15": {
      "main": [
        [
          {
            "node": "Build Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Staging": {
      "main": [
        [
          {
            "node": "Check Staging Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Staging Output": {
      "main": [
        [
          {
            "node": "Run dbt Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run dbt Pipeline": {
      "main": [
        [
          {
            "node": "Check dbt Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every Hour at :15": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "24ba542d-31a9-4e28-916a-b069666d9eb3",
  "activeVersionId": "24ba542d-31a9-4e28-916a-b069666d9eb3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-24T12:57:55.533Z",
      "createdAt": "2026-04-24T12:57:55.533Z",
      "role": "workflow:owner",
      "workflowId": "EfIAtJNoC9DfjtDD",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-31T17:27:06.000Z",
    "createdAt": "2026-05-31T15:55:54.406Z",
    "versionId": "24ba542d-31a9-4e28-916a-b069666d9eb3",
    "workflowId": "EfIAtJNoC9DfjtDD",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "15 * * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          4016,
          -352
        ],
        "id": "16ab6b26-1918-4237-958d-6cc7c364daec",
        "name": "Every Hour at :15"
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "source .venv/bin/activate && python transforms/build_staging.py 2>&1",
          "cwd": "/home/uroot/python_project/octopus_energy_linux/de"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          4288,
          -352
        ],
        "id": "3e47ff49-f0a8-4f06-9b77-7fb29976dab8",
        "name": "Build Staging",
        "maxTries": 2,
        "waitBetweenTries": 30000,
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubuntu07 SSH Private Key"
          }
        },
        "onError": "retryOnFail"
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nif (stderr.includes('Traceback') || stdout.includes('FAILED:')) {\n  throw new Error(`build_staging.py failed:\\nSTDOUT: ${stdout}\\nSTDERR: ${stderr}`);\n}\n\nreturn [{ json: { success: true, stdout } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4576,
          -352
        ],
        "id": "b0b4fe7d-20a4-4966-837f-ef2df4329fe7",
        "name": "Check Staging Output"
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "source .venv/bin/activate && bash run_dbt_pipeline.sh 2>&1",
          "cwd": "/home/uroot/python_project/octopus_energy_linux/de"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          4848,
          -352
        ],
        "id": "355aac5a-5387-4441-8818-2f6412558aa1",
        "name": "Run dbt Pipeline",
        "maxTries": 2,
        "waitBetweenTries": 30000,
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubuntu07 SSH Private Key"
          }
        },
        "onError": "retryOnFail"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\n// Strip ANSI colour codes before checking\nconst stdout = raw.replace(/\\u001b\\[[0-9;]*m/g, '');\n\n// Only fail on genuine script crash (Traceback in stderr)\nif (stderr.includes('Traceback')) {\n  throw new Error(`run_dbt_pipeline.sh crashed:\\nSTDOUT: ${stdout.slice(-1000)}\\nSTDERR: ${stderr.slice(-500)}`);\n}\n\nif (!stdout.includes('Done. PASS=24')) {\n  throw new Error(`dbt run did not complete 24 models. Output:\\n${stdout.slice(-1000)}`);\n}\n\nif (!stdout.includes('Done. PASS=74')) {\n  throw new Error(`dbt test did not pass 74 tests. Output:\\n${stdout.slice(-1000)}`);\n}\n\nreturn [{ json: { success: true, dbt_models: 24, dbt_tests: 74 } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5136,
          -352
        ],
        "id": "16a0ff07-3960-4534-886a-2918fbd9b46a",
        "name": "Check dbt Output"
      }
    ],
    "connections": {
      "Every Hour at :15": {
        "main": [
          [
            {
              "node": "Build Staging",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Staging": {
        "main": [
          [
            {
              "node": "Check Staging Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Staging Output": {
        "main": [
          [
            {
              "node": "Run dbt Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run dbt Pipeline": {
        "main": [
          [
            {
              "node": "Check dbt Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 24ba542d",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-24T12:56:36.517Z",
      "createdAt": "2026-04-24T12:56:36.517Z",
      "id": "HosoTRrdWJ3aYiz9",
      "name": "Octopus Energy DE"
    }
  ],
  "_backup": {
    "backed_up_at": "2026-06-01T01:00:19.210Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}