workflows/dev___ai_job_scanner_SPw1zkfdT2Dq_gWoZE9DX.json
{
  "updatedAt": "2026-02-01T17:44:59.000Z",
  "createdAt": "2026-01-26T16:30:12.425Z",
  "id": "SPw1zkfdT2Dq_gWoZE9DX",
  "name": "DEV – AI Job Scanner",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -320
      ],
      "id": "dc013951-c0b2-4995-ab57-06ca590004a5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa27a254-62db-4f2e-a936-6403b6888a50",
              "name": "DEV_MODE",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "93182809-59e7-40d3-adac-1bce9c85aff4",
              "name": "ENV",
              "value": "\"DEV\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -320
      ],
      "id": "b87bb057-a8e9-4ee0-9aac-f2c3410ff2c1",
      "name": "Set – Dev Mode"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_jobs"
            },
            {
              "name": "q",
              "value": "Database Administrator SQL Server MySQL"
            },
            {
              "name": "location",
              "value": "United Kingdom"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -320
      ],
      "id": "5f8a8380-6533-4ff4-ab72-8d4bd69d5ee3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $json.jobs_results || [];\n\nfunction extractJobId(job) {\n  // Prefer htidocid from share_link (stable per job)\n  const link = job.share_link || job.apply_options?.[0]?.link || '';\n  if (!link) return null;\n\n  try {\n    const u = new URL(link);\n    return u.searchParams.get('htidocid') || null;\n  } catch (e) {\n    // Fallback: regex if URL() fails\n    const m = link.match(/(?:\\?|&)htidocid=([^&]+)/);\n    return m ? decodeURIComponent(m[1]) : null;\n  }\n}\n\nreturn jobs.map(job => ({\n  json: {\n    // ✅ Stable job_id\n    job_id: extractJobId(job),\n\n    // Core fields\n    title: job.title || null,\n    company: job.company_name || null,\n    location: job.location || null,\n\n    // Keep share_link too (useful for debugging + apply)\n    share_link: job.share_link || null,\n\n    // Links\n    apply_link:\n      job.apply_options?.[0]?.link ||\n      job.related_links?.[0]?.link ||\n      null,\n\n    // Metadata\n    source: \"Google Jobs\",\n    posted_at: job.detected_extensions?.posted_at || null,\n    job_type: job.detected_extensions?.schedule_type || null,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -320
      ],
      "id": "5af1d4b1-9bfc-4c16-8210-eb35b83e5df0",
      "name": "Normalize – Jobs Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate this job for suitability.\n\nCandidate profile:\n- Senior DBA / Database Engineer\n- SQL Server Always On, MySQL replication\n- Linux, HA/DR, finance domain\n- UK-based roles preferred\n\nJob title: {{ $json.title }}\nCompany: {{ $json.company }}\nLocation: {{ $json.location }}\n\nJob description:\n{{ $json.job_description }}\n\nReturn JSON ONLY:\n{\n  \"score\": number (0-100),\n  \"decision\": \"APPLY\" | \"SKIP\",\n  \"reason\": string\n}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert UK technical recruiter and hiring manager.\n\nYou specialise in senior Database Administrator and Database Engineer roles,\nincluding Microsoft SQL Server (Always On), MySQL replication, Sybase ASE,\nLinux production systems, and cloud environments.\n\nYou are strict, objective, and practical.\nYou only return valid JSON.\nYou never include explanations outside JSON.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        -320
      ],
      "id": "fbde519e-a5b7-45fd-bb39-ddc95b844f06",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        -96
      ],
      "id": "1cf8e75a-abc3-4c35-9b04-059e5b13a5f5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.text;\nconst parsed = JSON.parse(\n  raw.replace(/```json|```/g, \"\").trim()\n);\n\nreturn {\n  json: {\n    ...$json,   // keeps title, company, location, description\n    score: parsed.score,\n    decision: parsed.decision,\n    reason: parsed.reason\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -320
      ],
      "id": "4972b570-36eb-4143-bf29-848a9e53b3ba",
      "name": "Parse LLM Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aadb4f99-6cf2-491c-a91e-0f28ff01144c",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "APPLY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -320
      ],
      "id": "c96435dc-b637-4c4e-b541-68444aa27211",
      "name": "decision filter"
    },
    {
      "parameters": {
        "sendTo": "donut4you@gmail.com",
        "subject": "=New Job Match: {{ $json.title }} at {{ $json.company }}",
        "message": "=<h2>New Job Match (APPLY)</h2>  <p><strong>Title:</strong> {{ $json.title }}</p> <p><strong>Company:</strong> {{ $json.company }}</p> <p><strong>Location:</strong> {{ $json.location }}</p> <p><strong>Score:</strong> {{ $json.score }}</p>  <p><strong>Reason:</strong></p> <p>{{ $json.reason }}</p>  <p>   <a href=\"{{ $json.apply_link }}\" target=\"_blank\">     👉 Apply for this job   </a> </p>  <hr /> <p>Source: {{ $json.source }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        -320
      ],
      "id": "f727b0b9-4e15-4763-a1ca-b13d29a9be3d",
      "name": "Send a message",
      "webhookId": "e75c6a38-fdcb-46e9-a8df-5883cce1fa0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ON4cMVnRGPKgOQl0",
          "name": "Job.Automation Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.job_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -320
      ],
      "id": "5717af7f-ae41-491b-8e72-63f4296b9431",
      "name": "Fetch Job Page (HTML)"
    }
  ],
  "connections": {
    "Set – Dev Mode": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set – Dev Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize – Jobs Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize – Jobs Results": {
      "main": [
        [
          {
            "node": "Fetch Job Page (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse LLM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Result": {
      "main": [
        [
          {
            "node": "decision filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "decision filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page (HTML)": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "87f75776-3d18-4996-81b7-7f29be7a96ee",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T16:30:12.428Z",
      "createdAt": "2026-01-26T16:30:12.428Z",
      "role": "workflow:owner",
      "workflowId": "SPw1zkfdT2Dq_gWoZE9DX",
      "projectId": "Q3g8Vitc84qYTdgN"
    }
  ],
  "activeVersion": null,
  "tags": []
}