workflows/discord_message_qb7LwSQNXLT1xIORhHwP5.json
{
  "updatedAt": "2026-02-04T19:17:00.794Z",
  "createdAt": "2026-02-01T22:58:00.158Z",
  "id": "qb7LwSQNXLT1xIORhHwP5",
  "name": "Discord Message",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -176
      ],
      "id": "566394a7-7fa3-4ee3-b4a7-7a80ea108e75",
      "name": "Webhook",
      "webhookId": "7acdb0f7-9173-4ecf-a44e-91b610c94cc3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41bdd50b-f24b-49d4-8472-93ac9504f3ef",
              "leftValue": "={{ $json.headers['x-bot-secret'] }}",
              "rightValue": "3qPPVe4crgE4Ev7Npd9MrDcks1OJV/fOF2J5Q1q2vzc=",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -176
      ],
      "id": "1f69e72d-4d2a-4b69-9223-2141a29ba0ef",
      "name": "Bot Security Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91baaab2-c3a1-42a8-9d5a-2aebc66e9f38",
              "leftValue": "={{ $json.body.attachments[0].content_type }}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -176
      ],
      "id": "6cac9ae5-9748-4c14-b7f5-a30c0648e4b2",
      "name": "image messages"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.attachments[0].proxy_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -176
      ],
      "id": "af18aedf-760c-4925-b4b3-7159c3914db2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/discord-image/invoice-{{$execution.id}}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        896,
        -176
      ],
      "id": "71514723-a009-42ac-883f-601cbcc19a50",
      "name": "save image to disk"
    },
    {
      "parameters": {
        "command": "=docker run --rm -v /home/uroot/discord-image:/files tesseract-im7 tesseract /files/invoice-{{$execution.id}}.jpg stdout --oem 1 --psm 4 -l eng"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        -176
      ],
      "id": "d7c0a883-b2bd-4c87-908a-ee96e90b5417",
      "name": "run Tesseract OCR"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1424,
        48
      ],
      "id": "6f25627e-52b2-495b-804a-1d4bf7f10478",
      "name": "LLM Model1",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract supermarket receipt information from the OCR text below.\n\nReturn JSON in this EXACT structure:\n\n{\n  \"store_name\": string | null,\n  \"purchase_date\": string | null,\n  \"purchase_time\": string | null,\n  \"items\": [\n    {\n      \"item_description\": string,\n      \"quantity\": number,\n      \"unit_price\": number | null,\n      \"line_total\": number | null,\n      \"discount\": number | null\n    }\n  ]\n}\n\nIMPORTANT:\n- Prices must appear on the SAME LINE as the item.\n- If not, unit_price and line_total MUST be null.\n- Do NOT attempt to align prices by order.\n\nOCR text:\n<<<\n{{ $json.stdout }}\n>>>\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict receipt data-extraction engine.\n\nYour task:\n- Extract supermarket receipt data from OCR text.\n- Output VALID JSON ONLY.\n- No explanations, markdown, or comments.\n\nGeneral rules:\n- Use ONLY the provided OCR text.\n- Do NOT guess, infer, calculate, align, or reorder values.\n- If a value is not explicitly printed with the item, use null.\n- Preserve original spelling and wording.\n\nItem rules:\n- Ignore OCR noise and meaningless fragments.\n- Remove leading numeric-only item codes.\n- Preserve descriptive text such as size or pack count.\n\nQuantity rules:\n- Only treat quantity as valid if explicitly printed as “Nx” or “N x ITEM”.\n- Otherwise, quantity = 1.\n- Do NOT infer quantity from weights or codes.\n\n🔴 PRICE RULES (ABSOLUTE):\n- IGNORE ALL PRICES that are not printed on the SAME LINE as the item.\n- IGNORE prices listed in bulk blocks, summaries, or totals.\n- DO NOT associate prices by position, order, or count.\n- If the item line does not itself contain a price, set unit_price and line_total to null.\n- This rule overrides all others.\n\nDiscount rules:\n- If a discount percentage or amount appears on a line AFTER an item,\n  associate it with the nearest previous valid item.\n- Store discount as a NUMBER only.\n\nDeduplication:\n- Deduplicate only when two consecutive descriptions are almost identical.\n- If unsure, keep both.\n\nDate & time rules:\n- Extract only if explicitly printed.\n- Date format: YYYY-MM-DD\n- Time format: HH:MM (24-hour)\n\nOutput must be valid JSON and parsable.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1344,
        -176
      ],
      "id": "d7a0bf3b-34e9-4c37-93b9-bf670271cc56",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.text);\n\nreturn [\n  {\n    json: data\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -176
      ],
      "id": "b604940a-49d9-4057-8416-e8ae72197657",
      "name": "Parse LLM JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1904,
        -176
      ],
      "id": "8e929d4b-e39c-4cab-835b-49b8ef3b6206",
      "name": "Denormalize JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01e4c1fb-d452-40f5-8c29-a087720895b1",
              "name": "purchase_date",
              "value": "={{ $json.purchase_date }}",
              "type": "string"
            },
            {
              "id": "489f3590-414a-4157-8209-5c5861a387af",
              "name": "purchase_time",
              "value": "={{ $json.purchase_time }}",
              "type": "string"
            },
            {
              "id": "1abea5b0-8eb1-4cc4-a164-fb416fceba15",
              "name": "store_name",
              "value": "={{ $json.store_name }}",
              "type": "string"
            },
            {
              "id": "d273e409-4a1d-4411-a7eb-e60374206583",
              "name": "items.item_description",
              "value": "={{ $json.items.item_description }}",
              "type": "string"
            },
            {
              "id": "f22581d0-0724-4bf9-9c2a-89050ddd2981",
              "name": "items.quantity",
              "value": "={{ $json.items.quantity }}",
              "type": "number"
            },
            {
              "id": "a0474b44-f7cc-40e8-9414-7722cc6bd5c2",
              "name": "items.unit_price",
              "value": "={{ $json.items.unit_price }}",
              "type": "number"
            },
            {
              "id": "f92ef869-28c0-49fe-b875-656ed883dbe5",
              "name": "items.line_total",
              "value": "={{ $json.items.line_total }}",
              "type": "string"
            },
            {
              "id": "cd204cc8-5d72-497f-8b82-d58a5e38575d",
              "name": "items.discount",
              "value": "={{ $json.items.discount }}",
              "type": "string"
            },
            {
              "id": "cfac8c48-7102-4ffa-b043-9e8ee6adda4e",
              "name": "receipt_id",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "278c6b57-fb81-4d10-8636-08e95811df61",
              "name": "created_at",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -176
      ],
      "id": "b457d904-4626-4182-b8d7-95eeac1bf400",
      "name": "Prepare Sheet Row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw",
          "mode": "list",
          "cachedResultName": "Supermarket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "purchase_date": "={{ $json.purchase_date }}",
            "purchase_time": "={{ $json.purchase_time }}",
            "item_description": "={{ $json.items.item_description }}",
            "store_name": "={{ $json.store_name }}",
            "quantity": "={{ $json.items.quantity }}",
            "line_total": "={{ $json.items.line_total }}",
            "unit_price": "={{ $json.items.unit_price }}",
            "discount_percent": "={{ $json.items.discount }}",
            "created_at": "={{ $json.created_at }}",
            "receipt_id": "={{ $json.receipt_id }}",
            "source": "={{ $('image messages').item.json.body.author.username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchase_time",
              "displayName": "purchase_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "item_description",
              "displayName": "item_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_total",
              "displayName": "line_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_percent",
              "displayName": "discount_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receipt_id",
              "displayName": "receipt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2320,
        -176
      ],
      "id": "654f6dde-8c32-45e2-bce4-10df0a64c291",
      "name": "Insert Google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -f /files/invoice-{{$execution.id}}.jpg"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2528,
        -176
      ],
      "id": "8b166f44-524a-4feb-ab66-a97a919b664a",
      "name": "remove invoice img file"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Bot Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Security Check": {
      "main": [
        [
          {
            "node": "image messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image messages": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "save image to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save image to disk": {
      "main": [
        [
          {
            "node": "run Tesseract OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run Tesseract OCR": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Denormalize JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Denormalize JSON": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "Insert Google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Google sheet": {
      "main": [
        [
          {
            "node": "remove invoice img file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mywonderful.xyz",
            "user-agent": "node-fetch",
            "content-length": "807",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "145.40.128.228",
            "cf-ipcountry": "GB",
            "cf-ray": "9c8c567ddd4388b5-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "c485d794-51eb-435f-afa5-eb88b79c7e38",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-bot-secret": "3qPPVe4crgE4Ev7Npd9MrDcks1OJV/fOF2J5Q1q2vzc=",
            "x-forwarded-for": "145.40.128.228",
            "x-forwarded-proto": "https",
            "x-idempotency-key": "1468679417092898982"
          },
          "params": {},
          "query": {},
          "body": {
            "version": "1.0",
            "source": "discord",
            "correlation_id": "discord-1468679417092898982",
            "server_id": "1467482881210323021",
            "channel_id": "1467485311335534675",
            "message_id": "1468679417092898982",
            "author": {
              "id": "977608466132791326",
              "username": "donut4you"
            },
            "content": "",
            "attachments": [
              {
                "id": "1468679417407606949",
                "filename": "IMG_2090.jpg",
                "content_type": "image/jpeg",
                "size": 1048502,
                "url": "https://cdn.discordapp.com/attachments/1467485311335534675/1468679417407606949/IMG_2090.jpg?ex=6984e5cb&is=6983944b&hm=138ea1857fa524c84985c6537abbbdd6db2d4992fea1f4e2cf3e7329bfa6c034&",
                "proxy_url": "https://media.discordapp.net/attachments/1467485311335534675/1468679417407606949/IMG_2090.jpg?ex=6984e5cb&is=6983944b&hm=138ea1857fa524c84985c6537abbbdd6db2d4992fea1f4e2cf3e7329bfa6c034&"
              }
            ],
            "timestamp": "2026-02-04T18:47:39.779Z"
          },
          "webhookUrl": "https://n8n.mywonderful.xyz/webhook/discord",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f1a6ca11-0c8a-4efb-91e9-bd18a2dbdcf0",
  "activeVersionId": "f1a6ca11-0c8a-4efb-91e9-bd18a2dbdcf0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-01T22:58:00.162Z",
      "createdAt": "2026-02-01T22:58:00.162Z",
      "role": "workflow:owner",
      "workflowId": "qb7LwSQNXLT1xIORhHwP5",
      "projectId": "Q3g8Vitc84qYTdgN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-04T19:17:13.000Z",
    "createdAt": "2026-02-04T19:17:00.795Z",
    "versionId": "f1a6ca11-0c8a-4efb-91e9-bd18a2dbdcf0",
    "workflowId": "qb7LwSQNXLT1xIORhHwP5",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "discord",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -176
        ],
        "id": "566394a7-7fa3-4ee3-b4a7-7a80ea108e75",
        "name": "Webhook",
        "webhookId": "7acdb0f7-9173-4ecf-a44e-91b610c94cc3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "41bdd50b-f24b-49d4-8472-93ac9504f3ef",
                "leftValue": "={{ $json.headers['x-bot-secret'] }}",
                "rightValue": "3qPPVe4crgE4Ev7Npd9MrDcks1OJV/fOF2J5Q1q2vzc=",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          224,
          -176
        ],
        "id": "1f69e72d-4d2a-4b69-9223-2141a29ba0ef",
        "name": "Bot Security Check"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "91baaab2-c3a1-42a8-9d5a-2aebc66e9f38",
                "leftValue": "={{ $json.body.attachments[0].content_type }}",
                "rightValue": "image/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          -176
        ],
        "id": "6cac9ae5-9748-4c14-b7f5-a30c0648e4b2",
        "name": "image messages"
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.attachments[0].proxy_url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          672,
          -176
        ],
        "id": "af18aedf-760c-4925-b4b3-7159c3914db2",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/files/discord-image/invoice-{{$execution.id}}.jpg",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1.1,
        "position": [
          896,
          -176
        ],
        "id": "71514723-a009-42ac-883f-601cbcc19a50",
        "name": "save image to disk"
      },
      {
        "parameters": {
          "command": "=docker run --rm -v /home/uroot/discord-image:/files tesseract-im7 tesseract /files/invoice-{{$execution.id}}.jpg stdout --oem 1 --psm 4 -l eng"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1120,
          -176
        ],
        "id": "d7c0a883-b2bd-4c87-908a-ee96e90b5417",
        "name": "run Tesseract OCR"
      },
      {
        "parameters": {
          "model": "arcee-ai/trinity-large-preview:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1424,
          48
        ],
        "id": "6f25627e-52b2-495b-804a-1d4bf7f10478",
        "name": "LLM Model1",
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Extract supermarket receipt information from the OCR text below.\n\nReturn JSON in this EXACT structure:\n\n{\n  \"store_name\": string | null,\n  \"purchase_date\": string | null,\n  \"purchase_time\": string | null,\n  \"items\": [\n    {\n      \"item_description\": string,\n      \"quantity\": number,\n      \"unit_price\": number | null,\n      \"line_total\": number | null,\n      \"discount\": number | null\n    }\n  ]\n}\n\nIMPORTANT:\n- Prices must appear on the SAME LINE as the item.\n- If not, unit_price and line_total MUST be null.\n- Do NOT attempt to align prices by order.\n\nOCR text:\n<<<\n{{ $json.stdout }}\n>>>\n",
          "messages": {
            "messageValues": [
              {
                "message": "You are a strict receipt data-extraction engine.\n\nYour task:\n- Extract supermarket receipt data from OCR text.\n- Output VALID JSON ONLY.\n- No explanations, markdown, or comments.\n\nGeneral rules:\n- Use ONLY the provided OCR text.\n- Do NOT guess, infer, calculate, align, or reorder values.\n- If a value is not explicitly printed with the item, use null.\n- Preserve original spelling and wording.\n\nItem rules:\n- Ignore OCR noise and meaningless fragments.\n- Remove leading numeric-only item codes.\n- Preserve descriptive text such as size or pack count.\n\nQuantity rules:\n- Only treat quantity as valid if explicitly printed as “Nx” or “N x ITEM”.\n- Otherwise, quantity = 1.\n- Do NOT infer quantity from weights or codes.\n\n🔴 PRICE RULES (ABSOLUTE):\n- IGNORE ALL PRICES that are not printed on the SAME LINE as the item.\n- IGNORE prices listed in bulk blocks, summaries, or totals.\n- DO NOT associate prices by position, order, or count.\n- If the item line does not itself contain a price, set unit_price and line_total to null.\n- This rule overrides all others.\n\nDiscount rules:\n- If a discount percentage or amount appears on a line AFTER an item,\n  associate it with the nearest previous valid item.\n- Store discount as a NUMBER only.\n\nDeduplication:\n- Deduplicate only when two consecutive descriptions are almost identical.\n- If unsure, keep both.\n\nDate & time rules:\n- Extract only if explicitly printed.\n- Date format: YYYY-MM-DD\n- Time format: HH:MM (24-hour)\n\nOutput must be valid JSON and parsable.\n"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1344,
          -176
        ],
        "id": "d7a0bf3b-34e9-4c37-93b9-bf670271cc56",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "jsCode": "const data = JSON.parse($json.text);\n\nreturn [\n  {\n    json: data\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1696,
          -176
        ],
        "id": "b604940a-49d9-4057-8416-e8ae72197657",
        "name": "Parse LLM JSON"
      },
      {
        "parameters": {
          "fieldToSplitOut": "items",
          "include": "allOtherFields",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1904,
          -176
        ],
        "id": "8e929d4b-e39c-4cab-835b-49b8ef3b6206",
        "name": "Denormalize JSON"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "01e4c1fb-d452-40f5-8c29-a087720895b1",
                "name": "purchase_date",
                "value": "={{ $json.purchase_date }}",
                "type": "string"
              },
              {
                "id": "489f3590-414a-4157-8209-5c5861a387af",
                "name": "purchase_time",
                "value": "={{ $json.purchase_time }}",
                "type": "string"
              },
              {
                "id": "1abea5b0-8eb1-4cc4-a164-fb416fceba15",
                "name": "store_name",
                "value": "={{ $json.store_name }}",
                "type": "string"
              },
              {
                "id": "d273e409-4a1d-4411-a7eb-e60374206583",
                "name": "items.item_description",
                "value": "={{ $json.items.item_description }}",
                "type": "string"
              },
              {
                "id": "f22581d0-0724-4bf9-9c2a-89050ddd2981",
                "name": "items.quantity",
                "value": "={{ $json.items.quantity }}",
                "type": "number"
              },
              {
                "id": "a0474b44-f7cc-40e8-9414-7722cc6bd5c2",
                "name": "items.unit_price",
                "value": "={{ $json.items.unit_price }}",
                "type": "number"
              },
              {
                "id": "f92ef869-28c0-49fe-b875-656ed883dbe5",
                "name": "items.line_total",
                "value": "={{ $json.items.line_total }}",
                "type": "string"
              },
              {
                "id": "cd204cc8-5d72-497f-8b82-d58a5e38575d",
                "name": "items.discount",
                "value": "={{ $json.items.discount }}",
                "type": "string"
              },
              {
                "id": "cfac8c48-7102-4ffa-b043-9e8ee6adda4e",
                "name": "receipt_id",
                "value": "={{$execution.id}}",
                "type": "string"
              },
              {
                "id": "278c6b57-fb81-4d10-8636-08e95811df61",
                "name": "created_at",
                "value": "={{$now}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          -176
        ],
        "id": "b457d904-4626-4182-b8d7-95eeac1bf400",
        "name": "Prepare Sheet Row"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw",
            "mode": "list",
            "cachedResultName": "Supermarket",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Receipts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN56DOKsxgkzrI19qPtKl4fcoZEmWi3HP5rz5Y24Knw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "purchase_date": "={{ $json.purchase_date }}",
              "purchase_time": "={{ $json.purchase_time }}",
              "item_description": "={{ $json.items.item_description }}",
              "store_name": "={{ $json.store_name }}",
              "quantity": "={{ $json.items.quantity }}",
              "line_total": "={{ $json.items.line_total }}",
              "unit_price": "={{ $json.items.unit_price }}",
              "discount_percent": "={{ $json.items.discount }}",
              "created_at": "={{ $json.created_at }}",
              "receipt_id": "={{ $json.receipt_id }}",
              "source": "={{ $('image messages').item.json.body.author.username }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "purchase_date",
                "displayName": "purchase_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "purchase_time",
                "displayName": "purchase_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store_name",
                "displayName": "store_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "item_description",
                "displayName": "item_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "quantity",
                "displayName": "quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unit_price",
                "displayName": "unit_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "line_total",
                "displayName": "line_total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "discount_percent",
                "displayName": "discount_percent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "receipt_id",
                "displayName": "receipt_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "confidence",
                "displayName": "confidence",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2320,
          -176
        ],
        "id": "654f6dde-8c32-45e2-bce4-10df0a64c291",
        "name": "Insert Google sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "command": "=rm -f /files/invoice-{{$execution.id}}.jpg"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2528,
          -176
        ],
        "id": "8b166f44-524a-4feb-ab66-a97a919b664a",
        "name": "remove invoice img file"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Bot Security Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bot Security Check": {
        "main": [
          [
            {
              "node": "image messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "image messages": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "save image to disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save image to disk": {
        "main": [
          [
            {
              "node": "run Tesseract OCR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "run Tesseract OCR": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Parse LLM JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM JSON": {
        "main": [
          [
            {
              "node": "Denormalize JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Denormalize JSON": {
        "main": [
          [
            {
              "node": "Prepare Sheet Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Sheet Row": {
        "main": [
          [
            {
              "node": "Insert Google sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Google sheet": {
        "main": [
          [
            {
              "node": "remove invoice img file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DONUT 4YOU",
    "name": "Version f1a6ca11",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-02-06T20:32:24.234Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}