workflows/electricity_negative_rate_alert_VMMLoDoNTvQVWt5x.json
{
  "updatedAt": "2026-04-29T08:52:20.549Z",
  "createdAt": "2026-04-07T16:17:30.472Z",
  "id": "VMMLoDoNTvQVWt5x",
  "name": "Electricity Negative Rate Alert",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1664,
        -336
      ],
      "id": "b245581d-575c-4a5a-81cb-d10c348930c8",
      "name": "Daily 16:30 UK"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "source .venv/bin/activate && python collectors/electricity_negative_rate_check.py",
        "cwd": "/home/uroot/python_project/octopus_energy_linux"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -1376,
        -336
      ],
      "id": "57c0f5b9-6144-46d0-8cf3-2f0eee70302a",
      "name": "Run Negative Rate Check",
      "maxTries": 2,
      "waitBetweenTries": 30000,
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubuntu07 SSH Private Key"
        }
      },
      "onError": "retryOnFail"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nif (stdout.includes('[ERROR]') || stderr.includes('[ERROR]') || stderr.includes('Traceback')) {\n  throw new Error(`Script error:\\nSTDOUT: ${stdout}\\nSTDERR: ${stderr}`);\n}\n\nconst match = stdout.match(/\\[NEGATIVE_RATE\\] (\\[.*\\])/);\nif (!match) {\n  return [{ json: { hasNegativeRate: false, slots: [], stdout } }];\n}\nconst slots = JSON.parse(match[1]);\n\nfunction toLocalLondon(isoStr) {\n  const dt = new Date(isoStr);\n  return dt.toLocaleString('en-GB', {\n    timeZone: 'Europe/London',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).replace(',', '');\n}\n\nconst lines = slots.map(s =>\n  `  ${toLocalLondon(s.from)} → ${toLocalLondon(s.to)}  |  ${s.p_per_kwh.toFixed(4)} p/kWh`\n).join('\\n');\nreturn [{ json: { hasNegativeRate: true, slots, formattedLines: lines, stdout } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -336
      ],
      "id": "62053edc-6ee8-4aef-a1ec-8f91ea2de623",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasNegativeRate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "9c312b0b-8ddb-4a94-9c22-74e45ea4f1cf"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        -336
      ],
      "id": "df67a116-8e04-4fd2-aa31-3b1831f5bf75",
      "name": "Negative Rate Found?"
    },
    {
      "parameters": {
        "fromEmail": "edwardtong@gmail.com",
        "toEmail": "edwardtong@gmail.com",
        "subject": "=[ALERT] Negative Electricity Rates Tomorrow ({{ $json.slots.length }} slot{{ $json.slots.length > 1 ? 's' : '' }})",
        "text": "=Negative or zero electricity rate(s) detected for tomorrow.\n\nSlots (inc. VAT, London time):\n{{ $json.formattedLines }}\n\nConsider scheduling high-consumption appliances (washing machine, dishwasher, EV charging) during these periods.\n\nTime of check: {{ $now }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -576,
        -416
      ],
      "id": "5c589afd-85d3-4a86-af30-97861f4a924a",
      "name": "Send Negative Rate Alert",
      "webhookId": "039c04e7-847c-4c01-bb0d-7d459ea4e19c",
      "credentials": {
        "smtp": {
          "id": "EuvA9jLaKOedTzoo",
          "name": "Gmail SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Daily 16:30 UK": {
      "main": [
        [
          {
            "node": "Run Negative Rate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Negative Rate Check": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Negative Rate Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative Rate Found?": {
      "main": [
        [
          {
            "node": "Send Negative Rate Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Daily 16:30 UK": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2bd1272e-2009-4f51-99d0-5493bf3ff0b5",
  "activeVersionId": "2bd1272e-2009-4f51-99d0-5493bf3ff0b5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T16:17:30.476Z",
      "createdAt": "2026-04-07T16:17:30.476Z",
      "role": "workflow:owner",
      "workflowId": "VMMLoDoNTvQVWt5x",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-29T08:52:57.000Z",
    "createdAt": "2026-04-29T08:52:20.549Z",
    "versionId": "2bd1272e-2009-4f51-99d0-5493bf3ff0b5",
    "workflowId": "VMMLoDoNTvQVWt5x",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 16 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1664,
          -336
        ],
        "id": "b245581d-575c-4a5a-81cb-d10c348930c8",
        "name": "Daily 16:30 UK"
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "source .venv/bin/activate && python collectors/electricity_negative_rate_check.py",
          "cwd": "/home/uroot/python_project/octopus_energy_linux"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -1376,
          -336
        ],
        "id": "57c0f5b9-6144-46d0-8cf3-2f0eee70302a",
        "name": "Run Negative Rate Check",
        "maxTries": 2,
        "waitBetweenTries": 30000,
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubuntu07 SSH Private Key"
          }
        },
        "onError": "retryOnFail"
      },
      {
        "parameters": {
          "jsCode": "const stdout = $input.item.json.stdout || '';\nconst stderr = $input.item.json.stderr || '';\n\nif (stdout.includes('[ERROR]') || stderr.includes('[ERROR]') || stderr.includes('Traceback')) {\n  throw new Error(`Script error:\\nSTDOUT: ${stdout}\\nSTDERR: ${stderr}`);\n}\n\nconst match = stdout.match(/\\[NEGATIVE_RATE\\] (\\[.*\\])/);\nif (!match) {\n  return [{ json: { hasNegativeRate: false, slots: [], stdout } }];\n}\nconst slots = JSON.parse(match[1]);\n\nfunction toLocalLondon(isoStr) {\n  const dt = new Date(isoStr);\n  return dt.toLocaleString('en-GB', {\n    timeZone: 'Europe/London',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).replace(',', '');\n}\n\nconst lines = slots.map(s =>\n  `  ${toLocalLondon(s.from)} → ${toLocalLondon(s.to)}  |  ${s.p_per_kwh.toFixed(4)} p/kWh`\n).join('\\n');\nreturn [{ json: { hasNegativeRate: true, slots, formattedLines: lines, stdout } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1104,
          -336
        ],
        "id": "62053edc-6ee8-4aef-a1ec-8f91ea2de623",
        "name": "Parse Output"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.hasNegativeRate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "id": "9c312b0b-8ddb-4a94-9c22-74e45ea4f1cf"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -832,
          -336
        ],
        "id": "df67a116-8e04-4fd2-aa31-3b1831f5bf75",
        "name": "Negative Rate Found?"
      },
      {
        "parameters": {
          "fromEmail": "edwardtong@gmail.com",
          "toEmail": "edwardtong@gmail.com",
          "subject": "=[ALERT] Negative Electricity Rates Tomorrow ({{ $json.slots.length }} slot{{ $json.slots.length > 1 ? 's' : '' }})",
          "text": "=Negative or zero electricity rate(s) detected for tomorrow.\n\nSlots (inc. VAT, London time):\n{{ $json.formattedLines }}\n\nConsider scheduling high-consumption appliances (washing machine, dishwasher, EV charging) during these periods.\n\nTime of check: {{ $now }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          -576,
          -416
        ],
        "id": "5c589afd-85d3-4a86-af30-97861f4a924a",
        "name": "Send Negative Rate Alert",
        "webhookId": "039c04e7-847c-4c01-bb0d-7d459ea4e19c",
        "credentials": {
          "smtp": {
            "id": "EuvA9jLaKOedTzoo",
            "name": "Gmail SMTP account"
          }
        }
      }
    ],
    "connections": {
      "Daily 16:30 UK": {
        "main": [
          [
            {
              "node": "Run Negative Rate Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Negative Rate Check": {
        "main": [
          [
            {
              "node": "Parse Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Output": {
        "main": [
          [
            {
              "node": "Negative Rate Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Negative Rate Found?": {
        "main": [
          [
            {
              "node": "Send Negative Rate Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 2bd1272e",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-08-03T16:03:15.985Z",
      "createdAt": "2025-08-03T16:03:15.985Z",
      "id": "3XQOHErGRd40vm76",
      "name": "Octopus Energy"
    }
  ],
  "_backup": {
    "backed_up_at": "2026-04-30T01:00:19.151Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}