workflows/ocr_receipt_json_pre_clean_llm_3Wrw41MyXgUNjWoU73Rk9.json
{
  "updatedAt": "2026-02-07T18:31:46.874Z",
  "createdAt": "2026-02-07T18:06:46.595Z",
  "id": "3Wrw41MyXgUNjWoU73Rk9",
  "name": "OCR Receipt → JSON (Pre-clean + LLM)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "353115c8-4660-4a2c-91a3-90b6a9f7d7b3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ocrText",
              "value": "PASTE RAW OCR TEXT HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "16a9ef39-9aa9-4bbd-ac3f-2b170efe5333",
      "name": "Set OCR Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// Pre-clean OCR text for LLM use\n// Compatible with n8n v2.4.8\n// ===============================\n\n// 1. Read raw OCR text\nconst raw = $json.ocrText || '';\n\n// 2. Split into trimmed, non-empty lines\nlet lines = raw\n  .split('\\n')\n  .map(l => l.replace(/\\s+/g, ' ').trim())\n  .filter(l => l.length > 0);\n\n// 3. Remove common receipt junk (SAFE patterns only)\nconst junkPatterns = [\n  /^thank you/i,\n  /^customer copy/i,\n  /^approved/i,\n  /^aid:/i,\n  /^merchant id/i,\n  /^terminal id/i,\n  /^source/i,\n  /^authorisation code/i,\n  /^verified by/i,\n  /^please keep this receipt/i\n];\n\nlines = lines.filter(line =>\n  !junkPatterns.some(regex => regex.test(line))\n);\n\n// 4. Deduplicate EXACT duplicate lines only\nconst seen = new Set();\nlines = lines.filter(line => {\n  if (seen.has(line)) return false;\n  seen.add(line);\n  return true;\n});\n\n// 5. Local reordering (VERY conservative)\n// If a price line follows an item name, keep them adjacent\n// We DO NOT merge lines — we only keep order stable\nconst reordered = [];\nfor (let i = 0; i < lines.length; i++) {\n  const current = lines[i];\n  const next = lines[i + 1];\n\n  // Price-only line pattern (e.g. \"3.99 A\", \"-0.90 A\")\n  const priceLine = /^[\\-]?\\d+(\\.\\d{2})?\\s*[AB]$/;\n\n  reordered.push(current);\n\n  if (next && priceLine.test(next)) {\n    reordered.push(next);\n    i++; // skip next since it's already added\n  }\n}\n\nlines = reordered;\n\n// 6. Return BOTH raw and cleaned OCR\nreturn {\n  OCRTextRaw: raw,\n  OCRTextClean: lines.join('\\n')\n};\n"
      },
      "id": "81b97edb-10af-4af2-99c9-66d2981ea0ea",
      "name": "Pre-clean OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "7e5e0f26-61a5-4a74-a1fc-abef86cb1ddf",
      "name": "Validate JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.OCRTextClean || '').toUpperCase();\n\nlet store = 'UNKNOWN';\n\nif (text.includes('ALDI')) {\n  store = 'ALDI';\n} else if (text.includes('TESCO')) {\n  store = 'TESCO';\n} else if (text.includes('COSTCO')) {\n  store = 'COSTCO';\n} else if (text.includes('LIDL')) {\n  store = 'LIDL';\n} else if (text.includes('SAINSBURY')) {\n  store = 'SAINSBURYS';\n}\n\nreturn {\n  store_name: store,\n  OCRTextClean: $json.OCRTextClean,\n  OCRTextRaw: $json.OCRTextRaw\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -32
      ],
      "id": "8797eef8-9680-4046-a1e7-22c221b04306",
      "name": "Detect Store"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.store_name }}",
                    "rightValue": "ALDI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2e7f0962-0e8e-4095-a6a1-9b19748c3b4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ALDI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb26d103-2551-4aad-ab00-8c28d9b0adfe",
                    "leftValue": "={{ $json.store_name }}",
                    "rightValue": "TESCO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TESCO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb155985-19b8-45c4-8264-fb3f4dceeae3",
                    "leftValue": "={{ $json.store_name }}",
                    "rightValue": "COSTCO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COSTCO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59df65fb-6883-46d8-a5da-b306be5f812c",
                    "leftValue": "={{ $json.store_name }}",
                    "rightValue": "=UNKNOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UNKNOWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        848,
        -64
      ],
      "id": "48f09228-51f2-4e26-aeb6-1cf5c75bcffe",
      "name": "Switch"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "adapterHints",
              "value": "={\n  \"adapterHints\": \"This is an ALDI UK supermarket receipt. VAT types A (0.0%) and B (20.0%) are printed next to item prices. VAT summary appears near the bottom.\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "3081577c-9779-4cb3-8a5d-897fd0b5fe4e",
      "name": "ALDI Adapter Hints",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        -288
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "adapterHints",
              "value": "={\n  \"adapterHints\": \"This is a Tesco UK supermarket receipt. VAT letters may appear next to prices. Clubcard discounts may be shown as separate lines.\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "407adb6f-9fd5-4fcf-8032-057140acd8d4",
      "name": "TESTCO Adapter Hints1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        -128
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "adapterHints",
              "value": "={\n  \"adapterHints\": \"This is a Costco receipt. Items may include quantity, unit price, and extended price. VAT may be shown per line.\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "b31b3bdd-8264-4a27-ae8a-22b94bf4c5ae",
      "name": "COSTCO Adapter Hints",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        32
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "adapterHints",
              "value": "={\n  \"adapterHints\": \"This is a supermarket receipt. VAT summary may appear near the bottom.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0e5a018-bf27-4603-b87e-3ae70e237831",
      "name": "UNKNOWN Adapter Hints2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {}
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1584,
        -80
      ],
      "id": "e90ac2e1-1af5-4205-a174-31c3dfa24584",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        272
      ],
      "id": "fe5a97cc-97e7-429b-b93c-3b2a8a25c532",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Text": {
      "main": [
        [
          {
            "node": "Pre-clean OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-clean OCR": {
      "main": [
        [
          {
            "node": "Detect Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Store": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ALDI Adapter Hints",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TESTCO Adapter Hints1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COSTCO Adapter Hints",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UNKNOWN Adapter Hints2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4bb7d4c7-aaf1-4b68-acaa-16fe55240415",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-07T18:06:46.599Z",
      "createdAt": "2026-02-07T18:06:46.599Z",
      "role": "workflow:owner",
      "workflowId": "3Wrw41MyXgUNjWoU73Rk9",
      "projectId": "Q3g8Vitc84qYTdgN"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-02-08T02:00:30.179Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "unpublished"
  }
}