workflows/pi_hole_04_gravity_daily_update_KPdVEmSE32SROo7o.json
{
  "updatedAt": "2026-04-13T09:34:46.922Z",
  "createdAt": "2026-04-09T21:20:59.176Z",
  "id": "KPdVEmSE32SROo7o",
  "name": "Pi-hole 04 Gravity Daily Update",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        }
      },
      "id": "c95ee0ce-e998-403f-bf4d-c37e5670d05d",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -752,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "/usr/bin/ssh uroot@ubuntu04.home.lan \"docker exec pihole pihole -g --quiet\"",
        "cwd": "/home/uroot/n8n"
      },
      "id": "43bacef2-b9b2-43ce-8419-afaa0fb1f3f6",
      "name": "Update Gravity",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -496,
        112
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubunto07 SSH Private Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"stdout\"]}}",
              "operation": "contains",
              "value2": "Done"
            }
          ]
        }
      },
      "id": "ce91c5a2-9e36-429d-935e-fca2bfa7a14b",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo \"Pi-hole gravity update SUCCESS at $(date)\""
      },
      "id": "a80a8324-a430-4ac1-b4a3-bc5d71806a5e",
      "name": "Success Log",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubunto07 SSH Private Key"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo \"Pi-hole gravity update FAILED at $(date)\""
      },
      "id": "eeba29e7-688e-4102-ba56-c649c2ce6933",
      "name": "Failure Log",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "CPlKuA0owWNSPR1X",
          "name": "ubunto07 SSH Private Key"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Update Gravity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Gravity": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3347eb9a-b207-4ccd-a6f1-2da2402ac0fb",
  "activeVersionId": "3347eb9a-b207-4ccd-a6f1-2da2402ac0fb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T21:20:59.180Z",
      "createdAt": "2026-04-09T21:20:59.180Z",
      "role": "workflow:owner",
      "workflowId": "KPdVEmSE32SROo7o",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-09T21:27:31.000Z",
    "createdAt": "2026-04-09T21:26:32.282Z",
    "versionId": "3347eb9a-b207-4ccd-a6f1-2da2402ac0fb",
    "workflowId": "KPdVEmSE32SROo7o",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 3
              }
            ]
          }
        },
        "id": "c95ee0ce-e998-403f-bf4d-c37e5670d05d",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -752,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "/usr/bin/ssh uroot@ubuntu04.home.lan \"docker exec pihole pihole -g --quiet\"",
          "cwd": "/home/uroot/n8n"
        },
        "id": "43bacef2-b9b2-43ce-8419-afaa0fb1f3f6",
        "name": "Update Gravity",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -496,
          112
        ],
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubunto07 SSH Private Key"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"stdout\"]}}",
                "operation": "contains",
                "value2": "Done"
              }
            ]
          }
        },
        "id": "ce91c5a2-9e36-429d-935e-fca2bfa7a14b",
        "name": "Check Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -256,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "echo \"Pi-hole gravity update SUCCESS at $(date)\""
        },
        "id": "a80a8324-a430-4ac1-b4a3-bc5d71806a5e",
        "name": "Success Log",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubunto07 SSH Private Key"
          }
        }
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "echo \"Pi-hole gravity update FAILED at $(date)\""
        },
        "id": "eeba29e7-688e-4102-ba56-c649c2ce6933",
        "name": "Failure Log",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          0,
          208
        ],
        "credentials": {
          "sshPrivateKey": {
            "id": "CPlKuA0owWNSPR1X",
            "name": "ubunto07 SSH Private Key"
          }
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Update Gravity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Gravity": {
        "main": [
          [
            {
              "node": "Check Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Success": {
        "main": [
          [
            {
              "node": "Success Log",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Failure Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 3347eb9a",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-13T09:33:09.447Z",
      "createdAt": "2026-04-13T09:33:09.447Z",
      "id": "DiCBtV4LHeG4slC4",
      "name": "Home Assistant"
    },
    {
      "updatedAt": "2026-04-13T09:31:18.988Z",
      "createdAt": "2026-04-13T09:31:18.988Z",
      "id": "O7Uqg5G4JEVGX7xu",
      "name": "Home Automation"
    }
  ],
  "_backup": {
    "backed_up_at": "2026-04-14T01:00:44.187Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}