workflows/receipt_vision_llm_direct_1ktYyADyUgqWDYDr.json
{
  "updatedAt": "2026-05-21T18:47:52.129Z",
  "createdAt": "2026-05-21T15:53:28.817Z",
  "id": "1ktYyADyUgqWDYDr",
  "name": "Receipt – Vision LLM Direct",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2208,
        320
      ],
      "id": "74d3c54f-3d3c-4d9e-999f-32753dc4254f",
      "name": "Webhook",
      "webhookId": "c48a00c3-492f-41e9-900e-e8ad76f96671"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.headers['x-bot-secret'] }}",
              "rightValue": "3qPPVe4crgE4Ev7Npd9MrDcks1OJV/fOF2J5Q1q2vzc=",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2432,
        320
      ],
      "id": "446d32f9-187a-4552-ac5e-b6cfcdfcbd2d",
      "name": "Secret Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-image",
              "leftValue": "={{ $json.body.attachments[0].content_type }}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        320
      ],
      "id": "1d99842d-2aa5-4630-a041-00f225a9c4b6",
      "name": "Image Check"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.attachments[0].proxy_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2880,
        320
      ],
      "id": "79c5abe2-d748-4758-9d65-d9a9467f9145",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3104,
        320
      ],
      "id": "cac9ac00-6dc0-4f4e-a93d-9b5168516eb7",
      "name": "To Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.mywonderful.xyz"
            },
            {
              "name": "X-Title",
              "value": "ReceiptFlow"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"perceptron/perceptron-mk1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a UK supermarket receipt parser. You will be given a photo of a supermarket receipt. Extract all data and return ONLY valid JSON — no markdown, no explanation, no code fences.\\n\\nIDENTIFY THE STORE from the header (Aldi, Tesco, Sainsbury's, Asda, Morrisons, Lidl, Waitrose, M&S, Co-op, etc.).\\n\\nStore-specific rules:\\n- Aldi/Lidl: ignore 6-digit PLU codes before item names. Discount lines follow the item they apply to.\\n- Tesco: use Clubcard price when shown, not the normal price.\\n- Sainsbury's: ignore Nectar points lines.\\n- All stores: prices are in the right column; item names in the left column.\\n\\nGeneral rules:\\n- Output pure numbers for all prices (2.49 not £2.49).\\n- quantity defaults to 1 if not shown.\\n- If a value is not clearly visible, use null — never guess.\\n- Discount lines: IsDiscountLine=true, DiscountAmount=positive number (amount saved).\\n- Date format: YYYY-MM-DD. Time format: HH:MM (24h).\\n- VAT: fresh produce/most food = 0%, hot food/snacks/alcohol = 20%.\\n- Ignore: loyalty ads, barcodes, survey codes, card **** numbers, thank-you lines.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $('Webhook').item.json.body.attachments[0].content_type }};base64,{{ $json.data }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Parse this supermarket receipt and return JSON in this exact structure:\\n{\\n  \\\"store_name\\\": string,\\n  \\\"store_branch\\\": string | null,\\n  \\\"store_address\\\": string | null,\\n  \\\"store_postcode\\\": string | null,\\n  \\\"receipt_date\\\": string | null,\\n  \\\"receipt_time\\\": string | null,\\n  \\\"currency\\\": \\\"GBP\\\",\\n  \\\"subtotal\\\": number | null,\\n  \\\"discount_total\\\": number | null,\\n  \\\"tax_amount\\\": number | null,\\n  \\\"total_amount\\\": number | null,\\n  \\\"payment_method\\\": string | null,\\n  \\\"last4_card_digits\\\": string | null,\\n  \\\"loyalty_programme\\\": string | null,\\n  \\\"items\\\": [\\n    {\\n      \\\"line_number\\\": number,\\n      \\\"product_name\\\": string,\\n      \\\"normalised_name\\\": string,\\n      \\\"category\\\": string,\\n      \\\"quantity\\\": number,\\n      \\\"unit\\\": string | null,\\n      \\\"unit_price\\\": number | null,\\n      \\\"line_total\\\": number | null,\\n      \\\"is_discount_line\\\": boolean,\\n      \\\"discount_amount\\\": number | null,\\n      \\\"is_taxable\\\": boolean,\\n      \\\"tax_rate_percent\\\": number,\\n      \\\"brand\\\": string | null,\\n      \\\"sku_or_barcode\\\": string | null\\n    }\\n  ]\\n}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3328,
        320
      ],
      "id": "a20e4d99-641f-49d4-aa2c-646dbb334d9e",
      "name": "Perceptron Vision LLM",
      "credentials": {
        "openRouterApi": {
          "id": "LYXAooPqXDxnww2H",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\n\n// Strip markdown fences if model adds them despite instructions\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM did not return valid JSON. Raw output: ' + raw.substring(0, 300));\n}\n\nif (!parsed.items || !Array.isArray(parsed.items) || parsed.items.length === 0) {\n  throw new Error('No items found in parsed receipt');\n}\n\nconst executionId = $execution.id;\nconst receiptMeta = {\n  receipt_id: executionId,\n  store_name: parsed.store_name ?? null,\n  store_branch: parsed.store_branch ?? null,\n  store_address: parsed.store_address ?? null,\n  store_postcode: parsed.store_postcode ?? null,\n  receipt_date: parsed.receipt_date ?? null,\n  receipt_time: parsed.receipt_time ?? null,\n  currency: parsed.currency ?? 'GBP',\n  subtotal: parsed.subtotal ?? null,\n  discount_total: parsed.discount_total ?? null,\n  tax_amount: parsed.tax_amount ?? null,\n  total_amount: parsed.total_amount ?? null,\n  payment_method: parsed.payment_method ?? null,\n  last4_card_digits: parsed.last4_card_digits ?? null,\n  loyalty_programme: parsed.loyalty_programme ?? null,\n  source_image_url: $('Webhook').item.json.body.attachments[0].url,\n  discord_user: $('Webhook').item.json.body.author.username,\n  created_at: new Date().toISOString(),\n};\n\n// Return one n8n item per line item, with receipt metadata merged in\nreturn parsed.items.map(item => ({\n  json: {\n    ...receiptMeta,\n    line_number: item.line_number,\n    product_name: item.product_name,\n    normalised_name: item.normalised_name,\n    category: item.category,\n    quantity: item.quantity,\n    unit: item.unit ?? null,\n    unit_price: item.unit_price ?? null,\n    line_total: item.line_total ?? null,\n    is_discount_line: item.is_discount_line ?? false,\n    discount_amount: item.discount_amount ?? null,\n    is_taxable: item.is_taxable ?? false,\n    tax_rate_percent: item.tax_rate_percent ?? 0,\n    brand: item.brand ?? null,\n    sku_or_barcode: item.sku_or_barcode ?? null,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        320
      ],
      "id": "f4dce201-a64f-48ea-b397-0cd9c6fcb732",
      "name": "Parse & Flatten"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-valid-row",
              "leftValue": "={{ $json.product_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3776,
        320
      ],
      "id": "63602f15-74d5-4310-8bfa-3d77b1c97a99",
      "name": "Filter Empty Rows"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "supermarkets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "receipt_id": "={{ $json.receipt_id }}",
            "receipt_date": "={{ $json.receipt_date }}",
            "receipt_time": "={{ $json.receipt_time }}",
            "store_name": "={{ $json.store_name }}",
            "store_branch": "={{ $json.store_branch }}",
            "store_address": "={{ $json.store_address }}",
            "store_postcode": "={{ $json.store_postcode }}",
            "currency": "={{ $json.currency }}",
            "subtotal": "={{ $json.subtotal }}",
            "discount_total": "={{ $json.discount_total }}",
            "tax_amount": "={{ $json.tax_amount }}",
            "total_amount": "={{ $json.total_amount }}",
            "payment_method": "={{ $json.payment_method }}",
            "last4_card_digits": "={{ $json.last4_card_digits }}",
            "loyalty_programme": "={{ $json.loyalty_programme }}",
            "line_number": "={{ $json.line_number }}",
            "product_name": "={{ $json.product_name }}",
            "normalised_name": "={{ $json.normalised_name }}",
            "category": "={{ $json.category }}",
            "quantity": "={{ $json.quantity }}",
            "unit": "={{ $json.unit }}",
            "unit_price": "={{ $json.unit_price }}",
            "line_total": "={{ $json.line_total }}",
            "is_discount_line": "={{ $json.is_discount_line }}",
            "discount_amount": "={{ $json.discount_amount }}",
            "is_taxable": "={{ $json.is_taxable }}",
            "tax_rate_percent": "={{ $json.tax_rate_percent }}",
            "brand": "={{ $json.brand }}",
            "sku_or_barcode": "={{ $json.sku_or_barcode }}",
            "source_image_url": "={{ $json.source_image_url }}",
            "discord_user": "={{ $json.discord_user }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "receipt_id",
              "displayName": "receipt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receipt_date",
              "displayName": "receipt_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receipt_time",
              "displayName": "receipt_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_branch",
              "displayName": "store_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_address",
              "displayName": "store_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_postcode",
              "displayName": "store_postcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_total",
              "displayName": "discount_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tax_amount",
              "displayName": "tax_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last4_card_digits",
              "displayName": "last4_card_digits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "loyalty_programme",
              "displayName": "loyalty_programme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_number",
              "displayName": "line_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalised_name",
              "displayName": "normalised_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_total",
              "displayName": "line_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_discount_line",
              "displayName": "is_discount_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_amount",
              "displayName": "discount_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_taxable",
              "displayName": "is_taxable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tax_rate_percent",
              "displayName": "tax_rate_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku_or_barcode",
              "displayName": "sku_or_barcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_image_url",
              "displayName": "source_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discord_user",
              "displayName": "discord_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4016,
        320
      ],
      "id": "85a0dd68-9d42-40b8-bcff-c494eba4f968",
      "name": "Append to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DgucYvkJJQVWqK51",
          "name": "Job.Automation Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1467482881210323021",
          "mode": "list",
          "cachedResultName": "donut-automation",
          "cachedResultUrl": "https://discord.com/channels/1467482881210323021"
        },
        "channelId": {
          "__rl": true,
          "value": "1467485311335534675",
          "mode": "list",
          "cachedResultName": "receipts",
          "cachedResultUrl": "https://discord.com/channels/1467482881210323021/1467485311335534675"
        },
        "content": "=✅ Done! *{{ $('Parse & Flatten').first().json.store_name }}* — {{ $('Parse & Flatten').first().json.receipt_date }} — £{{ $('Parse & Flatten').first().json.total_amount }} ({{ $items().length }} items added to Sheets)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4240,
        320
      ],
      "id": "94371eb6-cec1-4567-8643-5b5d82aa3434",
      "name": "Discord – Success",
      "webhookId": "59776d08-2791-4e3d-8a14-221485998190",
      "credentials": {
        "discordBotApi": {
          "id": "uMc0msEp6imVVJtp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1467482881210323021",
          "mode": "list",
          "cachedResultName": "donut-automation",
          "cachedResultUrl": "https://discord.com/channels/1467482881210323021"
        },
        "channelId": {
          "__rl": true,
          "value": "1467485311335534675",
          "mode": "list",
          "cachedResultName": "receipts",
          "cachedResultUrl": "https://discord.com/channels/1467482881210323021/1467485311335534675"
        },
        "content": "❌ Please upload an image of a receipt.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2656,
        544
      ],
      "id": "bdf938a0-ec32-4100-8b4a-3f07bb675be5",
      "name": "Discord – Not an Image",
      "webhookId": "c2573333-276f-4ead-9c34-ba702d6edf3a",
      "credentials": {
        "discordBotApi": {
          "id": "uMc0msEp6imVVJtp",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Secret Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret Check": {
      "main": [
        [
          {
            "node": "Image Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Check": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord – Not an Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "To Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Base64": {
      "main": [
        [
          {
            "node": "Perceptron Vision LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perceptron Vision LLM": {
      "main": [
        [
          {
            "node": "Parse & Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Flatten": {
      "main": [
        [
          {
            "node": "Filter Empty Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Rows": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Discord – Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3a71523b-4cd4-47de-ae9e-981eccc1134c",
  "activeVersionId": "3a71523b-4cd4-47de-ae9e-981eccc1134c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T15:53:28.820Z",
      "createdAt": "2026-05-21T15:53:28.820Z",
      "role": "workflow:owner",
      "workflowId": "1ktYyADyUgqWDYDr",
      "projectId": "PorrnAHK6jPReB5P"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-21T18:48:25.000Z",
    "createdAt": "2026-05-21T18:47:52.130Z",
    "versionId": "3a71523b-4cd4-47de-ae9e-981eccc1134c",
    "workflowId": "1ktYyADyUgqWDYDr",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "discord",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          2208,
          320
        ],
        "id": "74d3c54f-3d3c-4d9e-999f-32753dc4254f",
        "name": "Webhook",
        "webhookId": "c48a00c3-492f-41e9-900e-e8ad76f96671"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-secret",
                "leftValue": "={{ $json.headers['x-bot-secret'] }}",
                "rightValue": "3qPPVe4crgE4Ev7Npd9MrDcks1OJV/fOF2J5Q1q2vzc=",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2432,
          320
        ],
        "id": "446d32f9-187a-4552-ac5e-b6cfcdfcbd2d",
        "name": "Secret Check"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-image",
                "leftValue": "={{ $json.body.attachments[0].content_type }}",
                "rightValue": "image/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2656,
          320
        ],
        "id": "1d99842d-2aa5-4630-a041-00f225a9c4b6",
        "name": "Image Check"
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.attachments[0].proxy_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2880,
          320
        ],
        "id": "79c5abe2-d748-4758-9d65-d9a9467f9145",
        "name": "Download Image"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          3104,
          320
        ],
        "id": "cac9ac00-6dc0-4f4e-a93d-9b5168516eb7",
        "name": "To Base64"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openRouterApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "HTTP-Referer",
                "value": "https://n8n.mywonderful.xyz"
              },
              {
                "name": "X-Title",
                "value": "ReceiptFlow"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"perceptron/perceptron-mk1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a UK supermarket receipt parser. You will be given a photo of a supermarket receipt. Extract all data and return ONLY valid JSON — no markdown, no explanation, no code fences.\\n\\nIDENTIFY THE STORE from the header (Aldi, Tesco, Sainsbury's, Asda, Morrisons, Lidl, Waitrose, M&S, Co-op, etc.).\\n\\nStore-specific rules:\\n- Aldi/Lidl: ignore 6-digit PLU codes before item names. Discount lines follow the item they apply to.\\n- Tesco: use Clubcard price when shown, not the normal price.\\n- Sainsbury's: ignore Nectar points lines.\\n- All stores: prices are in the right column; item names in the left column.\\n\\nGeneral rules:\\n- Output pure numbers for all prices (2.49 not £2.49).\\n- quantity defaults to 1 if not shown.\\n- If a value is not clearly visible, use null — never guess.\\n- Discount lines: IsDiscountLine=true, DiscountAmount=positive number (amount saved).\\n- Date format: YYYY-MM-DD. Time format: HH:MM (24h).\\n- VAT: fresh produce/most food = 0%, hot food/snacks/alcohol = 20%.\\n- Ignore: loyalty ads, barcodes, survey codes, card **** numbers, thank-you lines.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $('Webhook').item.json.body.attachments[0].content_type }};base64,{{ $json.data }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Parse this supermarket receipt and return JSON in this exact structure:\\n{\\n  \\\"store_name\\\": string,\\n  \\\"store_branch\\\": string | null,\\n  \\\"store_address\\\": string | null,\\n  \\\"store_postcode\\\": string | null,\\n  \\\"receipt_date\\\": string | null,\\n  \\\"receipt_time\\\": string | null,\\n  \\\"currency\\\": \\\"GBP\\\",\\n  \\\"subtotal\\\": number | null,\\n  \\\"discount_total\\\": number | null,\\n  \\\"tax_amount\\\": number | null,\\n  \\\"total_amount\\\": number | null,\\n  \\\"payment_method\\\": string | null,\\n  \\\"last4_card_digits\\\": string | null,\\n  \\\"loyalty_programme\\\": string | null,\\n  \\\"items\\\": [\\n    {\\n      \\\"line_number\\\": number,\\n      \\\"product_name\\\": string,\\n      \\\"normalised_name\\\": string,\\n      \\\"category\\\": string,\\n      \\\"quantity\\\": number,\\n      \\\"unit\\\": string | null,\\n      \\\"unit_price\\\": number | null,\\n      \\\"line_total\\\": number | null,\\n      \\\"is_discount_line\\\": boolean,\\n      \\\"discount_amount\\\": number | null,\\n      \\\"is_taxable\\\": boolean,\\n      \\\"tax_rate_percent\\\": number,\\n      \\\"brand\\\": string | null,\\n      \\\"sku_or_barcode\\\": string | null\\n    }\\n  ]\\n}\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3328,
          320
        ],
        "id": "a20e4d99-641f-49d4-aa2c-646dbb334d9e",
        "name": "Perceptron Vision LLM",
        "credentials": {
          "openRouterApi": {
            "id": "LYXAooPqXDxnww2H",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.choices[0].message.content;\n\n// Strip markdown fences if model adds them despite instructions\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM did not return valid JSON. Raw output: ' + raw.substring(0, 300));\n}\n\nif (!parsed.items || !Array.isArray(parsed.items) || parsed.items.length === 0) {\n  throw new Error('No items found in parsed receipt');\n}\n\nconst executionId = $execution.id;\nconst receiptMeta = {\n  receipt_id: executionId,\n  store_name: parsed.store_name ?? null,\n  store_branch: parsed.store_branch ?? null,\n  store_address: parsed.store_address ?? null,\n  store_postcode: parsed.store_postcode ?? null,\n  receipt_date: parsed.receipt_date ?? null,\n  receipt_time: parsed.receipt_time ?? null,\n  currency: parsed.currency ?? 'GBP',\n  subtotal: parsed.subtotal ?? null,\n  discount_total: parsed.discount_total ?? null,\n  tax_amount: parsed.tax_amount ?? null,\n  total_amount: parsed.total_amount ?? null,\n  payment_method: parsed.payment_method ?? null,\n  last4_card_digits: parsed.last4_card_digits ?? null,\n  loyalty_programme: parsed.loyalty_programme ?? null,\n  source_image_url: $('Webhook').item.json.body.attachments[0].url,\n  discord_user: $('Webhook').item.json.body.author.username,\n  created_at: new Date().toISOString(),\n};\n\n// Return one n8n item per line item, with receipt metadata merged in\nreturn parsed.items.map(item => ({\n  json: {\n    ...receiptMeta,\n    line_number: item.line_number,\n    product_name: item.product_name,\n    normalised_name: item.normalised_name,\n    category: item.category,\n    quantity: item.quantity,\n    unit: item.unit ?? null,\n    unit_price: item.unit_price ?? null,\n    line_total: item.line_total ?? null,\n    is_discount_line: item.is_discount_line ?? false,\n    discount_amount: item.discount_amount ?? null,\n    is_taxable: item.is_taxable ?? false,\n    tax_rate_percent: item.tax_rate_percent ?? 0,\n    brand: item.brand ?? null,\n    sku_or_barcode: item.sku_or_barcode ?? null,\n  }\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3552,
          320
        ],
        "id": "f4dce201-a64f-48ea-b397-0cd9c6fcb732",
        "name": "Parse & Flatten"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-valid-row",
                "leftValue": "={{ $json.product_name }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          3776,
          320
        ],
        "id": "63602f15-74d5-4310-8bfa-3d77b1c97a99",
        "name": "Filter Empty Rows"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ",
            "mode": "list",
            "cachedResultName": "Receipts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "supermarkets",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12QQW6b1ezpWcXGg-XCQodaSRpIknEKpewvSAsnxx4jQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "receipt_id": "={{ $json.receipt_id }}",
              "receipt_date": "={{ $json.receipt_date }}",
              "receipt_time": "={{ $json.receipt_time }}",
              "store_name": "={{ $json.store_name }}",
              "store_branch": "={{ $json.store_branch }}",
              "store_address": "={{ $json.store_address }}",
              "store_postcode": "={{ $json.store_postcode }}",
              "currency": "={{ $json.currency }}",
              "subtotal": "={{ $json.subtotal }}",
              "discount_total": "={{ $json.discount_total }}",
              "tax_amount": "={{ $json.tax_amount }}",
              "total_amount": "={{ $json.total_amount }}",
              "payment_method": "={{ $json.payment_method }}",
              "last4_card_digits": "={{ $json.last4_card_digits }}",
              "loyalty_programme": "={{ $json.loyalty_programme }}",
              "line_number": "={{ $json.line_number }}",
              "product_name": "={{ $json.product_name }}",
              "normalised_name": "={{ $json.normalised_name }}",
              "category": "={{ $json.category }}",
              "quantity": "={{ $json.quantity }}",
              "unit": "={{ $json.unit }}",
              "unit_price": "={{ $json.unit_price }}",
              "line_total": "={{ $json.line_total }}",
              "is_discount_line": "={{ $json.is_discount_line }}",
              "discount_amount": "={{ $json.discount_amount }}",
              "is_taxable": "={{ $json.is_taxable }}",
              "tax_rate_percent": "={{ $json.tax_rate_percent }}",
              "brand": "={{ $json.brand }}",
              "sku_or_barcode": "={{ $json.sku_or_barcode }}",
              "source_image_url": "={{ $json.source_image_url }}",
              "discord_user": "={{ $json.discord_user }}",
              "created_at": "={{ $json.created_at }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "receipt_id",
                "displayName": "receipt_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "receipt_date",
                "displayName": "receipt_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "receipt_time",
                "displayName": "receipt_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store_name",
                "displayName": "store_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store_branch",
                "displayName": "store_branch",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store_address",
                "displayName": "store_address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store_postcode",
                "displayName": "store_postcode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "currency",
                "displayName": "currency",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "subtotal",
                "displayName": "subtotal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "discount_total",
                "displayName": "discount_total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tax_amount",
                "displayName": "tax_amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "total_amount",
                "displayName": "total_amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "payment_method",
                "displayName": "payment_method",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "last4_card_digits",
                "displayName": "last4_card_digits",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "loyalty_programme",
                "displayName": "loyalty_programme",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "line_number",
                "displayName": "line_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "product_name",
                "displayName": "product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "normalised_name",
                "displayName": "normalised_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "category",
                "displayName": "category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "quantity",
                "displayName": "quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unit",
                "displayName": "unit",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unit_price",
                "displayName": "unit_price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "line_total",
                "displayName": "line_total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "is_discount_line",
                "displayName": "is_discount_line",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "discount_amount",
                "displayName": "discount_amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "is_taxable",
                "displayName": "is_taxable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tax_rate_percent",
                "displayName": "tax_rate_percent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "brand",
                "displayName": "brand",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sku_or_barcode",
                "displayName": "sku_or_barcode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source_image_url",
                "displayName": "source_image_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "discord_user",
                "displayName": "discord_user",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4016,
          320
        ],
        "id": "85a0dd68-9d42-40b8-bcff-c494eba4f968",
        "name": "Append to Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DgucYvkJJQVWqK51",
            "name": "Job.Automation Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1467482881210323021",
            "mode": "list",
            "cachedResultName": "donut-automation",
            "cachedResultUrl": "https://discord.com/channels/1467482881210323021"
          },
          "channelId": {
            "__rl": true,
            "value": "1467485311335534675",
            "mode": "list",
            "cachedResultName": "receipts",
            "cachedResultUrl": "https://discord.com/channels/1467482881210323021/1467485311335534675"
          },
          "content": "=✅ Done! *{{ $('Parse & Flatten').first().json.store_name }}* — {{ $('Parse & Flatten').first().json.receipt_date }} — £{{ $('Parse & Flatten').first().json.total_amount }} ({{ $items().length }} items added to Sheets)",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          4240,
          320
        ],
        "id": "94371eb6-cec1-4567-8643-5b5d82aa3434",
        "name": "Discord – Success",
        "webhookId": "59776d08-2791-4e3d-8a14-221485998190",
        "credentials": {
          "discordBotApi": {
            "id": "uMc0msEp6imVVJtp",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1467482881210323021",
            "mode": "list",
            "cachedResultName": "donut-automation",
            "cachedResultUrl": "https://discord.com/channels/1467482881210323021"
          },
          "channelId": {
            "__rl": true,
            "value": "1467485311335534675",
            "mode": "list",
            "cachedResultName": "receipts",
            "cachedResultUrl": "https://discord.com/channels/1467482881210323021/1467485311335534675"
          },
          "content": "❌ Please upload an image of a receipt.",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2656,
          544
        ],
        "id": "bdf938a0-ec32-4100-8b4a-3f07bb675be5",
        "name": "Discord – Not an Image",
        "webhookId": "c2573333-276f-4ead-9c34-ba702d6edf3a",
        "credentials": {
          "discordBotApi": {
            "id": "uMc0msEp6imVVJtp",
            "name": "Discord Bot account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Secret Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Secret Check": {
        "main": [
          [
            {
              "node": "Image Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Image Check": {
        "main": [
          [
            {
              "node": "Download Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Discord – Not an Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image": {
        "main": [
          [
            {
              "node": "To Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Base64": {
        "main": [
          [
            {
              "node": "Perceptron Vision LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Perceptron Vision LLM": {
        "main": [
          [
            {
              "node": "Parse & Flatten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Flatten": {
        "main": [
          [
            {
              "node": "Filter Empty Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Empty Rows": {
        "main": [
          [
            {
              "node": "Append to Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append to Google Sheets": {
        "main": [
          [
            {
              "node": "Discord – Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "4you donut",
    "name": "Version 3a71523b",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_backup": {
    "backed_up_at": "2026-05-22T01:00:19.203Z",
    "source": "n8n",
    "backup_type": "workflow",
    "status": "published"
  }
}